.panel-group {
  margin: 0;
}
.panel-group #projects {
  border: none;
  border-radius: 0;
}
.panel-group #projects .panel {
  border: none;
}
.panel-group #projects .panel .panel-heading {
  padding: 0;
}
.panel-group #projects .panel .panel-heading .panel-heading-container {
  background-color: #33691e;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  padding: 2px;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .md-button {
  width: 100%;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .md-button:hover {
  color: #ff80ab;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .project-title {
  padding-left: 0;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .project-title .expand-icon {
  font-size: 1rem;
  margin: 8px;
  padding-top: 2px;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .project-title h2 {
  font-size: 1rem;
  margin: 0;
  padding: 8px;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .project-title:hover {
  color: #ff80ab;
}
.panel-group #projects .panel .panel-heading .panel-heading-container .toolbar-right {
  float: right;
}
.panel-group #projects .panel .panel-body {
  border: none;
  padding: 0px;
}
.panel-group #projects .panel .panel-body .project-list {
  margin-bottom: 0;
}
.panel-group #projects .panel .panel-body .project-list .project-item {
  border-radius: 0;
  height: 2rem;
  min-height: 36px;
  padding: 0;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row {
  height: 100%;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .heading-item,
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-item-col {
  height: 100%;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .icon-button-container {
  padding: 0;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-name-container {
  display: table;
  height: 100%;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-name-container .project-name {
  display: table-cell;
  padding-left: 1rem;
  vertical-align: middle;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-name-container .project-name:hover {
  color: #ff4081;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-edit {
  height: 100%;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-edit .input-group {
  padding-left: 1rem;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .project-edit .input-group .project-rename {
  display: inline-block;
  height: 2rem;
  min-height: 36px;
  position: relative;
  padding: 0 0 0 4px;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .md-button {
  width: 100%;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .md-button .material-icons {
  font-size: 1rem;
}
.panel-group #projects .panel .panel-body .project-list .project-item .project-item-row .md-button:hover {
  color: #ff4081;
}
.panel-group #projects .panel .panel-body .project-list .project-item.active {
  background-color: #558b2f;
  border: none;
}
.panel-group #projects .panel .panel-body .project-list .project-item.active .project-name:hover,
.panel-group #projects .panel .panel-body .project-list .project-item.active .md-button:hover {
  color: #ff80ab;
}
