#search-panel {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}
#search-panel .datasources {
  padding-top: 0;
}
#search-panel md-datepicker {
  max-width: 100%;
}
#search-panel .md-toolbar-tools {
  height: 2.5rem;
}
#search-panel .md-toolbar-tools #searchButton {
  background-color: #ff80ab;
  height: 2rem;
  margin: 0;
  min-height: 0;
  padding: 0;
  width: 2rem;
}
#search-panel .md-toolbar-tools #searchButton .material-icons {
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.5rem;
  height: 100%;
  line-height: 2rem;
  width: 100%;
}
#search-panel .md-toolbar-tools #searchButton:hover {
  background-color: #ff4081;
}
#search-panel .md-toolbar-tools .btn-success:focus {
  background-color: #558b2f;
}
#search-panel .md-toolbar-tools .md-button[disabled] {
  background-color: #BBB !important;
}
#search-panel .md-toolbar-tools .btn-success[disabled]:hover {
  background-color: #d50000 !important;
}
