#services .item-list h3 {
  font-size: 0.8rem;
}
#services .item-list p {
  font-size: 0.5rem;
}
#services .item-list .toolbar-button .material-icons {
  font-size: 1rem;
}
#services .item-list .material-icons {
  font-size: 0.8rem;
}
.star-full {
  color: #ffd600;
}
