#workspace-panel .info {
  color: #ff4081;
}
#workspace-panel .service-header {
  text-align: center;
}
#workspace-panel .service-header .service-title {
  font-size: 1.2rem;
  margin-bottom: 0;
}
#workspace-panel .workspace-content {
  font-size: 0.8rem;
  line-height: 1rem;
}
#workspace-panel .workspace-content i {
  font-size: 0.9rem;
}
#workspace-panel #launch-button {
  background-color: #ff80ab;
  bottom: 20px;
  float: right;
  height: 40px;
  margin: 0;
  min-height: 0;
  padding: 0;
  position: fixed;
  right: 40px;
  width: 40px;
}
#workspace-panel #launch-button .material-icons {
  color: rgba(255, 255, 255, 0.87);
  font-size: 30px;
  height: 100%;
  line-height: 40px;
  width: 100%;
}
#workspace-panel #launch-button:hover {
  background-color: #ff4081;
}
md-chip {
  background-color: lightgray;
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.54);
  display: block;
  float: left;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
  margin: 2px;
  max-width: 110px;
  padding-left: 12px;
}
md-chip .md-chip-content {
  float: left;
  height: 32px;
  max-width: 50px;
  overflow: hidden;
  padding-right: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
md-chip .md-chip-close {
  float: right;
  line-height: 22px;
  padding-right: 12px;
  padding-top: 4px;
}
md-chip .md-chip-close i {
  cursor: pointer;
  font-size: 12px;
}
md-chip:hover {
  background-color: #31708f;
  color: rgba(255, 255, 255, 0.87);
}
