#bottombar-header {
  float: right;
  position: relative;
  width: 50%;
}
#bottombar-header .button-section {
  padding-left: 0px;
  padding-right: 0px;
}
#bottombar-header .button-section .md-button.md-focused:not([disabled]) {
  background-color: transparent;
  outline: none;
}
#bottombar-header .button-section button {
  color: rgba(0, 0, 0, 0.87);
  float: right;
}
#bottombar-header .button-section button:hover {
  color: #ff4081;
}
#bottombar-header .button-section .pagination {
  float: right;
  margin: 0.5rem 0;
}
#bottombar-header .button-section .pagination li:first-child a {
  border: none;
}
#bottombar-header .button-section .pagination a {
  background-color: transparent;
  border: none;
  color: #558b2f;
  padding: 2px 0.5rem;
  border-left: #d2d2d2 solid 1px;
}
#bottombar-header .button-section .pagination a:hover {
  background: #ff80ab;
  color: #33691e;
}
#bottombar-header .button-section .pagination .active a {
  background-color: #ff4081;
  border-color: #ff4081;
  color: rgba(255, 255, 255, 0.87);
}
#bottombar-header .row {
  padding: 0 20px;
}
