#jobs .job-checkboxes {
  margin: 10px;
}
#jobs .job-checkboxes div:focus {
  outline: none;
  border: 0;
}
#jobs .job-checkboxes md-checkbox {
  margin: 0;
}
#jobs md-tabs {
  height: 100%;
}
#jobs .check-container {
  padding: 4px 0;
}
#jobs-list label {
  font-size: medium;
  color: #525252;
  cursor: pointer;
}
#jobs-list .list-arrow {
  float: left;
  border: none;
}
#jobs-list {
  overflow-x: hidden;
  background-color: #eaebe2;
  margin-bottom: 3px;
}
#jobs-list .glyphicon-remove {
  color: #be1421;
  cursor: pointer;
}
#jobs-list .list-item {
  border: solid 1px #cfcf9e;
}
.job-status {
  border-radius: 0.7em;
  color: #fff;
  margin-top: 5px;
  padding: 2px;
  width: 80px;
  height: 1.4em;
  text-align: center;
  line-height: 1.2em;
  font-size: smaller;
  float: right;
  cursor: default;
  background: #727272;
}
.job-popover-list {
  list-style: none;
}
.rating {
  cursor: default;
  float: right;
}
.rating img {
  height: 12px;
  width: 12px;
}
