/* Groups */
#groups-area {
  margin: 14px 4px 4px 12px;
}
#group-search {
  width: 30em;
  height: 2.5em;
  margin-left: 30px;
}
#groups-area div {
  width: 33vw;
  margin-right: 12px;
  padding: 10px;
  background-color: #dbeadd;
}
.fieldBlock {
  display: block;
  background-color: #c8c8c8;
  width: 250px;
  float: left;
  padding: 1px;
}
.fieldBlock1 {
  display: block;
  background-color: #646464;
  width: 250px;
  float: left;
  padding: 1px;
}
.title {
  font-weight: bold;
}
input {
  border: 1px solid gray;
  font-size: 1.1em;
}
/* End of Groups */
