#map {
	position: relative;
	top: -54px;
	height: 50vh;
}

.box-selection {
    top: 65px;
    left: .5em;
}

.polygon-selection {
    top: 95px;
    left: .5em;
}

.circle-selection {
    top: 125px;
    left: .5em;
}

.map-control {
	height: 1em;
}

#map .btn-control {
    position: absolute;
    margin: 62px 3px;
    height: 2em;
    width: 2em;
	padding: 1px;
	background-color: rgba(0,60,136,.5);
	color: rgba(255,255,255,.8);
	font-size: 1.14em;
	border: 4px solid rgba(255,255,255,.2);
    z-index: 10;
}

#map .open-search {
    margin-left: 40px;
}

#map .open-workspace {
    right: 1em;
    top: 60px;
    width: 2em;
}

#map .map-clear {
    margin-left: 7px;
    top: 120px;
    width: 28px;
    height: 28px;
    padding: 0px;
}

#map .map-clear .glyphicon-remove {
    color: #fff;
    top: 1px;
}

#map .map-type {
    min-height: 1.6em;
    min-width: 1.6em;
    height: 2em;
    padding: 0px;
    right: 1em;
    top: 20px;
}

#map .map-type img {
	height: 1.2em;
	width: 1.2em;
	padding: 0px;
	position: relative;
	top: -6px;
}

.btn-open-search:hover {
    color: rgba(255,255,255,.8);
}

#timeSlider-div {
	position: relative;
	bottom: -50vh;
	z-index: 20;
}

/* Overwrite time slider label color */
.rzslider .rz-bubble, .rzslider .rz-bubble.rz-limit {
    color: #ffffff;
}