#navbar {
  background-color: #f8f8f8;
  height: 50px;
  margin-bottom: 0;
  z-index: 50;
}
#navbar .navbar-container {
  height: 50px;
}
#navbar .navbar-container .navbar-header {
  padding-right: 1rem;
}
#navbar .navbar-container .navbar-header img {
  height: 50px;
  padding: 5px;
}
#navbar .navbar-container .navbar-contents .nav {
  height: 100%;
}
#navbar .navbar-container .navbar-contents .nav li {
  height: 50px;
  padding: 0 20px;
  border-right: #d2d2d2 solid 1px;
}
#navbar .navbar-container .navbar-contents .nav li p {
  padding-top: 14px;
  vertical-align: middle;
}
#navbar .navbar-container .navbar-contents .nav li p .material-icons {
  font-size: 1.2rem;
}
#navbar .navbar-container .navbar-contents .nav li.active {
  border-bottom: #558b2f solid 4px;
}
#navbar .navbar-container .navbar-contents .nav li.active p {
  color: #33691e !important;
}
@media (max-width: 767px) {
  #navbar .navbar-container .navbar-contents .nav li.active {
    background-color: #aed581;
    border: none;
  }
}
#navbar .navbar-container .navbar-contents .nav li:first-child {
  border-left: #d2d2d2 solid 1px;
}
#navbar .navbar-container .navbar-contents .nav li:hover {
  background-color: #d2d2d2;
}
#navbar .navbar-container .navbar-contents .nav li:hover p {
  color: #33691e;
}
@media (max-width: 800px) {
  #navbar .navbar-container .navbar-contents .nav li {
    padding: 0 16px;
  }
}
/** TODO: Remove after pre-realease **/
.ribbon-wrapper {
  height: 88px;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 85px;
  z-index: 90;
}
.ribbon {
  background-color: #ff4081;
  background-image: linear-gradient(top, #ff4081, #c51162);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.87);
  font: bold 1rem;
  left: -5px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  top: 15px;
  transform: rotate(45deg);
  width: 120px;
}
