#navbar {
  background-color: #f8f8f8;
  border: none;
  height: 50px;
  margin-bottom: 0;
  z-index: 50;
}
#navbar .navbar-container {
  height: 50px;
}
#navbar .navbar-container .navbar-header {
  padding-right: 1rem;
}
#navbar .navbar-container .navbar-header img {
  height: 50px;
  padding: 5px;
}
#navbar .navbar-container .navbar-contents .nav {
  height: 100%;
  margin: 0;
}
#navbar .navbar-container .navbar-contents .nav li {
  background-color: #f8f8f8;
  cursor: pointer;
  height: 50px;
  padding: 0 20px;
  border-right: #d2d2d2 solid 1px;
}
#navbar .navbar-container .navbar-contents .nav li p {
  padding-top: 14px;
  vertical-align: middle;
}
#navbar .navbar-container .navbar-contents .nav li p .material-icons {
  font-size: 1.2rem;
}
#navbar .navbar-container .navbar-contents .nav li.active {
  border-bottom: #558b2f solid 4px;
}
#navbar .navbar-container .navbar-contents .nav li.active p {
  color: #33691e !important;
}
@media (max-width: 767px) {
  #navbar .navbar-container .navbar-contents .nav li.active {
    background-color: #aed581;
    border: none;
  }
}
#navbar .navbar-container .navbar-contents .nav li:first-child {
  border-left: #d2d2d2 solid 1px;
}
#navbar .navbar-container .navbar-contents .nav li:hover {
  background-color: #d2d2d2;
}
#navbar .navbar-container .navbar-contents .nav li:hover p {
  color: #33691e;
}
@media (max-width: 800px) {
  #navbar .navbar-container .navbar-contents .nav li {
    padding: 0 16px;
  }
}
/** TODO: Remove after pre-realease **/
.ribbon {
  position: fixed;
  right: -30px;
  top: 12px;
  z-index: 51;
  background-color: #ff4081;
  background-image: linear-gradient(to top, #ff80ab, #ff4081);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.87);
  font: bold 1rem;
  padding: 7px 0;
  text-align: center;
  transform: rotate(45deg);
  width: 120px;
}
