[Unit]
Description=F-TEP Zoo Manager
After=syslog.target
After=network.target

[Service]
User=ftep
ExecStart=/var/f-tep/zoomanager/f-tep-zoomanager.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
