@import "variable";
#developer-container {
    padding-left: @sidenav-width !important;
    #reference-container {
        width: 100%;
        #user-references{
            .reference-list{
                list-style: none;
                padding-left: 0px;
                .refrence-item{
                    border: solid 1px @light-gray;
                    padding: 4px 10px;
                    margin-top: 2px;
                }
            }
        }
        #refDataForm {
            .border(border-bottom, @bg);
            .border(border-left, @bg);
            h3 {
                margin: 0;
            }
            md-input-container {
                margin: 0.5rem 0;
                width: 100%;
            }
            .drop-box-container {
                padding: 1rem;
                padding-bottom: 4rem;
                .dragover {
                    background-color: @brand-light;
                    border: 5px solid @brand-dark!important;
                }
                .drop-box {
                    border: 5px dashed @light-gray;
                    color: @dark-gray;
                    cursor: pointer;
                    height: 5rem;
                    padding: 1.5rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}
