@import "variable";
#developer-container {
    padding-left: @sidenav-width !important;
    .service-content {
        height: 100%;
        width: 100%;
    }
    #reference-container {
        width: 100%;
        #user-references{
            .reference-list{
                list-style: none;
                padding-left: 0px;
                .refrence-item{
                    border: solid 1px @light-gray;
                    padding: 4px 10px;
                    margin-top: 2px;
                }
            }
        }
        #refDataForm {
            .border(border-bottom, @bg);
            .border(border-left, @bg);
            h3 {
                margin: 0;
            }
            md-input-container {
                margin: 0.5rem 0;
                width: 100%;
            }
            .drop-box-container {
                padding: 1rem;
                padding-bottom: 4rem;
                .dragover {
                    background-color: @brand-light;
                    border: 5px solid @brand-dark!important;
                }
                .drop-box {
                    border: 5px dashed @light-gray;
                    color: @dark-gray;
                    cursor: pointer;
                    height: 5rem;
                    padding: 1.5rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
    #service-container {
        height: 100%;
        width: 100%;
        .left-container {
            background-color: @bg;
            height: 100%;
            padding: 0;
            padding-left: @sidenav-width;
            #sidebar-list {
                height: 100%;
                overflow-y: auto;
            }
        }
        .right-container {
            height: 100%;
            overflow-y: scroll;
            padding: 0.5rem 1rem;
            form {
                height: 100%;
                md-input-container {
                    margin: 4px 0;
                }
            }
            #editor-tabs{
                height: 80%;
                padding-left: @sidenav-width;
                margin: 10px 0;
                md-tabs-content-wrapper {
                    md-tab-content {
                        height: 100%;
                        md-content {
                            background-color: transparent;
                            .border(border-top, @bg);
                            height: 100%;
                            padding: 0;
                            .tab-content {
                                height: 100%;
                                .tab-content-container {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .file-editor textarea.md-input {
                   font-family: 'Courier';
                   border: none;
                }
            }
            .save-button {
                position: absolute;
                right: 3px;
            }
            .service-description {
                width: 100%;
            }
        }
    }
}
