#services-accordion .input-group {
  margin-bottom: 12px;
}
.services-content {
  height: 65vh;
  overflow-y: scroll;
}
#services-list md-list-item:HOVER {
  cursor: pointer;
  background-color: #f0f0f0;
}
.product-item {
  word-wrap: break-word;
}
