target
.project
.classpath
.settings
.metadata
*.iml
.idea
.*.swp
.dist/
.repository/
.home/
distribution/puppet/hieradata/standalone.local.yaml
distribution/puppet/modules/
third-party/cots/puppet-ftep/
.vagrant/

