[submodule "third-party/puppet/cgieoss-ftep"]
	path = third-party/puppet/cgieoss-ftep
	url = https://github.com/cgi-eoss/puppet-ftep.git
	branch = development
[submodule "third-party/cxx/zoo-project/src"]
	path = third-party/cxx/zoo-project/src
	url = https://github.com/OSGeo/zoo-project.git
	branch = master
[submodule "build"]
	path = build
	url = https://github.com/cgi-eoss/ftep-build-container
	branch = master
