target
.project
.classpath
.settings
.metadata
*.iml
.idea
.*.swp
.dist/
.repository/
.home/
distribution/puppet/hieradata/standalone.local.yaml
distribution/puppet/modules/
.vagrant/
ftep-portal/src/main/resources/.tmp
ftep-portal/src/main/resources/bower_components
ftep-portal/src/main/resources/dist
ftep-portal/src/main/resources/node_modules
ftep-portal/src/main/resources/app/styles/**.css
ftep-portal/src/main/resources/.bowerrc
ftep-portal/src/main/resources/.sass-cache