<div class="tab-content-container row" ng-controller="CommunityServicesCtrl">

    <article id="services-container"
             class="col-md-4 col-xl-3 col-xxl-2 no-padding left-container"
             ng-include src="'views/community/common/services/services.html'" />

    <article id="service-manage-container"
             class="col-md-8 col-xl-9 col-xxl-10 right-container"
             ng-include ng-controller="CommunityManageServiceCtrl"
             src="'views/community/manage/services/service.html'"
             ng-if="serviceParams.selectedService && navInfo.activeSideNav === 0"/>

    <article id="service-share-container"
             class="col-md-8 col-xl-9 col-xxl-10 right-container"
             ng-include ng-controller="CommunityShareServiceCtrl"
             src="'views/community/share/services/service.html'"
             ng-if="serviceParams.selectedService && navInfo.activeSideNav === 1" />
</div>
