<section id="sidebar-list">

    <div class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-10" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-2 expander">
                    <i class="material-icons"
                       ng-show="!serviceParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="serviceParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="serviceParams.displayFilters">
                <input ng-model="itemSearch.searchText" type="text" placeholder="Search">
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="serviceParams.displayFilters">
                <md-radio-group ng-model="serviceParams.selectedOwnershipFilter">
                    <div ng-repeat="ownershipFilter in serviceOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </div>

    <div class="row" ng-if="!serviceParams.services.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">You have no {{item}}s. Create a {{item}} by going to the 'Developer' tab in the main navigation panel.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="serviceParams.services.length > 0">
        <md-list-item class="md-3-line"
                      ng-repeat="(key, service) in serviceParams.services | filter: quickSearch | filter: serviceParams.selectedOwnershipFilter.criteria"
                      ng-click="selectService(service)"
                      ng-class="{active: service.id == serviceParams.selectedService.id}">

            <div class="md-avatar" ng-show="navInfo.activeSideNav === 1">
                <i class="material-icons" aria-label="Share">share</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable" ng-bind="service.name" />
                <span><b>Owner:</b> <span ng-bind="service.owner.name" /></span>
                <span><b>Items:</b> <span ng-bind="service.size" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       aria-label="Service Info"
                       uib-popover-template="'views/common/templates/serviceinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="navInfo.activeSideNav === 0"
                       ng-click="editItemDialog($event, service)"
                       has-permission="WRITE" permission-source="{{service}}"
                       aria-label="Edit"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>

        </md-list-item>

        <div id="paging" ftep-paging="{{serviceParams.pagingData}}"></div>

    </div>

</section>
