<md-dialog id="group-dialog" aria-label="Create group dialog">
    <h4>Add Group</h4>
    <md-dialog-content>
        <div class="dialog-content-area">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="newGroup.name" type="text">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Description</label>
                <textarea ng-model="newGroup.description"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addGroup()" ng-disabled="!newGroup.name" class="md-primary">Create</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
