@import "variable";
#jobs-panel {
    .job-checkboxes {
        margin: 0;
        padding: 10px;
        width: 100%;
        .check-container {
            padding: 4px 0;
        }
        div:focus {
            outline: none;
            border: 0;
        }
        md-checkbox {
            margin: 0;
        }
    }
    #jobs-list {
        padding: 0;
        .list-group {
            font-size: 0.9rem;
            .border(border-bottom, @bg);
        }
        .list-item {
            line-height: 1.5rem;
            list-style: none;
            .border(border-bottom, @bg);
            .job-status {
                border-radius: 1.5rem;
                color: @text-light;
                margin-bottom: 0.5rem;
                height: 1.5rem;
                text-align: center;
                padding: 0 15px;
                font-size: smaller;
                cursor: default;
            }
            .job-tools {
                i {
                    font-size: 1.2rem;
                }
                min-width: 100px;
            }
            label {
                cursor: pointer;
                font-size: 0.8rem;
            }
            &:hover {
                background-color: @brand-light;
            }
        }
    }
}

.popover {
    max-width: 100%;
    overflow: scroll;
    width: 60%;
    .job-popover-list {
        list-style: none;
    }
}
