<section id="sidebar-list">

    <div class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-10" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-2 expander">
                    <i class="material-icons"
                       ng-show="!basketParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="basketParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="basketParams.displayFilters">
                <input ng-model="itemSearch.searchText" type="text" placeholder="Search">
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="basketParams.displayFilters">
                <md-radio-group ng-model="basketParams.selectedOwnershipFilter">
                    <div ng-repeat="ownershipFilter in dbOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </div>

    <div class="row" ng-if="!basketParams.databaskets.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">You have no {{item}}s. Create a {{item}} using the + button below.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="basketParams.databaskets.length > 0">
        <md-list-item class="md-3-line"
                      ng-repeat="(key, basket) in basketParams.databaskets | filter: quickSearch | filter: basketParams.selectedOwnershipFilter.criteria"
                      ng-click="selectBasket(basket)"
                      ng-class="{active: basket.id == basketParams.selectedDatabasket.id}">

            <div class="md-avatar" ng-show="navInfo.activeSideNav === 1">
                <i class="material-icons" aria-label="Share">share</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable" ng-bind="basket.name" />
                <span><b>Owner:</b> <span ng-bind="basket.owner.name" /></span>
                <span><b>Items:</b> <span ng-bind="basket.size" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       aria-label="{{item}} Info"
                       uib-popover-template="'views/common/templates/basketinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="navInfo.activeSideNav === 0"
                       ng-click="editItemDialog($event, basket)"
                       has-permission="WRITE" permission-source="{{basket}}"
                       aria-label="Edit"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>

        </md-list-item>

        <div id="paging" ftep-paging="{{basketParams.pagingData}}"></div>
    </div>

</section>

<section id="create-databasket">
    <md-button id="create-databasket-button"
               class="icon-button md-icon-button md-fab md-mini"
               ng-click="createItemDialog($event)"
               aria-label="Create New {{item}}"
               uib-tooltip="Create New {{item}}"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add</i>
    </md-button>
</section>
