@import "variable";
#developer-container {
    .border(border-top, @bg);
    height: calc(100% ~'-' @navbar-height);
    margin: 0;
    margin-left: @sidenav-width;
    margin-top: @navbar-height;
    overflow-y: auto;
    #reference-container {
        width: 100%;
        #user-references{
            .reference-list{
                list-style: none;
                padding-left: 0px;
                .refrence-item{
                    border: solid 1px @light-gray;
                    padding: 4px 10px;
                    margin-top: 2px;
                }
            }
        }
        #refDataForm {
            .border(border-bottom, @bg);
            .border(border-left, @bg);
            h3 {
                margin: 0;
            }
            md-input-container {
                margin: 0.5rem 0;
                width: 100%;
            }
            .drop-box-container {
                padding: 20px;
                .dragover {
                    background-color: @brand-light;
                    border: 5px solid @brand-dark!important;
                }
                .drop-box {
                    border: 5px dashed @light-gray;
                    color: @dark-gray;
                    cursor: pointer;
                    height: 5rem;
                    padding: 1.5rem;
                    text-align: center;
                    width: 100%;
                }
            }
            #referenceSubmitButton {
                background-color: @accent-light;
                float: right;
                height: 40px;
                margin: 1rem;
                min-height: 0;
                padding: 0;
                width: 40px;
                .material-icons {
                    color: @text-light;
                    font-size: 30px;
                    height: 100%;
                    line-height: 40px;
                    width: 100%;
                }
                &:hover {
                    background-color: @accent;
                }
            }
            .md-button[disabled] {
                background-color: @disabled !important;
            }
            .btn-success[disabled]:hover {
                background-color: @error !important;
                .material-icons {
                    color: @error-text !important;
                }
            }
        }
    }
}
