@import "variable";
.ftep {
    .ftep-card {
        margin: 0.8rem;
        md-card-title, md-card-actions {
            color: @brand;
            padding-top: 0;
        }
        md-card-actions {
            a:hover {
                color: @brand;
            }
        }
    }
}
