@import "variable";
.ftep {
    .filter-list {
        .filter-list-title {
            color: @accent;
            cursor: pointer;
        }
        .filter-checkboxes {
            .border(border-bottom, @bg);
            margin: 0;
            padding: 10px;
            &:hover {
                background-color: @alert;
            }
            .check-container {
                padding: 4px 0;
            }
            div:focus {
                outline: none;
                border: 0;
            }
            md-checkbox {
                margin: 0;
            }
        }
        .filter-radiobutton {
            .border(border-bottom, @bg);
            padding-left: 10px;
            md-radio-button {
                margin: 10px 40px 10px 0px;
            }
        }
    }
    .ftep-file-list {
        .border(border-bottom, @bg);
        font-size: 0.6rem;
        word-break: break-all;
        &:hover {
            background-color: @alert;
        }
        .drag-handle {
            cursor: move;
        }
        .md-avatar {
            height:auto;
            margin: 0;
        }
        .text-avatar {
            font-weight: bold;
            padding-right: 0.5rem;
            width:auto;
        }
        .md-list-item-text {
            cursor: pointer;
            display: flex;
            float: left;
            height: 100%;
            justify-content: center;
            line-height: 1rem;
            vertical-align: middle;
            width: 100%;
        }
    }
    .item-list {
        .active {
            background-color: @alert;
        }
        md-list-item {
            min-width: 0;
            width: 100%;

            .md-avatar {
                .material-icons {
                    text-align: center;
                    width: 100%;
                }
            }
            .toolbar-button {
                padding: 0 0.25rem;
                i {
                    font-size: 1rem;
                }
            }
            &:hover {
                background-color: @alert;
                .md-button {
                    background-color: transparent;
                }
                .toolbar-button {
                    color: @accent;
                }
            }
        }
    }
    .list {
        margin: 0;
        padding: 0;
        .list-group {
            .border(border-bottom, @bg);
            cursor: pointer;
            font-size: 0.7rem;
            .expander, label {
                margin: 0;
                padding: 0.25rem;
            }
            .expander {
                padding: 0.125rem;
            }
            &:hover {
                background-color: @light-gray;
            }
        }
    }
    .md-list-item-dropdown {
        min-width: 14rem;
        padding: 0 2rem 0 1rem;
        .md-select-value {
            padding-top: 0;
        }
    }
    .md-list-item-dropdown-label {
        label {
           margin: 0;
        }
    }
}
