<article id="tutorials" class="col-md-12 no-padding ftep-content">

    <section id="left-column" class="col-md-7 col-sm-12 no-padding">

        <md-card id="helpdesk-info" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Helpdesk</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>The <em>Forestry-TEP</em> portal is divided up into various pages that provide particular functionality.
                The <em>Explorer</em> page allows users to search for satellite and other data, search and instigate services and to visualise their data using the various GUI applications.
                The <em>Manage / Share</em> page allows users to share various elements such as Projects, Databaskets, Jobs, Services and data.
                The <em>My Account</em> page allows users to view their account details and send requests such as for additional TEP-coins.
                If enabled, the <em>Developer</em> page allows Expert Users to develop, test and release their own processing services. </p>

                <p>This initial release of the portal exposes a first set of both data and services. Within the coming releases the capabilities, in terms of data, services and resources will be increased.</p>

                <div id="supported-services">
                    <b>The list of services and applications available in the pre-release version includes the following:</b>
                    <div id="services-list" class="row">
                        <div class="col-md-6 no-padding">
                            <h4>GUI Applications:</h4>
                            <ul>
                                <li ng-repeat="app in applications" ng-bind="app" />
                            </ul>
                        </div>
                        <div class="col-md-6 no-padding">
                            <h4>Processors:</h4>
                            <ul>
                                <li ng-repeat="processor in processors" ng-bind="processor" />
                            </ul>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card id="contact" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Contact and Feedback</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Forestry TEP welcomes feedback from you on our project and portal. For help and support on how to use Forestry TEP, please contact us using the <a ng-href="{{ftepUrl}}/?q=content/contact" target="_blank">form</a> or sending an email to <a href="mailto:forestry-tep@esa.int" target="_top">forestry-tep@esa.int</a>.</p>

                <br/>

                <p>Support is provided via email and an initial response to all queries should be received within two business days.</p>
            </md-card-content>
        </md-card>

    </section>

    <section id="right-column" class="col-md-5 col-sm-12 no-padding">

        <md-card id="links" md-theme-watch class="ftep-card">
            <md-card-content>
            <div layout="row" class="row">
                <div class="img-container col-md-4 no-padding">
                    <a ng-href="{{ftepUrl}}" target="_blank"><img src="images/logo.png" alt="Forestry TEP Logo"></a>
                </div>
                <div class="col-md-8 no-padding">
                    <blockquote>"One-stop shop for forestry remote sensing services for the academic, public and commercial sectors."</blockquote>
                </div>
            </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-href="{{ftepUrl}}/?q=content/terms-conditions" target="_blank">
                    <span>Terms &amp; Conditions</span>
                </md-button>
                <md-button ng-href="{{ftepUrl}}/?q=content/user-manual-pre-release-version" target="_blank">
                    <span>User Manual</span>
                </md-button>
                <md-button ng-href="{{ftepUrl}}/?q=forum" target="_blank">
                    <span>Forum</span>
                </md-button>
                <!--md-button ng-href="{{ftepUrl}}/?q=wiki" target="_blank">
                    <span>Wiki</span>
                </md-button-->
                <md-button href="https://github.com/cgi-eoss/ftep/blob/development/LICENSE.txt" target="_blank">
                    <span>License</span>
                </md-button>
            </md-card-actions>
        </md-card>

        <md-card id="videoclips" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Tutorial Videos</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row" class="row">
                    <div class="video col-md-6 no-padding" ng-repeat="video in videos.slice(0,2)">
                        <figure>
                            <a href="{{video.url}}" target="_blank">
                                <img src="{{video.image}}" />
                            </a>
                            <figcaption ng-bind="video.description" />
                        </figure>
                    </div>
                </div>

                <div layout="row">
                    <div class="video col-md-6 no-padding" ng-repeat="video in videos.slice(2,4)">
                        <figure>
                            <a href="{{video.url}}" target="_blank">
                                <img src="{{video.image}}" />
                            </a>
                            <figcaption ng-bind="video.description" />
                        </figure>
                    </div>
                </div>
            </md-card-content>
        </md-card>

    </section>

</article>
