@import "variable";
#account-container {
    #accountManagement{
        width: 100%;
        #accountInfo{
            height: 100%;
            padding: 10px;
            background-color: @lighter-gray;
            .row div{
                margin: 8px 0;
            }
        }
        #statistics{
            height: 100%;
            padding: 10px;
            .row div{
                margin: 8px 0;
            }
        }
        #infoPanel{
            height: 100%;
            padding: 10px;
            background-color: @lighter-gray;
            #accountHelp{
                width: 100%;
                padding: 10px 10px 30px 10px;
                .row div{
                    margin: 8px 0;
                }
            }
        }
    }
}
