@import "variable";
#account-container {
    padding-left: @sidenav-width !important;
    #accountManagement{
        width: 100%;
        #accountInfo{
            height: 100%;
            padding: 10px;
            background-color: @lighter-gray;
            .row div{
                margin: 8px 0;
            }
        }
    }
}
