<!doctype html>
<html class="ftep" ng-controller="IndexCtrl">

    <head>
    <meta charset="utf-8">
    <title>F-TEP Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta id="version" name="version" content="dev">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" href="scripts/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="scripts/vendor/angular-ui-grid/ui-grid.css" />
    <link rel="stylesheet" href="scripts/vendor/angular-material/angular-material.css" />
    <link rel="stylesheet" href="scripts/vendor/angular-ui-layout/src/ui-layout.css" />
    <link rel="stylesheet" href="scripts/vendor/openlayers/ol.css" />
    <link rel="stylesheet" href="scripts/vendor/codemirror/lib/codemirror.css" />

    <link rel="stylesheet" href="main.css" />
</head>

    <body class="ftep ng-cloak" ng-cloak>
        <!--[if lte IE 8]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="portal-container" ng-view=""></div>

        <div id="logged-out" ng-show="sessionEnded && !timeoutDismissed" ng-cloak>
            <md-button id="close-button"
                       class="toolbar-button md-secondary"
                       aria-label="Hide"
                       ng-click="hideTimeout()"
                       uib-tooltip="Hide"
                       tooltip-placement="left"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">close</i>
            </md-button>
            <h1>No EO-IAM session detected.</h1>
            <h3>Login to EO-IAM below to refresh your session.</h3>
            <md-button  id="login" class="md-raised md-primary" ng-click="reloadRoute()">
                <h2>Login</h2>
            </md-button>
        </div>

        <div id="subscription-layer" ng-show="!sessionEnded && !subscribed" ng-cloak>
            <div id="subscription-missing">
                <a ng-href="{{ftepUrl}}" target="_blank">
                    <img id="ftep-logo" src="images/logo.png"  alt="Forestry TEP Logo">
                </a>
                <h1>Welcome to Forestry TEP!
                </h1>
                <p>An active subscription is required to access the platform features.
                    You can <a href="https://f-tep.com/subscription/" target="_blank">subscribe</a> to one of our platform package options,
                    or simply click below to start a <b>free 30-day trial</b>.
                </p>
                <md-button  id="trial-button" ng-click="startTrial()">
                    Start a trial
                </md-button>
                <p id="funding-text">For research and pre-commercial use, you may be eligible to receive
                    ESA funding for the services via the Network of Resources (NoR).
                    We will be glad to assist you in the process.
                </p>
                <p>Have questions? <a href="https://f-tep.com/contact/" target="_blank">Contact us</a>!
                </p>
                <a ng-href="https://www.vttresearch.com/" target="_blank">
                    <img id="vtt-logo" src="images/VTT_Orange_Logo.png" alt="VTT Logo">
                </a>
            </div>
        </div>

        <!-- Google Analytics -->
         <script>
           !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
           (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
           r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
           }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

           ga('create', 'UA-74983224-1');
           ga('send', 'pageview');
        </script>

        <script data-main="scripts/main" src="scripts/vendor/requirejs/require.js"></script>
        <script src="scripts/ftepConfig.js"></script>
        <script type="text/javascript">
          require(['app'], function (app) {
              app.init();
          });
        </script>
    </body>
</html>
