<md-dialog id="share-dialog" aria-label="Share an object dialog">
    <h4>Share a {{ace.type | asSingular}}</h4>
    <md-dialog-content>
        <div class="dialog-content-area">
             <div class="content-properties">
                <h5 ng-show="ace.name != undefined">Name: <span ng-bind="ace.name" /></h5>
                <h5 ng-show="ace.name == undefined">{{ace.type}} Id: <span ng-bind="ace.id" /></h5>
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Group</label>
                <md-select ng-model="ace.group">
                    <md-option ng-value="undefined">
                        <em>None</em>
                    </md-option>
                    <md-option ng-repeat="group in groups" ng-value="group">
                        {{group.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <br />

            <md-input-container class="md-block" flex-gt-sm>
                <label>Permission</label>
                <md-select ng-model="ace.permission">
                    <md-option ng-repeat="permission in permissions" ng-value="permission">
                        {{permission}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="shareObject(ace)"
                   ng-disabled="ace.group == undefined"
                   class="md-primary">Share</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
