@import "variable";
#job {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    height: 100%;
    .job-details {
        .job-files {
            list-style: none;
            line-height: 1.2rem;
            padding: 0.5rem;
            .job-detail {
                .key {
                    font-weight: bold;
                    vertical-align: top;
                }
                .key, .value {
                    padding: 0 0.5rem;
                }
                &:hover {
                    background-color: @alert;
                }
            }
        }
    }
    .job-status {
        color: @text-light;
        cursor: default;
        font-size: smaller;
        height: 100%;
        line-height: 1.2rem;
        text-align: center;
    }
    .job-title {
        h3 {
            margin: 0;
        }
        h4 {
            padding: 0.2rem 0 0 0.8rem;
            margin: 0;
        }
    }

    .toolbar-button {
        min-height: 0;
        line-height: 1rem;
        .material-icons {
            color: @accent;
        }
    }
    .job-log {
        font-family: monospace;
        font-size: 0.6rem;
        overflow-x: auto;
        width: 100%;
        table {
            margin-bottom: 0.5rem;
            th {
                padding: 0.4rem;
                padding-left: 0;
            }
            .job-timestamp {
                font-weight: bold;
                padding: 2px 1rem 2px 0;
                vertical-align: top;
                user-select: none;
            }
            .job-message {
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 2px 0;
                white-space:pre-wrap;
            }
        }
    }
}
