<article id="community-container" layout="row" class="page-container row" ng-controller="CommunityCtrl">

    <section id="sidenav" ng-include src="'views/community/sidenav.html'" />

    <section id="manage-container"
             class= "row"
             ng-include src="'views/community/manage/manage.html'"
             ng-show="navInfo.activeCommunityPage === 0" />

    <section id="share-container"
             class= "row"
             ng-include src="'views/community/share/share.html'"
             ng-show="navInfo.activeCommunityPage === 1" />

    <section id="bottombar-container"
             ng-class="{'col-xs-12 col-sm-12 col-md-8 col-xl-9 col-xxl-10':navInfo.sideViewVisible, 'col-md-12 wide':!navInfo.sideViewVisible, 'bottombar-tall': bottombarTall === true}"
             class="explorer-content animationIf no-padding"
             ng-include src="'views/common/bottombar/bottombar.html'"
             ng-controller="BottombarCtrl"
             ng-if="navInfo.bottomViewVisible"/>

</article>
