<article id="community-container" ng-controller="CommunityCtrl" layout="row">

    <section id="sidenav" ng-include src="'views/community/sidenav.html'" />

    <section id="manage-container"
             class= "row no-margin"
             ng-include
             src="'views/community/manage/manage.html'"
             ng-show="navInfo.activeCommunityPage === 0" />

    <section id="share-container"
             class= "row no-margin"
             ng-include
             src="'views/community/share/share.html'"
             ng-show="navInfo.activeCommunityPage === 1" />


    <!--<section id="community-groups" class="row no-margin"  ng-show="navInfo.activeCommunityPage === 0">

        <div id="groups-container"
         class="col-md-3 left-container"
         ng-include ng-controller="CommunityGroupsCtrl"
         src="'views/community/groups/groups.html'" />

         <div id="group-container"
         class="col-md-9 right-container"
         ng-show="displayRight()"
         ng-include ng-controller="CommunityGroupCtrl"
         src="'views/community/groups/group.html'" />

    </section>-->

    <section id="bottombar"
             class="explorer-content"
             ng-controller="BottombarCtrl"
             ng-include src="'views/community/bottombar/bottombar.html'"
             ng-show="navInfo.bottomViewVisible" />

</article>
