<div ng-show="resultTabs.selected == 0">
    <div class="row">

        <section class="col-xs-8 button-section">
           <!--TODO: Remove temp data-->
            <!-- <paging page="resultsCurrentPage"
                    page-size="resultsPageSize"
                    total="resultsTotal"
                    show-first-last="true"
                    paging-action="fetchResultsPage(page)">
            </paging> -->
            <paging page="2"
                    page-size="5"
                    total="25"
                    show-first-last="true"
                    paging-action="fetchResultsPage(page)">
            </paging>
        </section>

        <section class="col-xs-4 button-section">
            <md-button class="toolbar-button"
                       ng-disabled="geoResults == undefined"
                       ng-class="(geoResults == undefined) ? 'icon-disabled' : ''"
                       aria-label="Select All"
                       uib-tooltip="Select all"
                       tooltip-trigger="mouseenter"
                       ng-click="selectAll()">
                <i class="material-icons">check_box</i>
            </md-button>

            <md-button class="toolbar-button"
                       ng-disabled="geoResults == undefined"
                       ng-class="(geoResults == undefined) ? 'icon-disabled' : ''"
                       aria-label="Deselect All"
                       uib-tooltip="Deselect all"
                       tooltip-trigger="mouseenter"
                       ng-click="clearSelection()">
                <i class="material-icons">check_box_outline_blank</i>
            </md-button>

            <md-button class="toolbar-button"
                       ng-disabled="geoResults == undefined"
                       ng-class="(geoResults == undefined) ? 'icon-disabled' : ''"
                       aria-label="Invert Selection"
                       uib-tooltip="Invert selection"
                       tooltip-trigger="mouseenter"
                       ng-click="invertSelection()">
                <i class="material-icons">indeterminate_check_box</i>
            </md-button>

            <md-button class="toolbar-button"
                       ng-click="createNewBasket($event)"
                       aria-label="Create New Databasket"
                       uib-tooltip="Create new databasket"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">add_shopping_cart</i>
            </md-button>

            <md-button class="toolbar-button"
                       ng-disabled="geoResults == undefined || selectedDatabasket == undefined"
                       ng-class="(geoResults == undefined || selectedDatabasket == undefined) ? 'icon-disabled' : ''"
                       ng-click="addToDatabasket()"
                       aria-label="Add to Databasket"
                       uib-tooltip="Add to databasket"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">shopping_basket</i>
            </md-button>
        </section>

    </div>
</div>

<div ng-show="resultTabs.selected == 1">
    <div class="row">

        <section class="button-section">
            <md-button class="toolbar-button"
                       ng-disabled="selectedDatabasket == undefined"
                       ng-class="selectedDatabasket == undefined ? 'icon-disabled' : ''"
                       ng-click="clearDatabasket()"
                       aria-label="Clear Databasket">
                <i class="material-icons">remove_shopping_cart</i>
            </md-button>

            <md-button class="toolbar-button"
                       uib-tooltip="Create new databasket"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"
                       ng-click="createNewBasket($event)"
                       aria-label="Create New Databasket">
                <i class="material-icons">add_shopping_cart</i>
            </md-button>
        </section>

    </div>
</div>

<div ng-show="resultTabs.selected == 2">

    <section class="button-section">

        <md-button class="toolbar-button"
                   uib-tooltip="Select all"
                   tooltip-trigger="mouseenter"
                   ng-click="selectAllOutputs()"
                   aria-label="Select All">
            <i class="material-icons">check_box</i>
        </md-button>

        <md-button class="toolbar-button"
                   uib-tooltip="Deselect all"
                   tooltip-trigger="mouseenter"
                   ng-click="clearOutputsSelection()"
                   aria-label="Deselect All">
            <i class="material-icons">check_box_outline_blank</i>
        </md-button>

        <md-button class="toolbar-button"
                   uib-tooltip="Invert selection"
                   tooltip-trigger="mouseenter"
                   ng-click="invertOutputsSelection()"
                   aria-label="Invert Selection">
            <i class="material-icons">indeterminate_check_box</i>
        </md-button>

        <md-button class="toolbar-button"
                   uib-tooltip="Create new databasket"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true"
                   ng-click="createNewBasket($event)"
                   aria-label="Create New Databasket">
            <i class="material-icons">add_shopping_cart</i>
        </md-button>

        <md-button class="toolbar-button"
                   aria-label="Add to Cart"
                   uib-tooltip="Add to databasket"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true"
                   ng-disabled="selectedDatabasket == undefined"
                   ng-class="(selectedDatabasket == undefined) ? 'icon-disabled' : ''"
                   ng-click="addOutputsToDatabasket()">
            <i class="material-icons">shopping_basket</i>
        </md-button>
    </section>

</div>
