<section ng-if="dbParams.selectedDatabasket == undefined" class="note">Please select or create a databasket first</section>

<section ng-if="dbParams.selectedDatabasket != undefined"
         class="panel-body scrollme"
         is-bar-shown="flag"
         rebuild-on="rebuild:scrollbar"
         rebuild-on-resize>

    <h3>{{dbParams.selectedDatabasket.attributes.name}}</h3>
    <h4>{{dbParams.selectedDatabasket.attributes.description}}</h4>

    <md-list-item class="md-2-line" ng-repeat="item in dbParams.selectedDatabasket.items">

        <div class="md-avatar" alt="drag handle" dnd-draggable="getBasketItem(item)">
            <i class="material-icons"
               uib-tooltip="Drag Databasket"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">drag_handle</i>
        </div>

        <div class="md-list-item-text" layout="column">
            {{item.identifier}}{{item.attributes.fname}}{{item.name}}
        </div>

        <md-button class="toolbar-button md-secondary"
                   ng-click="removeItemFromBasket(item)"
                   uib-tooltip="Remove"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true"
                   has-permission="EDIT"
                   permission-source="{{dbParams.selectedDatabasket}}">
            <i class="material-icons">close</i>
        </md-button>

    </md-list-item>

</section>
