<section ng-if="jobParams.selectedJob == undefined" class="note">Please select a job first</section>

<div id="job" ng-if="jobParams.selectedJob != undefined" class="panel-body">

    <md-button class="close toolbar-button md-secondary"
               ng-click="deselectJob()"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <section class="row">

        <div class="col-lg-2 col-md-4 job-title no-padding">
            <h3>Job ID: {{jobParams.selectedJob.id}}</h3>
        </div>

        <div class="col-lg-6 col-md-8 job-title no-padding">
            <h4>Start Time: <span ng-bind="jobParams.selectedJob.details.startTime" /></h4>
        </div>

        <div class="col-lg-3 col-md-12 job-title no-padding">
            <div class="job-status" style="{{getColor(jobParams.selectedJob.status)}}">
                Status: {{jobParams.selectedJob.status}}
            </div>
        </div>

    </section>

    <section>
        <ul class="nav nav-pills" ng-init="jobTab = 'OUTPUTS'">
            <li role="presentation"
                ng-class="(jobTab == 'INPUTS') ? 'active' : ''"
                ng-click="jobTab = 'INPUTS'">
                <a>INPUTS</a>
            </li>
            <li role="presentation"
                ng-class="(jobTab == 'OUTPUTS') ? 'active' : ''"
                ng-click="jobTab = 'OUTPUTS'">
                <a>OUTPUTS</a>
            </li>
            <li role="presentation"
                ng-class="(jobTab == 'LOGS') ? 'active' : ''"
                ng-click="jobTab = 'LOGS'">
                <a>LOGS</a>
            </li>
        </ul>
    </section>

    <section class="job-details" ng-if="jobTab == 'INPUTS'">

        <table class="job-files no-margin">
            <tr ng-repeat="(key, value) in jobParams.selectedJob.config.inputs" class="job-detail">
                <td class="key" ng-bind="key" />
                <td class="value">
                    <div ng-repeat="link in value">
                        <div ng-if="!link.includes('ftp')" class="col-sm-12" ng-bind="link" />
                        <div ng-if="link.includes('ftp')">
                            <div ng-repeat="file in splitInputFiles(link)">
                                <a href="file" ng-bind="file" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </section>

    <section class="job-details" ng-if="jobTab == 'OUTPUTS'">
        <ul class="job-files no-margin" ng-show="jobParams.selectedJob.downloadLinks">
            <li ng-repeat="(key, fileUrl) in jobParams.selectedJob.downloadLinks"
                class="job-detail"
                ng-click="selectOutputFile(key)"
                ng-class="isOutputSelected(key) ? 'resulthighlight' : 'resultnormal'"
                dnd-draggable="getSelectedOutputFiles(key)">
                <div class="row">
                    <div class="col-xs-11">{{key}}</div>
                    <div class="col-xs-1 download">
                        <a ng-href="{{fileUrl}}" target="_blank">
                            <i class="material-icons"
                               aria-label="Download"
                               uib-tooltip="Download"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                                file_download
                            </i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div ng-show="!jobParams.selectedJob.outputs" class="note">
            No output files to display.
        </div>
    </section>

    <section class="job-log" ng-if="jobTab == 'LOGS'">
        <table>
            <tr>
                <th>Timestamp</th>
                <th>Message</th>
            </tr>
            <tr ng-repeat="message in jobParams.selectedJob.logs">
                <td class="job-timestamp" ng-bind="message.timestamp" />
                <td>
                    <pre class="job-message" ng-bind-html="message.message | nl2br" />
                </td>
            </tr>
        </table>
    </section>

</div>
