<article ng-if="jobParams.selectedJob == undefined" class="note">Please select a job first</article>

<article id="job" ng-if="jobParams.selectedJob != undefined" class="panel-body panel-container">

    <md-button class="close toolbar-button md-secondary"
               ng-click="deselectJob()"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <section id="job-title" class="row">
        <div class="col-lg-8 col-md-12 job-title no-padding">
            <h3>Job ID: {{jobParams.selectedJob.id}}
                <md-button class="md-secondary icon-button-accent"
                           ng-show="selectedJobHasAnyWmsLinks() && !jobParams.wms.isAllVisible"
                           ng-click="toggleAllWMS(true)"
                           uib-tooltip="Show WMS Layers"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">layers</i>
                </md-button>
                <md-button class="md-secondary icon-button-accent"
                           ng-show="selectedJobHasAnyWmsLinks() && jobParams.wms.isAllVisible"
                           ng-click="toggleAllWMS(false)"
                           uib-tooltip="Hide WMS Layers"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">layers_clear</i>
                </md-button>
            </h3>
            <h4>Label: {{jobParams.selectedJob.config.label ? jobParams.selectedJob.config.label : '-'}}</h4>
        </div>

        <div class="col-lg-3 col-md-12 job-title no-padding">
            <div class="job-status" style="{{getColor(jobParams.selectedJob.status)}}">
                Status: {{jobParams.selectedJob.status}}
            </div>
        </div>
    </section>

    <section id="job-tabs">
        <ul class="nav nav-pills" ng-init="jobTab = 'OUTPUTS'">
            <li role="presentation" ng-class="(jobTab == 'INPUTS') ? 'active' : ''" ng-click="jobTab = 'INPUTS'">
                <a>INPUTS</a>
            </li>
            <li role="presentation" ng-class="(jobTab == 'OUTPUTS') ? 'active' : ''" ng-click="jobTab = 'OUTPUTS'">
                <a>OUTPUTS</a>
            </li>
            <li role="presentation" ng-class="(jobTab == 'LOGS') ? 'active' : ''" ng-click="jobTab = 'LOGS'">
                <a>LOGS</a>
            </li>
        </ul>
    </section>

    <section id="job-inputs" ng-if="jobTab == 'INPUTS'">
        <md-list-item class="md-1-line ftep-file-list" ng-repeat="(key, value) in jobParams.selectedJob.config.inputs">
            <div class="md-avatar text-avatar" ng-bind="key" />
            <div class="md-list-item-text" layout="column">
                <div ng-repeat="link in value">
                    <div ng-if="!link.includes('ftp')" class="col-sm-12" ng-bind="link" />
                    <div ng-if="link.includes('ftp')">
                        <div ng-repeat="file in splitInputFiles(link)">
                            <a href="file" ng-bind="file" />
                        </div>
                    </div>
                </div>
            </div>
        </md-list-item>
    </section>

    <section id="job-outputs" ng-if="jobTab == 'OUTPUTS'">
        <md-list-item class="md-1-line ftep-file-list" ng-repeat="outputFile in jobParams.selectedJob.outputFiles"
                      ng-class="isOutputSelected(outputFile) ? 'resulthighlight' : 'resultnormal'">

            <div class="md-avatar drag-handle" alt="drag handle" dnd-draggable="getSelectedOutputFiles(outputFile)">
                <i class="material-icons"
                   uib-tooltip="Drag Job"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">drag_handle</i>
            </div>

            <div class="md-list-item-text" ng-click="selectOutputFile(outputFile)" layout="column">
                {{outputFile.uri}}
            </div>

            <md-button class="toolbar-button md-secondary icon-button-accent"
                       ng-show="hasWmsLink(outputFile) && !isWmsVisible(outputFile)"
                       ng-click="toggleWMS(outputFile, true); $event.stopPropagation()"
                       uib-tooltip="Show WMS Layer"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">layers</i>
            </md-button>

            <md-button class="toolbar-button md-secondary icon-button-accent"
                       ng-show="hasWmsLink(outputFile) && isWmsVisible(outputFile)"
                       ng-click="toggleWMS(outputFile, false); $event.stopPropagation()"
                       uib-tooltip="Hide WMS Layer"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">layers_clear</i>
            </md-button>

            <md-button class="toolbar-button md-secondary icon-button-accent"
                       ng-click="estimateDownloadCost($event, outputFile); $event.stopPropagation()"
                       aria-label="Download"
                       uib-tooltip="Download"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">file_download</i>
            </md-button>

        </md-list-item>

        <div ng-show="!jobParams.selectedJob.outputFiles || jobParams.selectedJob.outputFiles.length === 0" class="note">
            No output files to display.
        </div>
    </section>

    <section id="job-log" class="ftep-log" ng-if="jobTab == 'LOGS'">
        <table>
            <tr>
                <th>Timestamp</th>
                <th>Message</th>
            </tr>
            <tr ng-repeat="message in jobParams.selectedJob.logs">
                <td class="job-timestamp" ng-bind="message.timestamp" />
                <td>
                    <pre class="job-message" ng-bind-html="message.message | nl2br" />
                </td>
            </tr>
        </table>
    </section>

</article>
