<section ng-if="jobParams.selectedJob == undefined" class="note">Please select a job first</section>

<div id="job" ng-if="jobParams.selectedJob != undefined" class="panel-body">

    <md-button class="close toolbar-button md-secondary"
               ng-click="deselectJob()"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <section class="row">

        <div class="col-lg-2 col-md-4 job-title no-padding">
            <h3>Job ID: {{jobParams.selectedJob.id}}</h3>
        </div>

        <div class="col-lg-6 col-md-8 job-title no-padding">
            <h4>Start Time: {{jobParams.selectedJob.details.startTime | formatDateTime}}</h4>
        </div>

        <div class="col-lg-3 col-md-12 job-title no-padding">
            <div class="job-status" style="{{getColor(jobParams.selectedJob.status)}}">
                Status: {{jobParams.selectedJob.status}}
            </div>
        </div>

    </section>

    <section>
        <ul class="nav nav-pills" ng-init="jobTab = 'OUTPUTS'">
            <li role="presentation"
                ng-class="(jobTab == 'INPUTS') ? 'active' : ''"
                ng-click="jobTab = 'INPUTS'">
                <a>INPUTS</a>
            </li>
            <li role="presentation"
                ng-class="(jobTab == 'OUTPUTS') ? 'active' : ''"
                ng-click="jobTab = 'OUTPUTS'">
                <a>OUTPUTS</a>
            </li>
        </ul>
    </section>

    <section class="job-details" ng-if="jobTab == 'INPUTS'">

        <ul class="job-files no-margin">
            <li ng-repeat="(key, value) in jobParams.selectedJob.config.inputs" class="job-detail">
                <div class="row">
                    <div class="col-sm-3 key">{{key}}</div>
                    <div ng-repeat="link in value">
                        <div class="col-sm-3 key" ng-show="$index > 0"></div>
                        <div class="col-sm-9 break-word">
                            <a ng-if="link.includes('ftp')" href="{{link}}">{{link}}</a>
                        </div>
                        <div class="col-sm-9 break-word" ng-if="!link.includes('ftp')">{{link}}</div>
                    </div>
                </div>
            </li>
        </ul>

    </section>

    <section class="job-details" ng-if="jobTab == 'OUTPUTS'">
        <ul class="job-files no-margin" ng-show="jobParams.selectedJob.outputs">
            <li ng-repeat="(key, file) in jobParams.selectedJob.outputs.result"
                class="job-detail"
                ng-click="selectOutputFile(file)"
                ng-class="isOutputSelected(file) ? 'resulthighlight' : 'resultnormal'"
                dnd-draggable="getSelectedOutputFiles(file)">
                <div class="row">
                    <div class="col-xs-11">{{file}}</div>
                    <div class="col-xs-1 download">
                        <a ng-href="{{jobParams.selectedJob.outputs.links[key]}}" target="_self">
                            <i class="material-icons"
                               aria-label="Download"
                               uib-tooltip="Download"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                                file_download
                            </i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div ng-show="!jobParams.selectedJob.outputs" class="note">
            No output files to display.
        </div>
    </section>

</div>
