<div id="job">

   <section class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!jobParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="jobParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="jobParams.displayFilters">
                <input ng-model="jobParams.searchText" type="text" placeholder="Search" ng-keyup="filter()" aria-label="Jobs Search Filter">
            </md-input-container>

            <md-input-container ng-show="jobParams.displayFilters" md-no-float>
                <md-select ng-model="jobParams.selectedStatuses" ng-change="filter()" multiple placeholder="Job Status">
                    <md-optgroup label="Statuses">
                        <md-option ng-repeat="jobStatus in jobStatuses"
                                   ng-value="jobStatus.name"
                                   aria-label="Job Filter">
                            {{jobStatus.title}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="jobParams.displayFilters">
                <md-radio-group ng-model="jobParams.selectedOwnershipFilter" ng-change="filter()">
                    <div ng-repeat="ownershipFilter in jobOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </section>

    <section class="item-list" ng-if="jobParams.jobs.length > 0">

        <md-list-item class="md-3-line"
                      ng-repeat="job in jobParams.jobs"
                      ng-click="selectJob(job)"
                      ng-class="{active: job.id == jobParams.selectedJob.id}">

            <div class="md-avatar" alt="{{job.stage}}" style="{{getColor(job.status)}}" ng-click="selectJob(job)">
                <i class="material-icons" ng-if="job.status === 'COMPLETED'">done</i>
                <i class="material-icons" ng-if="job.status === 'ERROR'">error</i>
                <i class="material-icons" ng-if="job.status === 'RUNNING'">hourglass_empty</i>
            </div>

            <div class="md-list-item-text" layout="row" ng-click="selectJob(job)">
                <div class="col-md-12 no-padding">
                    <h3>Job ID: {{job.id}} ({{job.serviceName}})</h3>
                    <h4>Start: {{job.startTime | formatDateTime}}</h4>
                </div>
            </div>

            <md-button class="toolbar-button md-secondary"
                    aria-label="Job Info"
                    uib-popover-template="'views/common/templates/jobinfo.tmpl.html'"
                    popover-placement="left"
                    popover-trigger="'mouseenter'"
                    popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="hasGuiEndPoint(job)"
                       href="{{job._links.gui.href}}"
                       target="_blank"
                       aria-label="Go to GUI"
                       uib-tooltip="Go to GUI"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">exit_to_app</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="shareObjectDialog($event, job, 'job', 'JobService', 'refreshSelectedJob')"
                       has-permission="ADMIN" permission-source="{{job}}"
                       aria-label="Share"
                       uib-tooltip="Share"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">share</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="repeatJob(job)"
                       aria-label="Re-run"
                       uib-tooltip="Edit and re-run"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">replay</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-if="job._links.terminate"
                       ng-click="terminateJob(job)"
                       aria-label="Terminate"
                       uib-tooltip="Terminate this job"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">stop</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="routeToManagePage(job)"
                       uib-tooltip="Open in Manage/Share"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
               <i class="material-icons">call_made</i>
            </md-button>

        </md-list-item>

        <div id="paging" ftep-paging="{{jobParams.pagingData}}"></div>

    </section>

</div>
