<div id="job">

   <section class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!jobParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="jobParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <div class="col-md-12 col-lg-4 filter-checkboxes"
                 ng-show="jobParams.displayFilters"
                 ng-repeat="jobStatus in jobParams.jobStatuses"
                 ng-click="jobStatus.value = !jobStatus.value; filterJobs()">
                <md-checkbox ng-model="jobStatus.value"
                             ng-click="jobStatus.value = !jobStatus.value; filterJobs()"
                             aria-label="Job Filter">
                    {{jobStatus.name}}
                </md-checkbox>
            </div>

            <div class="row filter-radiobutton" ng-show="jobParams.displayFilters">
                <md-radio-group ng-model="jobParams.selectedOwnershipFilter">
                    <div ng-repeat="ownershipFilter in jobOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </section>

    <section class="item-list">
        <div class="list" ng-repeat="(serviceName, serviceJobs) in groupedJobs">

            <div class="row list-group">

                <div class="col-xs-11" ng-click="toggleJobGroup(serviceName)">
                    <label>{{serviceName}}</label>
                </div>

                <div class="col-xs-1 no-padding expander">
                    <i class="material-icons"
                       ng-show="!isJobGroupOpened(serviceName)"
                       ng-click="toggleJobGroup(serviceName)"
                       aria-label="Show Job Details"
                       uib-tooltip="Show Job Details"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="isJobGroupOpened(serviceName)"
                       ng-click="toggleJobGroup(serviceName)"
                       aria-label="Hide Job Details"
                       uib-tooltip="Hide Job Details"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-list-item class="md-3-line"
                          ng-repeat="job in serviceJobs | filter: jobParams.selectedOwnershipFilter.criteria | orderBy: '-id'"
                          ng-show="isJobGroupOpened(serviceName) && filteredJobStatuses.indexOf(job.status) > -1"
                          ng-click="selectJob(job)"
                          ng-class="{active: job.id == jobParams.selectedJob.id}">

                <div class="md-avatar" alt="{{job.stage}}" style="{{getColor(job.status)}}">
                    <i class="material-icons" ng-if="job.status === 'COMPLETED'">done</i>
                    <i class="material-icons" ng-if="job.status === 'ERROR'">error</i>
                    <i class="material-icons" ng-if="job.status === 'RUNNING'">hourglass_empty</i>
                </div>

                <div class="md-list-item-text" layout="column">
                    <h3>Job ID: {{job.id}}</h3>
                    <h4>{{job.stage}}</h4>
                    <p>{{job.status}}</p>
                </div>

                <md-button class="toolbar-button md-secondary"
                           ng-show="hasGuiEndPoint(job)"
                           href="{{job._links.gui.href}}"
                           target="_blank"
                           aria-label="Go to GUI"
                           uib-tooltip="Go to GUI"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">exit_to_app</i>
                </md-button>

                <md-button class="toolbar-button md-secondary"
                           ng-click="shareObjectDialog($event, job, 'job', 'JobService', 'refreshSelectedJob')"
                           aria-label="Share"
                           uib-tooltip="Share"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true"
                           has-permission="ADMIN"
                           permission-source="{{job}}">
                    <i class="material-icons">share</i>
                </md-button>

                <md-button class="toolbar-button md-secondary"
                           ng-click="repeatJob(job)"
                           aria-label="Re-run"
                           uib-tooltip="Edit and re-run"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">replay</i>
                </md-button>

            </md-list-item>

        </div>
    </section>

</div>
