<section ng-if="msgParams.selectedMessage == undefined" class="note">Please select a message first</section>

<section ng-if="msgParams.selectedMessage !== undefined"
         class="panel-body scrollme"
         is-bar-shown="flag"
         rebuild-on="rebuild:scrollbar"
         rebuild-on-resize>

    <h3>{{msgParams.selectedMessage.status}} - {{msgParams.selectedMessage.title}}</h3>
    <h4>{{msgParams.selectedMessage.time}}</h4>
    <p>{{msgParams.selectedMessage.description}}</p>

</section>
