<nav id="navbar" class="navbar navbar-default " ng-controller="NavbarCtrl">
    <div class="container-fluid navbar-container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-contents" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="pull-left" ng-href="{{ftepUrl}}" target="_blank">
                <img src="images/logo.png"  alt="Forestry TEP Logo">
            </a>
        </div>

        <div class="navbar-contents collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li ng-click="goTo('')" aria-label="Explorer" ng-class="{ active: isActive('/')}">
                    <p><i class="material-icons">public</i><span> Explorer</span></p>
                </li>

                <li ng-if="user.role === 'EXPERT_USER' || user.role === 'CONTENT_AUTHORITY' || user.role === 'ADMIN'"
                    ng-click="goTo('/developer')" aria-label="Developer" ng-class="{ active: isActive('/developer')}">
                    <p><i class="material-icons">build</i><span> Developer</span></p>
                </li>

                <li ng-click="goTo('/community')" ng-if="user.name" aria-label="Manage " ng-class="{ active: isActive('/community')}">
                    <p><i class="material-icons">person</i><span> Manage / Share</span></p>
                </li>

                <li ng-click="goTo('/helpdesk')" aria-label="Helpdesk" ng-class="{ active: isActive('/helpdesk')}">
                   <p><i class="material-icons">help</i><span> Helpdesk</span></p>
                </li>

                <li ng-click="goTo('/admin')" ng-if="user.name && user.active.role === 'ADMIN'" aria-label="Admin"
                    ng-class="{ active: isActive('/admin')}">
                   <p><i class="material-icons">settings</i><span> Admin</span></p>
                </li>

                <li ng-click="goTo('/account')" ng-if="user.name" aria-label="Account" ng-class="{ active: isActive('/account')}">
                   <p><i class="material-icons">account_circle</i><span> My Account</span></p>
                </li>

                <li ng-if="user.name" aria-label="Logout">
                    <a ng-href="{{ftepUrl}}/Shibboleth.sso/SLogout" target="_self">
                        <p><i class="material-icons">power_settings_new</i><span> Logout</span></p>
                    </a>
                </li>
            </ul>

        </div>

    </div>

</nav>

<!-- TODO: Remove after pre-realease  -->
<div class="ribbon">{{version}}</div>

