<nav id="navbar" class="navbar navbar-default " ng-controller="NavbarCtrl">
    <div class="container-fluid navbar-container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-contents" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="pull-left" ng-click="goTo('')">
                <img src="images/logo.png"  alt="Forestry TEP Logo">
            </div>
        </div>

        <div class="navbar-contents collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li ng-click="goTo('')" aria-label="Explorer" ng-class="{ active: isActive('/')}">
                    <p><i class="material-icons">public</i> Explorer</p>
                </li>

                <li ng-click="goTo('/developer')" aria-label="Developer" ng-class="{ active: isActive('/developer')}">
                    <p><i class="material-icons">build</i> Developer</p>
                </li>

                <li ng-click="goTo('/community')" aria-label="Manage " ng-class="{ active: isActive('/community')}">
                    <p><i class="material-icons">person</i> Manage / Share</p>
                </li>

                <li ng-click="goTo('/helpdesk')" aria-label="Helpdesk" ng-class="{ active: isActive('/helpdesk')}">
                   <p><i class="material-icons">help</i> Helpdesk</p>
                </li>

                <li ng-click="goTo('/account')" aria-label="Account" ng-class="{ active: isActive('/account'), login: !user}">
                   <p><i class="material-icons">account_circle</i> My Account</p>
                </li>

                <li ng-if="user && user.role === 'ADMIN'" ng-click="goTo('/admin')" aria-label="Admin" ng-class="{ active: isActive('/admin')}">
                   <p><i class="material-icons">settings</i> Admin</p>
                </li>
            </ul>

        </div>

    </div>

</nav>

<!-- TODO: Remove after pre-realease  -->
<div class="ribbon">{{version}}</div>

