<article id="user-details" class="ftep-content">

    <section id="userlist-container" class="column-container col-md-12 col-lg-4 no-padding">

        <md-card id="user-list-card" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>User List</h2>

                    <md-input-container md-no-float>
                        <input ng-model="userParams.searchText" type="text" placeholder="Search" ng-keyup="filter()" aria-label="User Search Filter">
                    </md-input-container>

                    <md-list-item class="md-3-line ftep-file-list" ng-repeat="user in userParams.allUsers" ng-click="userParams.selectedUser = user; getUserData()">
                        <div class="md-avatar" alt="user">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3 class="selectable" ng-bind="user.name" />
                            <span><b>Email:</b> <span ng-bind="user.email" /></span>
                            <span><b>Role:</b> <span ng-bind="user.role" /></span>
                        </div>
                    </md-list-item>

                    <div id="paging" ftep-paging="{{userParams.pagingData}}"></div>

                </md-card-title-text>
            </md-card-title>
            <md-card-content>

            </md-card-content>
        </md-card>

    </section>


    <section id="coins-container" class="column-container col-md-12 col-lg-4 no-padding">

        <md-card md-theme-watch class="ftep-card">
            <form id="addCoinsForm" name="addCoinsForm">
                <md-card-title>
                    <md-card-title-text>
                        <h2>Endorse Coins</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-show="!userParams.selectedUser && !userParams.wallet">
                        <p>No user selected.</p>
                    </div>
                    <div ng-show="userParams.selectedUser && !userParams.wallet">
                        <h3 class="md-headline" ng-bind="userParams.selectedUser.name" />
                        <p>User {{userParams.selectedUser.name}} has no wallet.</p>
                    </div>
                    <div ng-show="userParams.selectedUser && userParams.wallet">
                        <h3 class="md-headline" ng-bind="userParams.selectedUser.name" />
                        <h4 class="md-subhead" ng-bind="'Coin Balance: ' + userParams.wallet.balance" />
                        <md-input-container class="md-block">
                            <label ng-class="{'hidden': userParams.coins < 0}">Add Coins</label>
                            <label ng-class="{'hidden': userParams.coins > -1}">Subtract Coins</label>
                            <input id="user-coins" ng-model="userParams.coins" type="number" step="1" aria-label="User Coins">
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center" ng-show="userParams.selectedUser && userParams.wallet">
                    <md-button id="add-coins"
                               type="submit"
                               form="addCoinsForm"
                               aria-label="Endorse"
                               ng-disabled="addCoinsForm.$invalid || userParams.coins === 0 || (userParams.wallet.balance + userParams.coins) < 0"
                               ng-click="addCoins()">
                        <span ng-class="{'hidden': userParams.coins < 0}"> Endorse Coins</span>
                        <span ng-class="{'hidden': userParams.coins > -1}">Subtract Coins</span>
                    </md-button>
                </md-card-actions>
            </form>
        </md-card>

        <md-card md-theme-watch class="ftep-card">
            <form id="editRoleForm" name="editRoleForm">
                <md-card-title>
                    <md-card-title-text>
                        <h2>Change User Role</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-show="!userParams.selectedUser && !userParams.wallet">
                        <p>No user selected.</p>
                    </div>
                    <div ng-show="userParams.selectedUser">
                        <h3 class="md-headline" ng-bind="userParams.selectedUser.name" />
                        <h4 class="md-subhead" ng-bind="'Role: ' + userParams.userDetails.role" />
                        <md-input-container class="md-block">
                            <select class="form-control" ng-model="userParams.newRole" ng-options="role for role in roles" />
                        </md-input-container>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center" ng-show="userParams.selectedUser">
                    <md-button id="update-role"
                               type="submit"
                               form="editRoleForm"
                               aria-label="Save"
                               ng-disabled="!userParams.newRole || userParams.newRole === userParams.userDetails.role"
                               ng-click="updateRole(userParams.newRole)">Save</md-button>
                </md-card-actions>
            </form>
        </md-card>

    </section>

    <section id="role-container" class="column-container col-md-12 col-lg-4 no-padding">

        <md-card md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Usage Report</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>


                <section>
                    <div class="row">
                        <div class="col-xs-12">
                            <md-subheader class="md-subheader-title">Month / Year</md-subheader>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <md-input-container md-no-float>
                                <md-select ng-model="userParams.reportMonth" aria-label="report month">
                                    <md-option ng-repeat="month in months" ng-value="month">
                                        {{month}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container md-no-float>
                                <md-select ng-model="userParams.reportYear" aria-label="report year">
                                    <md-option ng-repeat="year in years" ng-value="year">
                                        {{year}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </section>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button id="update-role"
                           aria-label="Download Usage Report"
                           ng-href="{{rootUri}}/reports/dataUsage/{{ userParams.reportYear }}/{{ months.indexOf(userParams.reportMonth) + 1 }}"
                           target="_blank">
                    Download Report
                </md-button>
            </md-card-actions>
        </md-card>

    </section>

</article>
