<div class="spinner-container" ng-class="{hidden: !hideContent}">
    <div class="spinner" />
</div>

<div id="navbar-container" ng-include src="'views/navbar.html'" ng-class="{hidden: hideContent}" onload="finishLoading('navbar')" />

<article id="explorer-container" layout="row" class="page-container row" ng-class="{hidden: hideContent}">

    <section id="side-container" ng-controller="SidebarCtrl" class="col-xs-12 col-sm-12 col-md-4 col-xl-3 col-xxl-2 no-padding">

        <div id="sidenav" ng-include src="'views/explorer/sidenav.html'" onload="finishLoading('sidenav')" />

        <md-sidenav id="sidebar-left"
                    class="md-sidenav-left md-whiteframe-4dp"
                    md-component-id="left"
                    md-disable-backdrop
                    md-whiteframe="4"
                    md-is-open="navInfo.sideViewVisible">
             <div class="sidebar-container" ng-include src="'views/explorer/sidebar/sidebar.html'" />
        </md-sidenav>

    </section>

    <section id="bottombar-container"
         ng-class="{'col-xs-12 col-sm-12 col-md-8 col-xl-9 col-xxl-10':navInfo.sideViewVisible, 'col-md-12
         wide':!navInfo.sideViewVisible, 'bottombar-tall': bottombarTall === true}"
         class="explorer-content animationIf no-padding"
         ng-include src="'views/common/bottombar/bottombar.html'"
         ng-controller="BottombarCtrl"
         ng-if="bottombarNavInfo.bottomViewVisible"/>

    <section id="map-container" >
        <div id="map"  ng-controller="MapCtrl">
            <div ng-include src="'views/explorer/map.html'" onload="finishLoading('map')"></div>
        </div>
    </section>

</article>
