<md-menu id="mapMenu">
    <button type="button"
            class="btn btn-control map-item map-type"
            ng-click="$mdOpenMenu($event)"
            aria-label="Menu"
            title="{{mapstore.type.active}} (Map Layer)">
        <i class="material-icons">layers</i>
    </button>
    <md-menu-content id="map-layer">
        <md-menu-item ng-class="{'active': mapstore.type.active == 'Open Street'}">
            <md-button ng-click="setMapType('OSM')" aria-label="Open Street Map">Open Street Map</md-button>
        </md-menu-item>
        <md-menu-item ng-class="{'active': mapstore.type.active == 'MapBox'}">
            <md-button ng-click="setMapType('MB')" aria-label="MapBox Map">MapBox Map</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<button type="button"
        class="btn btn-control map-item map-reset"
        ng-click="clearMap()"
        title="Clear Map"
        aria-label="Clear Map">
    <i class="material-icons">layers_clear</i>
</button>

<button type="button"
        class="btn btn-control map-item map-clear"
        ng-click="clearSearchPolygon()"
        aria-label="Remove Polygon"
        title="Remove Search Polygon">
    <i class="material-icons">clear</i>
</button>

<button type="button"
        class="btn btn-control map-item polygon-edit"
        ng-click="editPolygonDialog($event)"
        aria-label="Edit Polygon"
        title="Edit Polygon">
    <i class="material-icons">edit</i>
</button>

<button type="button"
        class="btn btn-control map-item polygon-copy"
        ng-click="copyPolygon()"
        ng-disabled="mapstore.aoi === undefined || mapstore.aoi.wkt === undefined"
        aria-label="Copy Polygon to Clipboard"
        title="Copy Polygon to Clipboard">
    <i class="material-icons">content_copy</i>
</button>

<section id="footer">
    <a href="https://github.com/cgi-eoss/ftep/blob/development/LICENSE.txt">GNU Affero General Public License v3.0</a>
    <a href="https://github.com/cgi-eoss/ftep"><img src="images/github.ico" alt="Github Source Code"></a>
</section>
