<div id="map" ng-controller="MapCtrl">

    <button type="button"
            class="btn btn-control map-clear"
            ng-click="clearSearchPolygon()"
            aria-label="Remove Polygon"
            uib-tooltip="Remove search polygon"
            tooltip-placement="left"
            tooltip-trigger="mouseenter"
            tooltip-append-to-body="true">

        <i class="material-icons">clear</i>

    </button>

    <button type="button"
            class="btn btn-control polygon-copy"
            ng-click="copyPolygon()"
            aria-label="Copy Polygon to Clipboard"
            uib-tooltip="Copy polygon to clipboard"
            tooltip-placement="left"
            tooltip-trigger="mouseenter"
            tooltip-append-to-body="true">

        <i class="material-icons">content_copy</i>

    </button>

    <button type="button"
            class="btn btn-control polygon-edit"
            ng-click="editPolygonDialog($event, searchPolygon)"
            aria-label="Edit Polygon"
            uib-tooltip="Edit polygon"
            tooltip-placement="left"
            tooltip-trigger="mouseenter"
            tooltip-append-to-body="true">

        <i class="material-icons">edit</i>

    </button>

    <md-menu id="mapMenu">

        <button type="button"
                   class="btn btn-control map-type"
                   ng-click="$mdOpenMenu($event)"
                   aria-label="Menu"
                   uib-tooltip="{{mapType.active}} (Map Layer)"
                   tooltip-placement="left"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">

            <i class="material-icons">layers</i>

        </button>

        <md-menu-content id="map-layer">
            <md-menu-item ng-class="{'active': mapType.active == 'Open Street'}">
                <md-button ng-click="setMapType('OSM')" aria-label="Open Street Map">Open Street Map</md-button>
            </md-menu-item>
            <md-menu-item ng-class="{'active': mapType.active == 'MapBox'}">
                <md-button ng-click="setMapType('MB')" aria-label="MapBox Map">MapBox Map</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

</div>
