<nav id="ftep-nav-wrapper">

    <ul class="ftep-nav">
        <li ng-click="toggleSidebar(sideNavTabs.SEARCH)">
            <i class="material-icons" uib-tooltip="Search" tooltip-placement="right">search</i>
        </li>
        <li ng-click="toggleSidebar(sideNavTabs.SERVICES)">
            <i class="material-icons" uib-tooltip="Services" tooltip-placement="right">settings_remote</i>
        </li>
        <li ng-click="toggleSidebar(sideNavTabs.WORKSPACE)">
            <i class="material-icons" uib-tooltip="Workspace" tooltip-placement="right">settings_input_component</i>
        </li>
        <li ng-click="toggleBottomView()">
            <i class="material-icons" uib-tooltip="Data-Panel" tooltip-placement="right">visibility</i>
        </li>
        <li ng-click="displayTab(bottomNavTabs.MESSAGES)" class="notification-container">
            <i class="material-icons" uib-tooltip="Messages" tooltip-placement="right">message</i>
            <span class="notification">{{message.count}}</span>
        </li>
    </ul>

</nav>
