<nav id="explorer-nav-wrapper">

    <ul class="explorer-nav">
        <li ng-click="toggleSidebar('search')">
            <i class="material-icons" uib-tooltip="Search" tooltip-placement="right">search</i>
        </li>
        <li ng-click="toggleSidebar('services')">
            <i class="material-icons" uib-tooltip="Services" tooltip-placement="right">settings_remote</i>
        </li>
        <li ng-click="toggleSidebar('workspace')">
            <i class="material-icons" uib-tooltip="Workspace" tooltip-placement="right">settings_input_component</i>
        </li>
        <li ng-click="toggleResultsMenu()">
            <i class="material-icons" uib-tooltip="Data-Panel" tooltip-placement="right">visibility</i>
        </li>
        <li ng-click="displayTab('MESSAGES')">
            <i class="material-icons" uib-tooltip="Messages" tooltip-placement="right">message</i>
            <span class="notification">{{message.count}}</span>
        </li>
    </ul>

</nav>
