<div id="bottombar-header" class="row no-margin">

    <section id="bottombar-tabs" class="col-xs-9">
        <md-tabs md-selected="tab.active" md-disable-animation>
            <md-tab label="RESULTS" ng-click="tab.active = '0'"></md-tab>
            <md-tab label="DATABASKETS" ng-click="tab.active = '1'"></md-tab>
            <md-tab label="JOBS" ng-click="tab.active = '2'"></md-tab>
            <md-tab label="MESSAGES ({{message.count}})" ng-click="tab.active = '3'"></md-tab>
        </md-tabs>
    </section>

    <section ng-if="tab.active == '0'" class="button-section col-xs-3" ng-include src="'views/explorer/bottombar/tabs/resultstab.html'" />
    <section ng-if="tab.active == '1'" class="col-xs-3" ng-include src="'views/explorer/bottombar/tabs/databasketstab.html'" />
    <section ng-if="tab.active == '2'" class="col-xs-3" ng-include src="'views/explorer/bottombar/tabs/jobstab.html'" />

</div>

<div id="bottombar-contents" class="row">

    <section class="bottombar-pane" ng-if="tab.active == '0'">
        <div id="results" ng-include src="'views/explorer/bottombar/results.html'" />
    </section>

    <section class="bottombar-pane" ng-if="tab.active == '1'">
        <div class="col-md-8 bottombar-right">
            <div id="databasket" ng-include src="'views/explorer/bottombar/databasket.html'" />
        </div>
        <div class="col-md-4 bottombar-left">
            <div id="databaskets" ng-controller="DatabasketCtrl" ng-include src="'views/explorer/bottombar/databaskets.html'" />
        </div>
    </section>

    <section class="bottombar-pane" ng-if="tab.active == '2'">
        <div class="col-md-8 bottombar-right">
            <div id="job" ng-include src="'views/explorer/bottombar/job.html'" />
        </div>
        <div class="col-md-4 bottombar-left">
            <div id="jobs" ng-controller="JobsCtrl" ng-include src="'views/explorer/bottombar/jobs.html'" />
        </div>
    </section>

    <section class="bottombar-pane" ng-if="tab.active == '3'" ng-controller="MessagesCtrl">
        <div class="col-md-8 bottombar-right">
            <div id="message" ng-include src="'views/explorer/bottombar/message.html'" />
        </div>
        <div class="col-md-4 bottombar-left">
            <div id="messages" ng-include src="'views/explorer/bottombar/messages.html'" />
        </div>
    </section>

</div>
