<div class="scrollme" is-bar-shown="flag" rebuild-on="rebuild:scrollbar" rebuild-on-resize>

       <section class="filter-list">
        <ul class="list">

            <div class="row no-margin list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!dbParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="dbParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="dbParams.displayFilters">
                <input ng-model="dbParams.searchText" type="text" placeholder="Search">
            </md-input-container>

            <div class="col-md-12 filter-radiobutton" ng-show="dbParams.displayFilters">
                <md-radio-group ng-model="dbParams.selectedOwnerhipFilter" layout="row">
                    <div ng-repeat="ownershipFilter in dbOwnershipFilters">
                        <md-radio-button ng-value="ownershipFilter"><!-- TODO ng-click to request new set from backend -->
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </section>

    <section class="item-list list">
        <md-list-item class="md-2-line"
                      ng-repeat="basket in databaskets | filter: dbParams.selectedOwnerhipFilter.criteria | filter: dbParams.searchText | orderBy: 'attributes.name'"
                      ng-click="selectDatabasket(basket);"
                      ng-class="{active: basket.attributes.name == dbParams.selectedDatabasket.attributes.name}">

            <div class="md-avatar" alt="drag handle" dnd-draggable="getBasketDragItems(basket)">
                <i class="material-icons"
                   uib-tooltip="Drag Databasket"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">drag_handle</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable basket-name">{{basket.attributes.name}}</h3>

                <p>Items: {{basket.relationships.files.data.length}}</p>
            </div>

            <md-button class="toolbar-button md-secondary"
                       ng-click="shareObjectDialog($event, basket)"
                       aria-label="Share"
                       uib-tooltip="Share"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"
                       has-permission="ADMIN"
                       permission-source="{{basket}}">
                <i class="material-icons">share</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="editDatabasketDialog($event, basket)"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"
                       has-permission="EDIT"
                       permission-source="{{basket}}">
                <i class="material-icons">create</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeDatabasket($event, basket)"
                       uib-tooltip="Delete"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true"
                       has-permission="ADMIN"
                       permission-source="{{basket}}">
                <i class="material-icons">delete</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-click="cloneDatabasket($event, basket)"
                        uib-tooltip="Clone"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">content_copy</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="dbLoaded.id != basket.id"
                       ng-click="loadBasket(basket)"
                       uib-tooltip="Load"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons"> visibility</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="dbLoaded.id == basket.id"
                       ng-click="unloadBasket(basket)"
                       uib-tooltip="Unload"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
               <i class="material-icons"> visibility_off</i>
            </md-button>

        </md-list-item>
    </section>

</div>

<section class="pagination">
    <paging page="dbPaging.dbCurrentPage"
            page-size="dbPaging.dbPageSize"
            total="dbPaging.dbTotal"
            show-first-last="true"
            paging-action="fetchDbPage(page)">
    </paging>
</section>
