<div class="col-xs-12 pagination-buttons">
    <paging page="dbPaging.dbCurrentPage"
        page-size="dbPaging.dbPageSize"
        total="dbPaging.dbTotal"
        show-first-last="true"
        paging-action="fetchDbPage(page)">
    </paging>
</div>

<section class="panel-body scrollme" ng-scrollbar is-bar-shown="flag" rebuild-on="rebuild:scrollbar" rebuild-on-resize>

    <div class="item-list list">
        <md-list-item class="md-2-line"
                      ng-repeat="basket in databaskets | orderBy: 'attributes.name'"
                      ng-click="showDatabasket(basket)">

            <div class="md-avatar" alt="drag handle" dnd-draggable="getBasketDragItems(basket)">
                <i class="material-icons"
                   uib-tooltip="Drag Databasket"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">drag_handle</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable basket-name">{{basket.attributes.name}}</h3>

                <p>Items: {{basket.relationships.files.data.length}}</p>
            </div>

            <md-button class="toolbar-button md-secondary"
                       ng-click="editDatabasketDialog($event, basket)"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeDatabasket($event, basket)"
                       uib-tooltip="Delete"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">delete</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                        ng-click="cloneDatabasket($event, basket)"
                        uib-tooltip="Clone"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                        tooltip-append-to-body="true">
                <i class="material-icons">content_copy</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="dbLoaded.id != basket.id"
                       ng-click="loadBasket(basket)"
                       uib-tooltip="Load"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons"> visibility</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="dbLoaded.id == basket.id"
                       ng-click="unloadBasket(basket)"
                       uib-tooltip="Unload"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
               <i class="material-icons"> visibility_off</i>
            </md-button>

        </md-list-item>
    </div>

</section>
