<div ng-if="selectedDatabasket == undefined" class="note">Please select or create a databasket first</div>

<div ng-if="selectedDatabasket != undefined" id="databasket-content">

    <h3>{{selectedDatabasket.attributes.name}}</h3>
    <h4>{{selectedDatabasket.attributes.description}}</h4>

    <section class="panel-body scrollme" ng-scrollbar is-bar-shown="flag" rebuild-on="rebuild:scrollbar" rebuild-on-resize>

        <md-list-item class="md-1-line" ng-repeat="item in selectedDatabasket.items">

            <div class="md-avatar" alt="drag handle" dnd-draggable="getBasketItem(item)">
                <i class="material-icons"
                   uib-tooltip="Drag Databasket"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">drag_handle</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <p>{{item.identifier}}</p>
                <p>{{item.attributes.fname}}</p>
                <p>{{item.name}}</p>
            </div>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeItemFromBasket(item)"
                       uib-tooltip="Remove"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">close</i>
            </md-button>

        </md-list-item>

    </section>

</div>

<paging page="dbPaging.dbCurrentPage"
    page-size="dbPaging.dbPageSize"
    total="dbPaging.dbTotal"
    show-first-last="true"
    paging-action="fetchDbPage(page)">
</paging>
