<section id="sidebar-list">

    <div class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-10" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-2 expander">
                    <i class="material-icons"
                       ng-show="!fileParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="fileParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <div class="row filter-radiobutton" ng-show="fileParams.displayFilters">
                <md-radio-group ng-model="fileParams.activeFileType" aria-label="File Type Filter">
                    <div ng-repeat="filetype in filetypes" class="col-md-12 col-lg-6 no-padding">
                        <md-radio-button ng-value="filetype.value">
                            {{filetype.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

            <md-input-container md-no-float ng-show="fileParams.displayFilters">
                <input ng-model="itemSearch.searchText" type="text" placeholder="Search">
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="fileParams.displayFilters">
                <md-radio-group ng-model="fileParams.selectedOwnerhipFilter">
                    <div ng-repeat="ownershipFilter in fileOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </div>

    <div class="row" ng-if="!fileParams.files.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">You have no {{item}}s. Add a Reference {{item}} using the + button below.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="fileParams.files.length > 0">
        <md-list-item class="md-2-line"
                      ng-repeat="(key, file) in fileParams.files | filter: quickSearch | filter: fileParams.selectedOwnershipFilter.criteria"
                      ng-click="selectFile(file)"
                      ng-class="{active: file.id == fileParams.selectedFile.id}">

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable" ng-bind="file.filename" />
                <span><b>Owner:</b> <span ng-bind="file.owner.name" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       ng-show="navInfo.activeSideNav === 0"
                       ng-click="removeItem(key, file)"
                       aria-label="Delete"
                       uib-tooltip="Delete"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">delete</i>
            </md-button>

            <i class="material-icons"
               ng-show="navInfo.activeSideNav === 1"
               aria-label="Share">
                share
            </i>

        </md-list-item>

        <div id="paging" ftep-paging="{{fileParams.pagingData}}"></div>

    </div>

</section>

<section id="add-file">
    <md-button id="add-file-button"
               class="icon-button md-icon-button md-fab md-mini"
               ng-click="addReferenceFileDialog($event)"
               aria-label="Add New Reference {{item}}"
               uib-tooltip="Add New Reference {{item}}"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add</i>
    </md-button>
</section>
