<section id="user-references" class="col-md-8">
    <div class="row">
        <h2>My Reference Data</h2>
        <!-- TODO -->
    </div>
</section>

<form id="refDataForm" name="refDataForm" class="col-md-4 no-padding">
        <div class="row">
            <md-subheader class="md-accent"><h3>Add Reference Data</h3></md-subheader>
        </div>
        <div class="row drop-box-container">
            <div class="col-md-12 no-padding">
                <md-input-container md-no-float>
                    <div class="drop-box"
                         required
                         ng-model="newReference.file"
                         ngf-drop
                         ngf-select
                         ngf-drag-over-class="'dragover'"
                         ngf-multiple="false"
                         ngf-allow-dir="false">
                        Drop a file here or click to upload
                    </div>
                </md-input-container>
                <h4 ng-bind="newReference.file.name" />
            </div>

            <div class="col-md-12 no-padding">
                 <md-input-container md-no-float>
                     <input ng-model="newReference.geometry" type="text" placeholder="Enter a geometry">
                     <div class="hint" ng-show="true">Geometry</div>
                 </md-input-container>
            </div>

            <div class="col-md-12 no-padding">
                 <md-input-container md-no-float>
                     <input ng-model="newReference.description" type="text" placeholder="Enter a description">
                     <div class="hint" ng-show="true">Description</div>
                 </md-input-container>
            </div>
        </div>

        <md-button id="referenceSubmitButton"
                   class="icon-button md-icon-button md-fab md-mini btn-success"
                   type="submit"
                   form="refDataForm"
                   ng-disabled="refDataForm.$invalid"
                   aria-label="Submit"
                   ng-click="addReferenceFile()">
            <i class="material-icons">file_upload</i>
        </md-button>
    </form>
