<div class="button-section button-section-small">
    <md-menu-bar>
        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)"
                       class="toolbar-button"
                       aria-label="Jobs Action Menu"
                       uib-tooltip="Jobs Action Menu"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">settings</i>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                     <md-button aria-label="Select All Outputs"
                                ng-click="selectAllOutputs()"
                                ng-disabled="jobParams.selectedJob == undefined">
                        <span>
                            <span class="material-icons">check_box</span>
                            <span class="menu-text">Select All</span>
                        </span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Deselect All Outputs"
                               ng-click="clearOutputsSelection()"
                               ng-disabled="jobParams.selectedJob == undefined">
                        <span>
                            <span class="material-icons">check_box_outline_blank</span>
                            <span class="menu-text">Deselect All</span>
                        </span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button aria-label="Invert Outputs Selection"
                               ng-click="invertOutputsSelection()"
                               ng-disabled="jobParams.selectedJob == undefined">
                         <span>
                             <span class="material-icons">indeterminate_check_box</span>
                             <span class="menu-text">Invert Selection</span>
                         </span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="createNewBasket($event, jobParams.jobSelectedOutputs)"
                               aria-label="Create New Databasket">
                         <span>
                             <span class="material-icons">add_shopping_cart</span>
                             <span class="menu-text">Create New Databasket</span>
                         </span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-menu ng-controller="DatabasketCtrl">
                        <md-button ng-click="$mdOpenMenu($event)"
                                   class="toolbar-button"
                                   ng-disabled="!dbParams.databaskets || dbParams.databaskets.length === 0"
                                   aria-label="Select Databasket"
                                   uib-tooltip="Select Databasket"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <span>
                                <span class="material-icons">shopping_cart</span>
                                <span class="menu-text">Select Databasket</span>
                            </span>
                        </md-button>
                        <md-menu-content class="select-databasket">
                            <md-menu-item class="search">
                                <input ng-model="basketSelection.searchText" type="text" placeholder="Search by name or description"
                                        ng-keyup="searchBaskets()" aria-label="Databaskets Search Filter">
                            </md-menu-item>
                            <md-menu-item ng-repeat="basket in dbParams.selectBasketList"
                                          ng-if="showList"
                                          uib-tooltip="No rights to edit this databasket"
                                          tooltip-trigger="mouseenter"
                                          tooltip-append-to-body="false"
                                          tooltip-placement="top"
                                          tooltip-enable="isItemDisabled({{basket.id}})">
                                 <md-button class="select_{{basket.id}}" ng-click="selectDatabasket(basket)"
                                            ng-class="(basket.name == dbParams.selectedDatabasket.name) ? 'selected' : ''"
                                            has-permission="WRITE"
                                            permission-source="{{basket}}"
                                            disable-on-check
                                            aria-label="Databasket">
                                    <span>
                                        <span class="material-icons">shopping_basket</span>
                                        <span class="menu-text">{{basket.name}}</span>
                                    </span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-disabled="dbParams.selectedDatabasket == undefined || jobParams.jobSelectedOutputs.length < 1"
                               ng-click="addToDatabasket(jobParams.jobSelectedOutputs)"
                               aria-label="Add to Databasket">
                         <span>
                             <span class="material-icons">shopping_basket</span>
                             <span class="menu-text">Add to {{selectedDatabasket.name}}</span>
                         </span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</div>

<div class="button-section button-section-large">

    <md-button class="toolbar-button"
               ng-click="selectAllOutputs()"
               aria-label="Select All Outputs"
               uib-tooltip="Select All Outputs"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true"
               ng-disabled="jobParams.selectedJob == undefined">
        <i class="material-icons">check_box</i>
    </md-button>

    <md-button class="toolbar-button"
               ng-click="clearOutputsSelection()"
               aria-label="Deselect All Outputs"
               uib-tooltip="Deselect All Outputs"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true"
               ng-disabled="jobParams.selectedJob == undefined">
        <i class="material-icons">check_box_outline_blank</i>
    </md-button>

    <md-button class="toolbar-button"
               ng-click="invertOutputsSelection()"
               aria-label="Invert Outputs Selection"
               uib-tooltip="Invert Outputs Selection"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true"
               ng-disabled="jobParams.selectedJob == undefined">
        <i class="material-icons">indeterminate_check_box</i>
    </md-button>

    <md-button class="toolbar-button"
               ng-click="createNewBasket($event, jobParams.jobSelectedOutputs)"
               aria-label="Create New Databasket"
               uib-tooltip="Create New Databasket"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add_shopping_cart</i>
    </md-button>

    <md-menu-bar>
        <md-menu ng-controller="DatabasketCtrl">
            <md-button ng-click="$mdOpenMenu($event)"
                       class="toolbar-button"
                       ng-disabled="!dbParams.databaskets || dbParams.databaskets.length === 0"
                       aria-label="Select Databasket"
                       uib-tooltip="Select Databasket"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">shopping_cart</i>
            </md-button>
            <md-menu-content class="select-databasket">
                <md-menu-item class="search">
                    <input ng-model="basketSelection.searchText" type="text" placeholder="Search by name or description"
                            ng-keyup="searchBaskets()" aria-label="Databaskets Search Filter">
                </md-menu-item>
                <md-menu-item ng-repeat="basket in dbParams.selectBasketList"
                              ng-if="showList"
                              uib-tooltip="No rights to edit this databasket"
                              tooltip-trigger="mouseenter"
                              tooltip-append-to-body="false"
                              tooltip-placement="top"
                              tooltip-enable="isItemDisabled({{basket.id}})">
                     <md-button class="select_{{basket.id}}" ng-click="selectDatabasket(basket)"
                                ng-class="(basket.name == dbParams.selectedDatabasket.name) ? 'selected' : ''"
                                has-permission="WRITE"
                                permission-source="{{basket}}"
                                disable-on-check
                                aria-label="Databasket">
                        <span>
                            <span class="material-icons">shopping_basket</span>
                            <span class="menu-text">{{basket.name}}</span>
                        </span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>

    <md-button class="toolbar-button"
               ng-disabled="dbParams.selectedDatabasket == undefined || jobParams.jobSelectedOutputs.length < 1"
               ng-click="addToDatabasket(jobParams.jobSelectedOutputs)"
               aria-label="Add to Databasket"
               uib-tooltip="Add to {{dbParams.selectedDatabasket.name}}"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">shopping_basket</i>
    </md-button>
</div>
