.ftep {
  height: 100vh;
  overflow-x: hidden;
  margin: 0px;
}
.ftep #portal-container {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.ftep #portal-container #explorer-container {
  height: 100%;
  transition: all 0.5s ease;
  width: 100%;
}
.ftep .icon-disabled {
  color: #BBB;
  cursor: default;
  filter: opacity(20%);
}
.ftep .md-errors-spacer:empty {
  display: none;
}
.ftep .note {
  background-color: #f2dede;
  border: solid 1px #ebcccc;
  color: #a94442;
  padding: 0.25rem;
  width: 100%;
}
.ftep .rzslider .rz-bubble {
  color: rgba(0, 0, 0, 0.7);
}
.ftep .rzslider .rz-pointer {
  width: 16px;
  height: 16px;
  border-radius: 25px;
  top: -6px;
}
.ftep .rzslider .rz-pointer .rz-active::after {
  background-color: transparent;
}
.ftep .rzslider .rz-pointer:hover {
  width: 24px;
  height: 24px;
  top: -10px;
}
.ftep .rzslider .rz-pointer:after {
  background-color: transparent;
}
.ftep .selectable {
  cursor: pointer;
}
.ftep .toolbar-button {
  margin: 0px;
  min-width: 1rem;
  padding: 0px;
}
.ftep .toolbar-button:hover {
  background-color: transparent;
}
.ftep .warnings {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 20px;
  height: 50px;
  padding: 6px;
  position: absolute;
  width: 100%;
}
.ftep .warnings:hover {
  background-color: #ffffff;
}
.ftep .filter-list .filter-list-title {
  color: #ff4081;
}
.ftep .filter-list .filter-checkboxes {
  border-bottom: #d2d2d2 solid 1px;
  margin: 0;
  padding: 10px;
  width: 100%;
}
.ftep .filter-list .filter-checkboxes:hover {
  background-color: #d9edf7;
}
.ftep .filter-list .filter-checkboxes .check-container {
  padding: 4px 0;
}
.ftep .filter-list .filter-checkboxes div:focus {
  outline: none;
  border: 0;
}
.ftep .filter-list .filter-checkboxes md-checkbox {
  margin: 0;
}
.ftep .item-list .active {
  background-color: #d9edf7;
}
.ftep .item-list md-list-item {
  min-width: 0;
  width: 100%;
}
.ftep .item-list md-list-item .md-avatar .material-icons {
  text-align: center;
  width: 100%;
}
.ftep .item-list md-list-item .toolbar-button {
  padding: 0 0.25rem;
}
.ftep .item-list md-list-item .toolbar-button i {
  font-size: 1rem;
}
.ftep .item-list md-list-item:hover {
  background-color: #d9edf7;
}
.ftep .item-list md-list-item:hover .md-button {
  background-color: transparent;
}
.ftep .item-list md-list-item:hover .toolbar-button {
  color: #ff4081;
}
.ftep .list {
  margin: 0;
  padding: 0;
}
.ftep .list .list-group {
  border-bottom: #d2d2d2 solid 1px;
  cursor: pointer;
  font-size: 0.7rem;
}
.ftep .list .list-group .expander,
.ftep .list .list-group label {
  margin: 0;
  padding: 0.25rem;
}
.ftep .list .list-group .expander {
  padding: 0.125rem;
}
.ftep .list .list-group:hover {
  background-color: lightgray;
}
.ftep .md-dialog-container {
  width: 100%;
  height: 100%;
}
.ftep .md-dialog-container h4 {
  background-color: lightgray;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  margin-top: 0px;
}
.ftep .md-dialog-container .dialog-content-area {
  padding: 10px 40px;
}
.ftep .md-dialog-container .dialog-list {
  list-style: none;
  padding: 5px 30px 5px 30px;
}
.ftep .md-dialog-container .dialog-list li {
  border-bottom: #d2d2d2 solid 1px;
  padding: 5px 0px;
}
.ftep md-menu-item .md-button {
  font-size: 14px;
}
.ftep md-menu-item .md-button[disabled] {
  color: rgba(0, 0, 0, 0.87);
}
.ftep md-menu-item .menu-text {
  float: left;
  line-height: 24px;
  width: 100px;
}
.ftep md-menu-item .material-icons {
  float: left;
  height: 24px;
  padding-right: 10px;
  width: 50px;
}
.ftep md-menu-item .selected {
  background-color: #ff80ab;
}
.ftep md-menu-item .selected:hover {
  background-color: #ff4081;
  color: rgba(0, 0, 0, 0.87);
}
.ftep md-menu-item .selected:hover .material-icons {
  color: rgba(0, 0, 0, 0.87);
}
.ftep md-menu-item:hover {
  color: #ff4081;
}
.ftep md-menu-item:hover .material-icons {
  color: #ff4081;
}
.ftep md-menu-item:hover .md-button[disabled] .material-icons {
  color: rgba(0, 0, 0, 0.87);
}
.ftep .nav-pills li a {
  background-color: transparent;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
}
.ftep .nav-pills li:hover {
  cursor: pointer;
}
.ftep .nav-pills li.active a {
  background-color: transparent;
  border-bottom: 2px solid #ff4081;
  color: #558b2f;
}
.ftep .pagination {
  font-size: 0.6rem;
  margin: 0;
}
.ftep .pagination a {
  background-color: transparent;
  border: none;
  color: #558b2f;
  border-left: #d2d2d2 solid 1px;
}
.ftep .pagination a:hover {
  background: #ff80ab;
  color: #33691e;
}
.ftep .pagination .active a {
  background-color: #ff4081;
  border-color: #ff4081;
  color: rgba(255, 255, 255, 0.87);
}
.ftep .pagination li:first-child a {
  border: none;
}
