#map-container {
  height: 100%;
  width: 100%;
}
#map-container #map {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}
#map-container #map .map-type,
#map-container #map .ol-zoom,
#map-container #map .box-selection,
#map-container #map .polygon-selection,
#map-container #map .map-clear,
#map-container #map .ol-mouse-position {
  z-index: 10;
  position: absolute;
  left: auto;
  right: 10px;
  height: 1.6rem;
  width: 1.6rem;
  padding: 0;
  background-color: none;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
#map-container #map .map-type img,
#map-container #map .ol-zoom img,
#map-container #map .box-selection img,
#map-container #map .polygon-selection img,
#map-container #map .map-clear img,
#map-container #map .ol-mouse-position img {
  width: 1rem;
  height: 1rem;
}
#map-container #map .map-type button,
#map-container #map .ol-zoom button,
#map-container #map .box-selection button,
#map-container #map .polygon-selection button,
#map-container #map .map-clear button,
#map-container #map .ol-mouse-position button {
  background-color: rgba(50, 50, 50, 0.3);
  color: rgba(255, 255, 255, 0.8);
  height: 1.6rem;
  width: 1.6rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
#map-container #map .map-type button:hover,
#map-container #map .ol-zoom button:hover,
#map-container #map .box-selection button:hover,
#map-container #map .polygon-selection button:hover,
#map-container #map .map-clear button:hover,
#map-container #map .ol-mouse-position button:hover {
  background-color: rgba(50, 50, 50, 0.8);
}
#map-container #map .map-type {
  top: 70px;
  background-color: rgba(50, 50, 50, 0.3);
}
#map-container #map .map-type:hover {
  background-color: rgba(50, 50, 50, 0.8);
}
#map-container #map .ol-zoom {
  top: 110px;
}
#map-container #map .ol-zoom button {
  margin: 4px 0;
}
#map-container #map .box-selection {
  top: 202px;
}
#map-container #map .polygon-selection {
  top: 242px;
}
#map-container #map .map-clear {
  top: 286px;
  background-color: rgba(50, 50, 50, 0.3);
}
#map-container #map .map-clear:hover {
  background-color: rgba(50, 50, 50, 0.8);
}
#map-container #map .ol-control {
  background-color: transparent;
}
#map-container #map .ol-mouse-position {
  color: rgba(50, 50, 50, 0.8);
  right: 40px;
  top: 60px;
  width: 140px;
}
#map-container #map .map-control {
  height: 1.6rem;
}
