
    <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" ></span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div id="account-area" layout="row">
<div>
<h3>TEP Coins Summary</h3>
    <a href="#/account" class="list-group-item">Name : Example Example</a>
    <a href="#/account" class="list-group-item">Role: Expert</a>
    <a href="#/account" class="list-group-item">Balance Coins: 220 F-TEP coins remaining</a>
    <a href="#/account" class="btn btn-info" role="button">Edit Profile</a>
    <a href="#/account" class="btn btn-info" role="button">Request Coins</a>
    <a href="#/account" class="btn btn-info" role="button">Contact Helpdesk</a>
    
 </div>
<div>
<h3>Usage View (ICT, Data, Software, Storage)</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Description</th>
        <th>Consumed Coins</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JOB0123</td>
        <td>Job forestry 1</td>
        <td>123</td>
      </tr>
      <tr>
        <td>JOB0560</td>
        <td>Job FTep test 12</td>
        <td>560</td>
      </tr>
      <tr>
        <td>JOB0369</td>
        <td>Resource forest exp</td>
        <td>369</td>
      </tr>
    </tbody>
  </table>
 </div>
 <div>
 <h3>Info & Statistics</h3>
 </div>
</div>
</div>
</nav>
