    <div id="explorer-container" layout="row">
	    <div id="sidebar-left" ng-show="searchMenuVisible">
	         <div ng-include src="'views/search.html'"></div>
	    </div>
	    <div id="explorer-content">
	         <div id="map-area" ng-include src="'views/map.html'"></div>
	         <div id="results-area" ng-include src="'views/results.html'"></div>
	    </div>
        <div id="sidebar-right" ng-show="workspaceVisible">
             <div ng-include src="'views/workspace.html'"></div>
        </div>
    </div>

    <div class="warnings" ng-show="warning.isVisible">
        {{warning.message}}
    </div>