 <div ng-controller="HelpdeskCtrl">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" ></span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div ng-cloak="" class="tabsdemoDynamicHeight">
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="">
      <md-tab label="Knowledge Base">
        <md-content class="md-padding">
          <h1 class="md-display-2">Knowledge Base</h1>
          <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Existing Topics" ng-model="query">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
                
            </form>
            <div class = "block-content clearfix">
    <div  class = 'col-xs-12 col-sm-12 col-md-12 col-lg-12'>




<table class = "table table-bordered table-striped"> <tbody>
  <tr>
    <td style="width: 100px;"> <b> 06 July 2016 </b></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/researchers-propose-high-resolution-satellite-constellation-provide-free-data-forest">
		<img src="https://forestry-tep.eo.esa.int/sites/default/files/Hansen_Schmidt.jpg" style="max-width: 100px;"/> </a></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/researchers-propose-high-resolution-satellite-constellation-provide-free-data-forest">
		<b>Researchers propose high resolution satellite constellation to provide free data for forest monitoring</b></a>
		<br/> by Tuomas
		<p>The full-scale operations of Sentinel-2 had hardly begun when researchers began to strive for free satellite data with higher resolution. Michael Schmidt from CONABIO, Mexico and Matt Hansen from University of Maryland, USA announced a plan for a constellation of eight satellites in a forestry workshop in Mexico in early June 2016. The workshop <i>"Regional solutions to forest type stratification and characterizing the forest state for national forest monitoring and carbon emissions reporting" </i> was organized by the Global Forest Observation Initiative, CONABIO, and the US aid program SilvaCarbon.
		</p>
		</td>
  </tr>
  <tr>
    <td style="width: 100px;"> <b> 02 June 2016</b></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/forestry-tep-well-received-esa%E2%80%99s-living-planet-symposium">
		<img src="https://forestry-tep.eo.esa.int/sites/default/files/WP_20160511_002.jpg" style="max-width: 150px;"/> </a></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/forestry-tep-well-received-esa%E2%80%99s-living-planet-symposium">
		<b>Forestry TEP well received in ESA’s Living Planet Symposium</b> </a>
		<br/> by Tuomas
	<p>Recent developments in the Forestry Thematic Exploitation Platform (F-TEP) were presented in a dedicated TEP session. An additional specific meeting for all six TEPs was also held. In the exhibition hall the participants could discuss bilaterally with the TEP representatives at the TEP booth. Interested participants could also pick up more information on F-TEP and other TEPs from new project flyers and promotion videos.
	</p>
	</td>
  </tr>
 
  <tr>
    <td style="width: 100px;"> <b>05 May 2016</b></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/forestry-your-fingertips">
		<img src="https://forestry-tep.eo.esa.int/sites/default/files/s2.jpg" style="max-width: 150px;"/> </a></td>
    <td><a href="https://forestry-tep.eo.esa.int/?q=content/forestry-your-fingertips">
		<b>Forestry at your fingertips</b> </a>
		<br/>by Tuomas
		<p>As a forest administrator can you get up-to-date information on the forest resources that you are managing? Probably not, since even in countries with high investments in the forestry sector, the information on cuttings, damage and even on forest biomass or growing stock volume is often uncertain or out-of-date. Unreliable or noisy information increases the difficulty of practicing sustainable forestry as the decisions that need to be made are not based on hard facts.</p>
	</td>
  </tr>
  

  

</tbody></table>

</div>  </div>

         <p> From  <a href="https://forestry-tep.eo.esa.int/?q=blog">F-TEP Blogs</a>.</p>
        </md-content>
      </md-tab>
      
      
      <md-tab label="Vendors">
        <md-content class="md-padding">
          <h3>Under construction..</h3>
         </md-content>
      </md-tab>
      <md-tab label="Contact Us">
        <md-content class="md-padding">
          <h1 class="md-display-2">Contact Us</h1>
          <div class="vertical-middle">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Form</h2>
                </div>
                <div class="panel-body">
                    <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                            <label for="inputName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-5">
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-5">
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                            <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                            <div class="col-lg-5">
                                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                            <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-5">
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-5">
                                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
            </div>
        </div>
    </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
        </div>
        </nav>
        
        </div>