<div ng-controller="SearchCtrl">
	<uib-accordion close-others="true">
	    <button type="button" class="btn btn-close-search" ng-click="hideSearchArea()">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
        <uib-accordion-group id="projects" heading="{{activeProject.attributes.name}}" template-url="customized-accordion-group.html">
            <div class="panel-toolbar">
              <md-button class="toolbar-button" uib-tooltip="Create new project" tooltip-placement="right-bottom" tooltip-trigger="mouseenter"
                  tooltip-append-to-body="true" ng-click="createProjectDialog($event)"><img src="images/new-project.png"/></md-button>
           </div>
           <div class="panel-content">
	           <ul id="project-list" class="list">
	               <li class="list-item" ng-repeat="project in projects | orderBy: 'attributes.name'"><!-- TODO  orderBy: ['attributes.projectType', 'attributes.name'] so that default project is always first-->
                       <div class="row">
                           <div class="col-md-8" ng-click="setActiveProject(project)" ng-dblclick="cacheProject(project);projectEdit = true" uib-tooltip="Select" tooltip-placement="top"
                             tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                                <label class="selectable" ng-show="!projectEdit || project.id == 0">{{project.attributes.name}}</label>
                                <div class="row no-padding" ng-show="projectEdit">
                                    <div class="col-md-8 no-padding">
		                                <span class="input-group" ng-show="projectEdit && project.id > 0" >
		                                  <input type="text" class="form-control input-sm ftep-input" ng-keyup="projectEdit = updateProject($event.keyCode == 13, project)"
		                                          ng-model="project.attributes.name">
		                                </span>
		                            </div>
                                    <div class="col-md-4 no-padding">
                                        <span class="glyphicon glyphicon-remove cancel-edit" ng-click="project= getProjectCache(project);projectEdit = false" uib-tooltip="Cancel"
                                              tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="project.id > 0">
                                <span class="glyphicon glyphicon-pencil" ng-click="projectEdit = !projectEdit" uib-tooltip="Edit"
                                      tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
                                <span class="glyphicon glyphicon-remove" ng-click="removeProject(project)" uib-tooltip="Delete"
                                      tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
                            </div>
                        </div>
	               </li>
	           </ul>
           </div>
        </uib-accordion-group>
	    <uib-accordion-group heading="Search" is-open="true" min-width="50" template-url="customized-accordion-group.html">
           <div class="panel-content">
	        <div class="dataContainer" min-width="50px">
				<form name="searchForm">
					<div class="row">
						<div class="col-md-4" ng-repeat="datasource in dataSources">
							<md-checkbox class=" green" ng-model="datasource.value" ng-click="checkSelection(datasource)"/>
							<label class="menu-font">{{datasource.name}}</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" class="form-control" ng-class="{ftepInvalid: isDateInvalid() }"
									uib-datepicker-popup ng-model="searchParameters.startTime" is-open="isCalendarOpened['startTime']"
									datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="updateSlider()"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openStartCalendar()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</p>
						</div>

						<div class="col-md-6">
							<p class="input-group">
								<input type="text" class="form-control" ng-class="{ftepInvalid: isDateInvalid() }"
									uib-datepicker-popup ng-model="searchParameters.endTime" is-open="isCalendarOpened['endTime']"
									datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-change="updateSlider()"/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openEndCalendar()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</p>
						</div>
					</div>
					<div class="row">
	                        <label class="col-md-4">Mission</label>
					        <div class="col-md-8 selectContainer">
					            <select class="form-control" ng-model="searchParameters.mission"
					               ng-options="option as option.name for option in missions"></select>
					        </div>
                    </div>
                    <div class="subsection">
				        <div class="row" ng-show="searchParameters.mission.name.indexOf('1') > -1">
				           <label class="col-md-4">Polarisation:</label>
				           <div class="col-md-8 selectContainer">
	                          <select class="form-control" ng-model="searchParameters.mission.polarisation">
	                             <option ng-repeat="pol in polarisations" value="{{pol.id}}">{{pol.label}}</option>
	                          </select>
	                       </div>
		                </div>
		                <div ng-show="searchParameters.mission.name.indexOf('2') > -1">
			                <div class="row">
	                           <label class="col-md-4">Name:</label>
                               <div class="col-md-8">
	                               <input class="form-control" type="text" ng-model="searchParameters.mission.text"/>
	                           </div>
	                        </div>
	                        <p/>
		                    <div class="row">
		                       <label class="col-md-8">Minimum cloud coverage %:</label>
		                       <div class="col-md-4">
		                          <input class="form-control" type="number" min="0" max="100" ng-model="searchParameters.mission.minCloudCover"/>
		                       </div>
		                    </div>
                            <p/>
	                        <div class="row">
	                           <label class="col-md-8">Maximum cloud coverage %:</label>
                               <div class="col-md-4">
	                               <input class="form-control" type="number" min="0" max="100" ng-model="searchParameters.mission.maxCloudCover"/>
	                           </div>
	                        </div>
                        </div>
                    </div>
				</form>
				<div layout=row layout-align="end">
                    <md-button class=" md-fab md-mini btn-success " ng-click="search()" type="submit" ng-disabled="searchForm.$invalid || isDateInvalid()">
                        <md-icon md-svg-icon="images/material_icons/ic_search_white_24px.svg"></md-icon>
                    </md-button>
                </div>
			</div>
		  </div>
		</uib-accordion-group>
		<uib-accordion-group id="databaskets-accordion" heading="DataBaskets" template-url="customized-accordion-group.html">
		   <div class="panel-toolbar">
		      <md-button class="toolbar-button" uib-tooltip="Create new databasket" tooltip-placement="right-bottom" tooltip-trigger="mouseenter"
		          tooltip-append-to-body="true" ng-click="createDatabasketDialog($event)"><img src="images/new-shopping-cart.png"/></md-button>
		      <paging page="dbPaging.dbCurrentPage" page-size="dbPaging.dbPageSize" total="dbPaging.dbTotal" show-first-last="true" paging-action="fetchDbPage(page)"></paging>
		   </div>
		   <div class="panel-content">
	           <ul id="databasket-list" class="list">
		           <li class="list-item" ng-repeat="basket in databaskets | orderBy: 'attributes.name'" dnd-draggable="getBasketDragItems(basket)">
	                    <div class="row">
			               <div class="col-md-8" ng-click="showDatabasket(basket)" ng-dblclick="cacheBasket(basket);basketEdit = true">
		                        <label class="selectable" ng-show="!basketEdit">{{basket.attributes.name}}</label>
		                        <div class="row no-padding" ng-show="basketEdit">
		                            <div class="col-md-8 no-padding">
				                        <span class="input-group" ng-show="basketEdit" >
									      <input type="text" class="form-control input-sm ftep-input" ng-keyup="basketEdit = updateDatabasket($event.keyCode == 13, basket)"
									             ng-model="basket.attributes.name">
									    </span>
									</div>
                                    <div class="col-md-4 no-padding">
                                        <span class="glyphicon glyphicon-remove cancel-edit" ng-click="basket = getBasketCache(basket);basketEdit = false" uib-tooltip="Cancel"
                                              tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
								    </div>
							    </div>
		                        <p>Items: {{basket.relationships.files.data.length}}</p>
		                    </div>
		                    <div class="col-md-4">
		                        <span class="glyphicon glyphicon-pencil" ng-click="cacheBasket(basket);basketEdit = true" uib-tooltip="Edit"
		                              tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
		                        <span class="glyphicon glyphicon-remove" ng-click="removeDatabasket($event, basket)" uib-tooltip="Delete"
                                      tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
                                <img src="images/copy.png" class="icon-img" ng-click="cloneDatabasket($event, basket)" uib-tooltip="Clone"
                                      tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"/>
                                <span class="glyphicon glyphicon-eye-open" ng-show="dbLoaded.id != basket.id" ng-click="loadBasket(basket)"
                                      uib-tooltip="Load" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
                                <span class="glyphicon glyphicon-eye-close" ng-show="dbLoaded.id == basket.id" ng-click="unloadBasket(basket)" uib-tooltip="Unload"
                                      tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
		                    </div>
	                    </div>
		           </li>
		       </ul>
	       </div>
        </uib-accordion-group>
		<uib-accordion-group id="services-accordion" heading="Services" template-url="customized-accordion-group.html">
           <div class="panel-content services-content">
			  <div class="row">
	            <div class="col-md-6" ng-repeat="serviceType in serviceTypes" ng-click="filterServices()">
	                <md-checkbox class=" green" ng-model="serviceType.value"/>
	                <label class="menu-font" ng-click="serviceType.value = !serviceType.value">{{serviceType.label}}</label>
	            </div>
	          </div>
	          <div class="input-group">
                  <input type="text" placeholder="Search.." ng-model="serviceSearch.searchText">
              </div>
			  <ul id="services-list" class="list">
	                <li class="list-item"  ng-repeat="service in services | orderBy: 'attributes.name' | filter: serviceQuickSearch " ng-if="filteredServiceTypes.indexOf(service.attributes.kind) > -1"
	                    ng-click="selectService(service)">
	                    <div class="row">
                            <div class="col-md-8">
                                <label class="selectable">{{service.attributes.name}}</label>
                            </div>
                            <div class="col-md-4">
                               <span class="glyphicon glyphicon-info-sign info-hover" uib-popover-html="getServicePopover({{service}})" popover-placement="right" popover-trigger="mouseenter"
                                    popover-append-to-body="true"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="description selectable">{{getShortDesc(service.attributes.description)}}</label>
                            </div>
                            <div class="col-md-6">
                                <span class="rating" ng-bind-html="getRating(service.attributes.rating)"></span>
                            </div>
                        </div>
	              </li>
	           </ul>
	       </div>
		</uib-accordion-group>
		<uib-accordion-group id="jobs-accordion" heading="Jobs" template-url="customized-accordion-group.html">
           <div class="panel-content jobs-content">
			    <div class="row">
	                <div class="col-md-4" ng-repeat="jobStatus in jobStatuses" ng-click="filterJobs()">
	                    <md-checkbox class=" green" ng-model="jobStatus.value"/>
	                    <label class="menu-font" ng-click="jobStatus.value = !jobStatus.value">{{jobStatus.name}}</label>
	                </div>
	            </div>
	            <ul id="jobs-list" class="list" ng-repeat="service in jobServices">
	               <div class="row">
	                 <div class="col-md-1">
	                    <span class="glyphicon glyphicon-plus list-arrow" ng-show="groupedJobs[service.id].length > 0 && !isJobGroupOpened(service.id)" ng-click="toggleJobGroup(service.id)"></span>
	                    <span class="glyphicon glyphicon-minus list-arrow" ng-show="groupedJobs[service.id].length > 0 && isJobGroupOpened(service.id)" ng-click="toggleJobGroup(service.id)"></span>
	                 </div>
	                 <div class="col-md-11" ng-click="toggleJobGroup(service.id)">
	                   <label>{{service.attributes.name}}</label>
                     </div>
	               </div>
	               <li class="list-item" ng-repeat="job in groupedJobs[service.id] | orderBy: 'id'" ng-show="isJobGroupOpened(service.id) && filteredJobStatuses.indexOf(job.attributes.status) > -1" ng-click="selectJob(job)">
	                    <div class="row">
	                        <div class="col-md-8">
		                        <label>Job id: {{job.id}}</label>
		                    </div>
	                        <div class="col-md-4">
	                            <span class="glyphicon glyphicon-remove" ng-click="removeJob($event, job)" uib-tooltip="Delete" tooltip-placement="top"
	                                   tooltip-trigger="mouseenter" tooltip-append-to-body="true"></span>
	                            <span class="glyphicon glyphicon-info-sign info-hover" uib-popover-html="getJobPopover({{job}})" popover-placement="right"
	                                   popover-trigger="mouseenter" popover-append-to-body="true"></span>
                                <a target="_blank" href="{{job.attributes.guiEndpoint}}" ng-show="hasGuiEndPoint(job.attributes.guiEndpoint)">
                                    <img src="images/goto.png" class="icon-img" uib-tooltip="Go to GUI" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true"/>
                                </a>
	                        </div>
	                    </div>
	                    <div class="row">
                            <div class="col-md-8">
                                <div style="color:gray;">{{job.attributes.step}}</div>
                            </div>
                            <div class="col-md-4">
                                <div class="job-status" style="{{getColor(job.attributes.status)}}">{{job.attributes.status}}</div>
                            </div>
                        </div>
	               </li>
	           </ul>
	        </div>
		</uib-accordion-group>
	</uib-accordion>
</div>