<div ng-controller="WorkspaceCtrl">
    <div class="workspace-title">
        WORKSPACE
	    <button type="button" class="btn btn-close-workspace" ng-click="hideWorkspaceArea()">
	        <i class="glyphicon glyphicon-chevron-right"></i>
	    </button>
    </div>
    <h4 id="selected-service">{{selectedService.attributes.name}}</h4>
    <div ng-show="isWpsLoading">loading...</div>
    <div id="service-panel" ng-if="selectedService" ng-hide="isWpsLoading">
        <div id="wps_{{serviceDescription.Identifier1}}">
            <div class="row">
                <div class="col-md-12"><h4 ng-bind="serviceDescription.Title"></h4></div>
            </div>
            <div class="row">
                <div class="col-md-12"><label class="service-desc" ng-bind="serviceDescription.Abstract"></label></div>
            </div>
            <div class="row">
                <div class="col-md-12"><h4>DataInputs</h4></div>
            </div>

            <div class="service-sub-section">
                <div class="service-field" ng-repeat="fieldDesc in serviceDescription.DataInputs.Input">
                    <div class="row" ng-show="fieldDesc.optional">
                      <div class="col-md-12">
                          {{fieldDesc.Identifier.__text}}<input class="optional-checkbox" type="checkbox"
                               ng-model="optionalInputs[fieldDesc.Identifier.__text]"/></div>
                      </div>
                    <div ng-show="fieldDesc.optional == false || optionalInputs[fieldDesc.Identifier.__text] == true">
                        <div class="row">
                          <div class="col-md-12">
                             <span ng-hide="fieldDesc.optional">{{fieldDesc.Identifier.__text}} - </span>{{fieldDesc.Title.__text}}
                          </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                             <input class="form-control" type="{{getInputType(fieldDesc)}}" ng-model="inputValues[fieldDesc.Identifier.__text]"
                                 dnd-list="dropLists[fieldDesc.Identifier.__text]" dnd-drop="onDrop(item, fieldDesc.Identifier.__text)"></input>
                           </div>
                        </div>
                        <div class="row">
                         <ul class="dropzone-list">
                            <li class="drop-list-item" ng-repeat="item in dropLists[fieldDesc.Identifier.__text]"
                                 uib-tooltip="{{item}}" tooltip-placement="top" tooltip-trigger="mouseenter" tooltip-append-to-body="true">
                              {{getShortName(item)}}
                              <span class="glyphicon glyphicon-remove drop-item-delete" ng-click="removeSelectedItem(fieldDesc.Identifier.__text, item)"></span>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><h4>ProcessOutputs</h4></div>
            </div>
            <div class="service-sub-section">
                <div class="service-field" ng-repeat="fieldDesc in serviceDescription.ProcessOutputs.Output">
                    <div class="row">
                        <div class="col-md-12">
                           {{fieldDesc.Identifier.__text}} - {{fieldDesc.Title.__text}}
                        </div>
                    </div>
                    <div class="row" ng-if="fieldDesc.ComplexOutput">
                      <div class="col-md-12">
                           <select class="form-control" ng-model="outputValues[fieldDesc.Identifier.__text]"
                                ng-options="option as option.MimeType for option in fieldDesc.ComplexOutput.Supported.Format track by option.MimeType"></select>
                      </div>
                    </div>
                    <div class="row" ng-if="!fieldDesc.ComplexOutput">
                      <div class="col-md-12">
                          <input class="form-control" ng-model="outputValues[fieldDesc.Identifier.__text]"></input>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <md-button class="launch-button" ng-hide="isWpsLoading" ng-click="launchProcessing()">Execute / Launch</md-button>
        <div class="gray" ng-if="info">{{info}}</div>
        <md-progress-linear ng-show="running == true" md-mode="determinate" value="{{progress[selectedService.attributes.name]}}"></md-progress-linear>
    </div>
    <div class="note" ng-if="!selectedService">
        Please select a service from the service panel first.
    </div>
</div>

