<div ng-controller="WorkspaceCtrl">
    <div class="workspace-title">
        WORKSPACE
	    <button type="button" class="btn btn-close-workspace" ng-click="hideWorkspaceArea()">
	        <i class="glyphicon glyphicon-chevron-right"></i>
	    </button>
    </div>
    <h4 id="selected-service">{{selectedService.attributes.name}}</h4>
    <div id="service-panel" ng-if="selectedService">
        <div ng-bind-html="myHtml"></div>
        <md-button class="launch-button" ng-show="isWpsLoaded()" ng-click="launchProcessing()">Execute / Launch</md-button>
        <div class="gray" ng-if="info">{{info}}</div>
        <md-progress-linear ng-show="running == true" md-mode="determinate" value="{{progress[selectedService.attributes.name]}}"></md-progress-linear>
    </div>
    <div class="note" ng-if="!selectedService">
        Please select a service from the service panel first.
    </div>
</div>

