/* F-TEP */
.ftep {
	height: 100vh;
	margin: 0px;
    overflow-y : hidden;
}

.container {
	width: 100vw;
	height: 95vh;
	margin: 0px;
	padding: 0px;
}

.main-menu {
	height: 50px;
	font-size: 1.8em;
}

.main-menu .glyphicon {
	font-size: 20px;
	margin-right: 5px;
}

md-toolbar{
	min-height: 50px;
}

.menu-letter {
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 1.6em;
	margin-right: 5px;
}

#explorer-container {
	top: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    height: 95vh;
}


/* Left sidebar */
#sidebar-left {
	min-width: 450px;
	width: 450px;
	float: left;
}
/*----- End Left sidebar ------*/

#explorer-content {
	width: 100vw;
}


/* Right sidebar */
#sidebar-right {
    min-width: 400px;
    width: 400px;
    float: right;
    height: 90vh;
}
/*----- End Right sidebar ------*/

.gray {
	color: #828282;
}

.subsection {
    margin-top: 6px;
    margin-bottom: 6px;
}

.panel-body {
    padding: 0px;
}

.panel-content {
	padding: 15px;
}

.panel-header {
	background-color: #e9e9e9;
	padding-left: 10px;
}

.panel-toolbar {
	background-color: #ebebeb;
	min-height: 40px;
	padding: 2px;
	padding-right: 15px;
}

.panel-toolbar .md-button {
    float: right;
}

.pagination {
	margin: 3px 0px 3px 15px;
}

.pagination > li > a {
	color: #495b6d;
	padding: 4px 10px;
}

.pagination > li > a:hover {
	/* color: #d54500; */
}

.pagination > .active > a, .pagination > .active > a:HOVER {
	background-color: #2e991e;
}

.padding-10 {
	padding: 10px;
}

.glyphicon {
	top: 3px;
}

.pointer {
	cursor: pointer;
}

.ftepInvalid {
	color: red;
}

.menu-font {
	font-size: 0.9em;
}

.metadata {
    margin-top: 26px;
}

.delete-icon {
    float: right;
}

.info-buttons {
	font-size: 1.5em;
	float: right;
}

.warnings {
	position: absolute;
	width: 100vw;
	height: 2vh;
    bottom: 1.5vh;
	color: #df0000;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.6);
}

.note {
	margin: 4px 2px 2px 2px;
	border: solid 1px #ffcaca;
	padding: 4px;
	background-color: #f3f3f3;
	color: #404040;
}

.result-info {
	margin: 4px 2px 2px 2px;
    padding: 4px;
    color: #7e7e7e;
}

.glyphicon-remove {
    color: #be1421;
}

.glyphicon-pencil {
	color: #009300;
}

.popover{
   min-width: 600px;
   min-height: 200px;
}

.raiting {
    float: right;
    right: 10px;
}

.raiting-star {
	list-style-type: none;
	display: inline;
	width: 20px;
	height: 20px;
}

.toolbar-button {
	min-width: 2vw;
	padding: 0px;
	margin: 0px;
}

.icon-disabled {
    -webkit-filter: opacity(20%);
    filter: opacity(20%);
    cursor: default;
    color: #e0e0e0;
}

.toolbar-button img {
	height: 1vw;
	width: 1vw;
	padding: 0px;
}

.md-dialog-container {
	width: 100%;
    height: 100%;
}

#databasket-dialog, #project-dialog {
	width: 700px;
	height: 400px;
}

#metadata-dialog {
	width: 70vw;
	height: 70vh;
	background-color: #e8e8e8;
}

#databasket-dialog h4, #project-dialog h4, #metadata-dialog h4 {
	background-color: #e0e0e0;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
    margin-top: 0px;
}

.dialog-content-area {
	padding: 10px 40px;
}

.dialog-list {
	list-style: none;
	margin: 5px 30px 5px 5px;
}

.dialog-list > li {
	padding: 5px 0px;
	border-bottom: 1px solid #000;
}

.product-item {
    word-wrap: break-word;
}

.item-download {
	width: 30px;
	font-size: 26px;
	right: 30px;
}

.selectable {
	cursor: pointer;
}

.wrap-text {
    word-wrap: break-word
}

/** SPINNER **/
.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #54ace0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 70vh;
    left: 48vw;
    z-index: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* END OF SPINNER */

/* Drag-and-Drop lists */
ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}

/* MATERIAL customization */
md-checkbox.md-checked.green .md-icon {
 background-color: #345A3D;
}

.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: #345A3D;
}

.md-button.md-fab.md-mini.btn-success:not([disabled]):hover {
    background-color: #107e3f;
    transition: 0.3s;
}

md-tabs md-ink-bar {
	background-color: #107e3f;
	color:  #107e3f;
}
