#ftep-version{
	color: #e0e4ed;
	z-index: 4;
	font-size: 12px;
	position: relative;
	top: -45px;
	right: -90%;
}

.ftep {
    height: 100vh;
    margin: 0px;
    overflow-y : hidden;
}

.container {
    width: 100vw;
    height: 95vh;
    margin: 0px;
    padding: 0px;
}

.main-menu {
    height: 50px;
    font-size: 1.8em;
}

.main-menu .glyphicon {
    font-size: 20px;
    margin-right: 5px;
}

.ftep-main-toolbar{
    min-height: 50px;
}

.menu-letter {
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 1.6em;
    margin-right: 5px;
}