.workspace-title {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #959595;
    color: #efefef;
}

#service-panel {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.service-field{
    margin: 4px 0px 10px 0px;
}

.optional-checkbox{
    margin-left: 6px!important;
}

.btn-close-workspace {
    float: left;
    background-color: transparent;
    padding-left: 0.2em;
    padding-top: 3px;
}

.dropzone {
    height: 130px;
    border: solid 1px #e8e8e8;
    margin: 12px 2px 2px 2px;
    padding: 3px;
}

.dropzone-list {
    list-style-type: none;
    padding-left: 2px;
    margin-left: 20px;
}

.dropzone-list li{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #f4f4f4;
    border-radius: 5px;
    border: solid 1px #c0c0c0;
    padding: 2px;
    margin: 2px;
}

.drop-item-delete{
    position: relative;
    float: right;
}

.itemCounter {
   padding: 1px 5px;
   float: right;
   background: #e6e6e6;
   -moz-border-radius: 50%;
   -webkit-border-radius: 50%;
   border-radius: 50%;
}

.launch-button {
    margin-left: 10px;
    background-color: #345A3D;
    color: #fff;
}

.launch-button[disabled] {
    background-color: #c0c0c0;
    color: #fff !important;
}

.launch-button:HOVER:not([disabled]){
    background-color: #107e3f !important;
}

#selected-service {
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40px;
    line-height: 40px;
}