#bottombar {
  bottom: 0;
  height: 35%;
  left: 44px;
  min-height: 300px;
  position: fixed;
  transition: all 0.4s ease-out;
  width: calc(100% - 44px);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
}
#bottombar:hover {
  background-color: #ffffff;
}
#bottombar #bottombar-header {
  flex: 0 1 auto;
  height: 42px;
}
#bottombar #bottombar-header .button-section {
  padding-left: 0px;
  padding-right: 1rem;
}
#bottombar #bottombar-header .button-section button {
  color: #33691e;
  float: right;
}
#bottombar #bottombar-header .button-section button:hover {
  color: #ff4081;
}
#bottombar #bottombar-header .button-section .md-button.md-focused:not([disabled]) {
  background-color: transparent;
  outline: none;
}
#bottombar #bottombar-header .button-section .pagination {
  float: right;
  margin: 0.5rem 0;
}
#bottombar #bottombar-header .button-section .pagination a {
  background-color: transparent;
  border: none;
  color: #558b2f;
  padding: 2px 0.5rem;
  border-left: #d2d2d2 solid 1px;
}
#bottombar #bottombar-header .button-section .pagination a:hover {
  background: #ff80ab;
  color: #33691e;
}
#bottombar #bottombar-header .button-section .pagination .active a {
  background-color: #ff4081;
  border-color: #ff4081;
  color: rgba(255, 255, 255, 0.87);
}
#bottombar #bottombar-header .button-section .pagination li:first-child a {
  border: none;
}
#bottombar #bottombar-header .row {
  padding: 0 20px;
}
#bottombar #bottombar-contents {
  flex: 1 1 auto;
  height: calc(100% - 42px);
  margin: 0;
}
#bottombar #bottombar-contents .bottombar-pane {
  height: 100%;
}
#bottombar #bottombar-contents .bottombar-pane .bottombar-left,
#bottombar #bottombar-contents .bottombar-pane .bottombar-right {
  height: 100%;
}
#bottombar md-content {
  background-color: transparent;
}
#bottombar .md-subheader {
  background-color: transparent;
  color: #ff4081;
}
#bottombar .md-subheader .md-subheader-inner {
  padding-right: 0;
}
#bottombar .md-subheader .md-subheader-inner label {
  color: rgba(0, 0, 0, 0.7);
}
#bottombar md-tabs {
  height: 100%;
}
#bottombar .nav-pills li a {
  background-color: transparent;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
}
#bottombar .nav-pills li:hover {
  cursor: pointer;
}
#bottombar .nav-pills li.active a {
  background-color: transparent;
  border-bottom: 2px solid #ff4081;
  color: #558b2f;
}
#bottombar .scrollme {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
#bottombar .scrollme .ngsb-track {
  background-color: #ff4081;
  border-radius: 20px;
  height: 95%;
  width: 4px;
}
