#databaskets {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
}
#databaskets input {
  height: 1.4rem;
  padding-left: 4px;
  padding-right: 4px;
  z-index: 10;
}
#databaskets .md-avatar {
  cursor: move;
  z-index: 1;
}
#databaskets .ng-hide.ng-hide-animate {
  display: none;
}
#databaskets .pagination {
  text-align: center;
  width: 100%;
}
#databaskets .pagination paging {
  display: inline-block;
}
.pagination-buttons {
  margin-top: 10px;
  margin-bottom: 15px;
}
.pagination-buttons .pagination {
  margin: 0;
}
.pagination-buttons .pagination a {
  background-color: transparent;
  border: none;
  color: #558b2f;
  padding: 2px 0.5rem;
  border-left: #d2d2d2 solid 1px;
}
.pagination-buttons .pagination a:hover {
  background: #ff80ab;
  color: #33691e;
}
.pagination-buttons .pagination .active a {
  background-color: #ff4081;
  border-color: #ff4081;
  color: rgba(255, 255, 255, 0.87);
}
.pagination-buttons .pagination li:first-child a {
  border: none;
}
