#job {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
}
#job .job-files {
  list-style: none;
  line-height: 1.2rem;
  padding: 0.5rem;
}
#job .job-status {
  border-radius: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
  cursor: default;
  font-size: smaller;
  height: 100%;
  line-height: 1.2rem;
  text-align: center;
  width: 60%;
}
#job .job-title {
  padding: 0.5rem;
}
#job .job-title h4 {
  margin: 0;
}
#job .job-detail .key {
  font-weight: bold;
}
#job .job-detail:hover {
  background-color: #d9edf7;
}
#job .toolbar-button {
  min-height: 0;
  line-height: 1rem;
}
#job .toolbar-button .material-icons {
  color: #ff4081;
}
