#jobs {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
}
#jobs .filter-list .filter-list-title {
  color: #ff4081;
}
#jobs .filter-list .job-checkboxes {
  margin: 0;
  padding: 10px;
  width: 100%;
}
#jobs .filter-list .job-checkboxes .check-container {
  padding: 4px 0;
}
#jobs .filter-list .job-checkboxes div:focus {
  outline: none;
  border: 0;
}
#jobs .filter-list .job-checkboxes md-checkbox {
  margin: 0;
}
#jobs .jobs-list md-list-item .md-avatar .material-icons {
  text-align: center;
  width: 100%;
}
#jobs .jobs-list md-list-item .toolbar-button {
  padding: 0 0.25rem;
}
#jobs .jobs-list md-list-item:hover .toolbar-button {
  color: #ff4081;
}
#jobs .list {
  margin: 0;
  padding: 0;
}
#jobs .list .list-group {
  font-size: 0.8rem;
  cursor: pointer;
  border-bottom: #d2d2d2 solid 1px;
}
#jobs .list .list-group .expander,
#jobs .list .list-group label {
  margin: 0;
  padding: 0.25rem 0;
}
#jobs .list .list-group:hover {
  background-color: lightgray;
}
