#messages {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
}
#messages h3 {
  font-weight: bold;
}
#messages .md-list-item-text p {
  line-height: 1rem;
  max-height: 1rem;
  text-overflow: ellipsis;
}
