#results {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
}
#results .pagination {
  text-align: center;
  width: 100%;
}
#results .pagination paging {
  display: inline-block;
}
#results .products-list {
  list-style: none;
  padding-left: 0px;
}
#results .products-list .geo-item {
  cursor: pointer;
  padding: 0.4rem;
  padding-bottom: 0.2rem;
  font-size: 0.8em;
}
#results .products-list .geo-item .title {
  font-size: 1.2em;
  font-weight: 500;
  word-wrap: break-word;
}
#results .products-list .geo-item:hover {
  background-color: #d9edf7;
}
#results .products-list .geo-item:hover .material-icons {
  color: #ff4081;
}
#results .products-list .resulthighlight {
  border-bottom: #d2d2d2 solid 1px;
  border-top: #d2d2d2 solid 1px;
  background-color: #bcdff1;
}
#results .products-list .resulthighlight .material-icons {
  color: #ff4081;
}
#results .products-list .resulthighlight:hover {
  background-color: #31708f;
}
#results .result-info {
  padding: 0.5rem;
  color: #999;
}
/** SPINNER **/
.spinner-container {
  height: 100px;
  margin: auto;
  width: 100px;
}
.spinner {
  animation: spin 1s linear infinite;
  border: 12px solid lightgray;
  border-top: 12px solid #54ace0;
  border-radius: 50%;
  height: 80px;
  margin: auto;
  width: 80px;
  z-index: 10;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END OF SPINNER */
/* Drag-and-Drop lists */
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}
