<md-dialog id="edit-group-dialog" aria-label="Add Users dialog">
    <form id="addUserForm" name="addUserForm">
        <h4>Add User to {{groupParams.selectedGroup.name}}</h4>
        <md-dialog-content>
            <div class="dialog-content-area">
                <md-input-container>
                    <label>Enter a username or email</label>
                    <input type="text" ng-model="userParams.searchText" aria-label="User ID">
                </md-input-container>
                <br />
                <div class="note" ng-show="addUserFailure">
                    {{errorMessage}}
                </div>
                <div class="note-success" ng-show="addUserSuccess">
                    User added successfully!
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="addUser()"
                       type="submit"
                       class="md-primary"
                       form="addUserForm">
                Add
            </md-button>
            <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
