@import "variable";
#bottombar {
    bottom: 0;
    height: 35%;
    left: @sidenav-width;
    min-height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    transition: all 0.4s ease-out;
    width: calc(100% ~"-" @sidenav-width);
    z-index: 2;
    .bg-trans(@bg-light);
    #bottombar-header {
        flex: 0 1 auto;
        height: 42px;
        min-width: @min-width;
        width: 100%;
        #bottombar-tabs {
            padding: 0 0 0 0.5rem;
            height: 42px;
            .md-tab {
                padding-top: 8px;
            }
            md-tabs-wrapper, md-pagination-wrapper {
               height: 42px;
            }
        }
        .button-section {
            padding:0;
            padding-right: 0.5rem;
            button {
                color: @brand-dark;
                float: right;
                &:hover {
                    color: @accent;
                }
            }
            .md-button.md-focused:not([disabled]) {
                background-color: transparent;
                outline: none;
            }
        }
        @media screen and (max-width: @sm-max-width){
            .button-section-large {
                display: none;
            }
            .button-section-small {
                display: inline;
            }
        }
        @media screen and (min-width: 992px){
            .button-section-large {
                display: inline;
            }
            .button-section-small {
                display: none;
            }
        }
        .row {
            padding: 0 20px;
        }
    }
    #bottombar-contents {
        flex: 1 1 auto;
        height: calc(100% ~"-" 42px);
        margin: 0;
        min-width: @min-width;
          .bottombar-pane {
            height: 100%;
            width: 100%;
        }
        .bottombar-left {
            .border(border-bottom, @bg);
            .border(border-left, @bg);
            .border(border-top, @bg);
            height:100%;
            padding: 0;
        }
        .bottombar-right {
            height:100%;
            padding: 0;
            @media screen and (max-width: @sm-max-width){
                height: auto;
            }
        }
        .resulthighlight {
            background-color: @alert-border;
            .material-icons {
                color: @accent;
            }
            &:hover {
                background-color: @alert-text;
            }
        }
    }
    md-content {
        background-color: transparent;
    }
    md-input-container {
        margin: 0;
        width: 100%;
        .text-sec();
        .hint {
            font-size: 0.6rem;
            .text-hint();
        }
    }
    .md-subheader {
        background-color: transparent;
        color: @accent;
        .md-subheader-inner {
            padding-right: 0;
            label {
                .text-sec();
            }
        }
    }
    .scrollme {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        overflow-y: auto;
        .ngsb-track {
            background-color: @accent;
            border-radius: 20px;
            height: 95%;
            width: 4px;
        }
    }
}
