<div class="page" ng-controller="AccountCtrl">

    <div class="spinner-container" ng-class="{hidden: !hideContent}">
        <div class="spinner" />
    </div>

    <div id="navbar-container"
         ng-include src="'views/navbar.html'"
         onload="finishLoading('navbar')"
         ng-class="{hidden: hideContent}"/>

    <article id="account" class="page-container row" ng-class="{hidden: hideContent}">

        <session id="account-container" ng-if="user">

            <div id="account-panel" class="col-md-12 col-lg-4">
               <md-card id="account-info" md-theme-watch >
                    <md-card-title>
                        <md-card-title-text>
                            <h2>Account Info</h2>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div class="row">
                           <b class="col-md-4">Username:</b>
                           <div class="col-md-8">{{user.name}}</div>
                        </div>
                        <div class="row">
                           <b class="col-md-4">Role:</b>
                           <div class="col-md-8">{{user.role}}</div>
                        </div>
                        <div class="row">
                            <b class="col-md-4">Email:</b>
                            <div class="col-md-8">{{user.email}}</div>
                        </div>
                        <div class="row">
                            <b class="col-md-4">Coin Balance:</b>
                            <div class="col-md-8">{{wallet.balance}}</div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>

            <div id="statistics-panel" class="col-md-12 col-lg-4">
                <md-card id="statistics" md-theme-watch >
                    <md-card-title>
                        <md-card-title-text>
                            <h2>Statistics</h2>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                      ...
                    </md-card-content>
                </md-card>
            </div>

            <div id="info-panel" class="col-md-12 col-lg-4">
                <md-card id="request-coins" md-theme-watch >
                    <md-card-title>
                        <md-card-title-text>
                            <h2>Requesting Coins</h2>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>You can ask for more credit by contacting F-TEP administrator using the
                                <a href="https://forestry-tep.eo.esa.int/?q=content/contact" target="_blank">form</a>
                                or sending an email to <a href="mailto:forestry-tep@esa.int" target="_top">forestry-tep@esa.int</a>.
                            </p>
                    </md-card-content>
                </md-card>
            </div>

        </session>

        <session id="login-container" ng-if="!user">
            <div class="note">Your session has timed out. Please login or refresh the page to view your account.</div>
        </session>

    </article>
</div>
