<article id="account-container" layout="row" class="page-container row" ng-controller="AccountCtrl">

    <div id="accountManagement">
        <div id="accountInfo" class="col-xl-4">
	        <h3>Account Info</h3>
	        <div class="row">
	           <div class="col-xs-4">Username:</div>
	           <div class="col-xs-8">{{user.name}}</div>
	        </div>

	        <div class="row">
	            <div class="col-xs-4">Email:</div>
	            <div class="col-xs-8">{{user.email}}</div>
	        </div>

	        <div class="row">
	            <div class="col-xs-4">Coin Balance:</div>
	            <div class="col-xs-8">{{accountData.coinBalance}}</div>
	        </div>
        </div>
        <div class="col-xl-4">
        </div>
        <div class="col-xl-4">
        </div>
    </div>

</article>
