<article id="account-details" ng-if="user" class="col-md-12 no-padding ftep-content">

    <section id="account-panel" class="col-md-12 col-lg-4">

       <md-card id="account-info" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Account Info</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="row">
                   <b class="col-md-4">Username:</b>
                   <div class="col-md-8">{{user.name}}</div>
                </div>
                <div class="row">
                   <b class="col-md-4">Role:</b>
                   <div class="col-md-8">{{user.role}}</div>
                </div>
                <div class="row">
                    <b class="col-md-4">Email:</b>
                    <div class="col-md-8">{{user.email}}</div>
                </div>
                <div class="row">
                    <b class="col-md-4">Coin Balance:</b>
                    <div class="col-md-8">{{walletParams.wallet.balance}}</div>
                </div>
            </md-card-content>
        </md-card>

        <md-card id="api-key-panel" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>API key management</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div ng-if="apiKeyStatus === 'ready'">
                    <div ng-if="!hasApiKey" class="row">
                        <div>From here you can generate an API key allowing the usage of the F-TEP API REST services</div>
                        <md-button class="md-raised md-accent" ng-click="generateApiKey()">Generate</md-button>
                    </div>
                    <div ng-if="hasApiKey" class="row">
                        <div>
                            An API key is already available for this account. You can delete it or generate a new one.
                            Any of the following operations will invalidate the previously generated token.
                        </div>
                        <md-button class="md-raised md-accent" ng-click="generateApiKey()">Regenerate</md-button>
                        <md-button class="md-raised md-accent" ng-click="deleteApiKey()">Delete</md-button>
                    </div>
                </div>
                <div ng-if="apiKeyStatus === 'error'">
                    <div>
                        Error communicating with the API key service.
                    </div>
                    <md-button class="md-raised md-accent" ng-click="checkForApiKey()">Retry</md-button>
                </div>
                <div ng-if="apiKeyStatus === 'loading'" id="api-key-loading-container">
                    <div class="spinner-container">
                        <div class="spinner" />
                    </div>
                </div>
            </md-card-content>
        </md-card>

    </section>

    <section id="statistics-panel" class="col-md-12 col-lg-4">

        <md-card id="statistics" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Transaction History</h2>
                </md-card-title-text>
            </md-card-title>
        </md-card>

        <md-card class="transaction ftep-card" md-theme-watch ng-repeat="transaction in walletParams.transactions | orderBy : '-id' ">
            <md-card-content>
                <p><b ng-bind="'Balance ' + (transaction.balanceChange > 0 ? 'Credit' : 'Debit') + ':'"></b> {{transaction.balanceChange}}</p>
                <p ng-if="transaction.type == 'JOB'"><b>Associated Job ID:</b> {{transaction.associatedId}}</p>
                <p ng-if="transaction.type == 'DOWNLOAD'"><b>Product Download</b></p>
                <p><b>Date:</b> {{transaction.transactionTime | formatDateTime}}</p>
            </md-card-content>
        </md-card>

    </section>

    <section id="info-panel" class="col-md-12 col-lg-4">

        <md-card id="request-coins" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Requesting Coins</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>To request more credit or to change your user role you can contact a F-TEP administrator using the
                        <a href="{{ftepURL}}/?q=content/contact" target="_blank">form</a>
                        or by sending an email to <a href="mailto:info@f-tep.com?subject=F-TEP Coins/Roles" target="_top">info@f-tep.com</a>.
                    </p>
            </md-card-content>
        </md-card>

        <md-card id="account-manage" md-theme-watch class="ftep-card">
            <md-card-title>
                <md-card-title-text>
                    <h2>Manage IAM</h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="row">
                    <p>You can modify your identity and access management account details, such as your name, email address and password, via the <a ng-href="{{ssoURL}}" target="_blank">EO IAM Platform</a>.</p>
                </div>
            </md-card-content>
        </md-card>

    </section>

</article>

<article id="login-container" ng-if="!user" class="col-md-12 no-padding ftep-content">
    <section class="note">Your session has timed out. Please login or refresh the page to view your account.</section>
</article>
