@import "variable";
#search-panel {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    .datasources {
        padding-top: 0;
    }
    md-datepicker {
        max-width: 100%;
    }
    .md-toolbar-tools {
        height: 2.5rem;
        #searchButton {
            background-color: @accent-light;
            height: 2rem;
            margin: 0;
            min-height: 0;
            padding: 0;
            width: 2rem;
            .material-icons {
                color: @text-light;
                font-size: 1.5rem;
                height: 100%;
                line-height: 2rem;
                width: 100%;
            }
            &:hover {
                background-color: @accent;
            }
        }

        .btn-success:focus {
            background-color: @ok;
        }
        .md-button[disabled] {
            background-color: @disabled !important;
        }
        .btn-success[disabled]:hover {
            background-color: @error !important;
        }
    }
}
