@import "variable";
#search-panel {
    .datasources {
        padding-top: 0;
    }
    md-select {
        margin-top: 0;
    }
    md-datepicker {
        padding: 0;
        max-width: 100%;
        .md-datepicker-button {
            margin: 0;
        }
        .md-datepicker-input-container {
            margin: 0;
            @media (max-width: @sm-max-width) {
              width: 80%;
            }
        }
        .md-datepicker-triangle-button {
            margin: 0;
        }
        .md-datepicker-invalid .md-datepicker-input{
            background: @error;
        }
    }
}
