@import "variable";
#services {
    .list-group {
        .expander {
            padding: 0 !important;
        }
    }
    .item-list {
        .service-type {
            background-color: @brand;
            border-radius: 50%;
            color: @text-light;
            line-height: 0.5rem;
            margin-right: 0.5rem;
            padding: 0.4rem;
        }
        h3 {
            font-size: 0.8rem;
        }
        p {
            font-size: 0.5rem;
        }
        .toolbar-button {
            .material-icons {
                font-size: 1rem;
            }
        }
        .material-icons {
            font-size: 0.8rem;
        }
    }
}

.star-full {
    color: @star-color;
}
