@import "variable";

#services {
    .item-list {
        h3 {
            font-size: 0.8rem;
        }
        p {
            font-size: 0.5rem;
        }
        .toolbar-button {
            .material-icons {
                font-size: 1rem;
            }
        }
        .material-icons {
            font-size: 0.8rem;
        }
    }
}
.star-full {
    color: @star-color;
}
