@import "variable";
#workspace-panel {
    .md-subheader {
        color: @black;
    }
    .md-toolbar-tools {
        .workspace-mode-toggle  {
            font-size: 0.6rem;
            float: right;
            margin: 0.1rem;
            span {
                font-size: 0.7rem;
                text-transform: unset;
            }
        }
    }
}

