<section id="sidebar-list">

    <div class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-10" ng-click="toggleGroupFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-2 expander">
                    <i class="material-icons"
                       ng-show="!groupParams.displayGroupFilters"
                       ng-click="toggleGroupFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="groupParams.displayGroupFilters"
                       ng-click="toggleGroupFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="groupParams.displayGroupFilters">
                <input ng-model="groupParams.searchText" type="text" placeholder="Search" ng-keyup="filter()">
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="groupParams.displayGroupFilters">
                <md-radio-group ng-model="groupParams.selectedOwnershipFilter" ng-change="filter()">
                    <div ng-repeat="ownershipFilter in groupOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </div>

    <div class="row" ng-if="!groupParams.groups.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">No groups found. To create a group use the + button below.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="groupParams.groups.length > 0">
        <md-list-item class="md-3-line"
                      ng-repeat="(key, group) in groupParams.groups"
                      ng-click="selectGroup(group)"
                      ng-class="{active: group.id == groupParams.selectedGroup.id}">

            <div class="md-avatar" ng-show="navInfo.activeSideNav === 1">
                <i class="material-icons" aria-label="Share">share</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable basket-name" ng-bind="group.name" />
                <span><b>Owner:</b> <span ng-bind="group.owner.name" /></span>
                <span><b>Users:</b> <span ng-bind="group.size" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       aria-label="Group Info"
                       uib-popover-template="'views/common/templates/groupinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="navInfo.activeSideNav === 0"
                       ng-click="editGroupDialog($event, group)"
                       has-permission="WRITE" permission-source="{{group}}"
                       aria-label="Edit"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>

        </md-list-item>

        <div id="paging" ftep-paging="{{groupParams.pagingData}}"></div>

    </div>

</section>

<section id="create-group">
    <md-button id="create-group-button"
               class="icon-button md-icon-button md-fab md-mini"
               ng-click="createGroupDialog($event)"
               aria-label="Create New Group"
               uib-tooltip="Create New Group"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add</i>
    </md-button>
</section>
