<div id="bottombar-header" class="row no-margin">

    <section id="bottombar-tabs" class="col-xs-9">
        <md-tabs md-selected="navInfo.activeBottomNav" md-disable-animation>
            <md-tab label="MESSAGES ({{message.count}})"></md-tab>
        </md-tabs>
    </section>

    <section class="col-xs-3 no-padding"
             ng-include
             src="'views/common/bottombar/tabs/messagestab.html'"
             ng-controller="MessagesCtrl" />

</div>

<div id="bottombar-contents" class="row">

    <section class="bottombar-pane" ng-controller="MessagesCtrl">
        <div class="col-md-8 bottombar-right">
            <div id="message" ng-include src="'views/common/bottombar/message.html'" />
        </div>
        <div class="col-md-4 bottombar-left">
            <div id="messages" ng-include src="'views/common/bottombar/messages.html'" />
        </div>
    </section>

</div>
