<md-dialog id="project-dialog" aria-label="Create project dialog">
    <h4>Create New Project</h4>
    <md-dialog-content>
        <div class="dialog-content-area">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="newProject.name" type="text">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Description</label>
                <textarea ng-model="newProject.description"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addProject()" ng-disabled="!newProject.name" class="md-primary">Create</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
