<md-dialog id="polygon-editor" aria-label="Edit polygon">
    <md-dialog-content>
        <h4>Edit the Polygon:</h4>
        <div class="dialog-content-area">
            <md-input-container class="md-block" flex-gt-sm>
                <textarea ng-model="polygon.wkt" rows="10" ng-change="validateWkt(polygon.wkt)" md-select-on-focus></textarea>
            </md-input-container>
            <div class="error-text" ng-if="polygon.valid === false">
                The polygon provided is not valid.
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="updatePolygon(polygon.wkt)" ng-disabled="polygon.valid === false" class="md-primary">Update</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
