<md-dialog id="metadata-dialog" aria-label="Metadata dialog">
    <h4>{{item.identifier}}</h4>
    <md-dialog-content>
        <div class="dialog-content-area">
            <div class="row">
                <div class="col-md-4">Name</div>
                <div class="col-md-8">{{item.identifier}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Size</div>
                <div class="col-md-8">{{item.size | bytesToGB}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Start</div>
                <div class="col-md-8">{{item.start}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Stop</div>
                <div class="col-md-8">{{item.stop}}</div>
            </div>
            <div class="row">
                <div class="col-md-12 quicklook-cointainer">
                    <img class="quicklook-img" ng-src="{{getQuicklookSrc(item)}}" alt="Quicklook not available" />
                </div>
            </div>
        </div>
        <md-button class="download-button" aria-label="Download" tooltip-trigger="mouseenter" tooltip-append-to-body="true" href="{{item.link}}" target="_blank">
            Download <i class="material-icons">file_download</i>
        </md-button>
    </md-dialog-content>
</md-dialog>,
