@import "variable";
.ftep {
    height: 100vh;
    overflow-x: hidden;
    margin: 0px;
    #portal-container {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        #explorer-container {
            height: 100%;
            transition: all 0.5s ease;
            width: 100%;
        }
    }
    .icon-disabled {
        color: @disabled;
        cursor: default;
        filter: opacity(20%);
    }
    .md-errors-spacer:empty { display: none; }
    .note {
        background-color: @error;
        border: solid 1px @error-border;
        color: @error-text;
        padding: 0.25rem;
        width: 100%;
    }
    .rzslider {
        .rz-bubble{
            .text-sec();
        }
        .rz-pointer {
            width: 16px;
            height: 16px;
            border-radius: 25px;
            top: -6px;
            .rz-active::after {
                background-color: transparent;
            }
            &:hover {
                width: 24px;
                height: 24px;
                top: -10px;
            }
            &:after {
                background-color: transparent;
            }
        }
    }
    .selectable {
        cursor: pointer;
    }
    .toolbar-button {
        margin: 0px;
        min-width: 1rem;
        padding: 0px;
        &:hover {
            background-color: transparent;
        }
    }
    .warnings {
        .bg-trans(@bg-light);
        bottom: 20px;
        height: 50px;
        padding: 6px;
        position: absolute;
        width: 100%;
    }
    .filter-list {
        .filter-list-title {
            color: @accent;
        }
        .filter-checkboxes {
            margin: 0;
            padding: 10px;
            width: 100%;
            .check-container {
                padding: 4px 0;
            }
            div:focus {
                outline: none;
                border: 0;
            }
            md-checkbox {
                margin: 0;
            }
        }
    }
    .item-list {
        md-list-item {
            .md-avatar {
                .material-icons {
                    text-align: center;
                    width: 100%;
                }
            }
            .toolbar-button {
                padding: 0 0.25rem;
                i {
                    font-size: 1rem;
                }
            }
            &:hover {
                .toolbar-button {
                    color: @accent;
                }
            }
        }
    }
    .list {
        margin: 0;
        padding: 0;
        .list-group {
            font-size: 0.8rem;
            cursor: pointer;
            .border(border-bottom, @bg);
            .expander, label {
                margin: 0;
                padding: 0.25rem 0;
            }
            &:hover {
                background-color: @light-gray;
            }
        }
    }
}
