@import "variable";
#explorer-container {
    @media (max-width: @sm-max-width) {
        #side-container {
            overflow: visible !important;
            #sidebar-left {
                padding-left: @sidenav-width;
            }
        }
        #bottombar-container {
            background-color: @bg;
            padding-left: @sidenav-width !important;
        }
    }
    #footer {
        bottom: 0.5rem;
        font-size: 0.6rem;
        position: absolute;
        right: 2rem;
        z-index: 1;
        a {
            color: @brand-dark;
        }
        img {
            height: 1rem;
            margin-left: 0.5rem;
        }
    }
}
