@import "variable";
#map-container {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    #map {
        height: 100%;
        position: relative;
        width: 100%;
        z-index: 0;
        .map-item, .ol-zoom, .box-selection, .polygon-selection, .ol-mouse-position, .ol-scale-line, {
            z-index: 10;
            position: absolute;
            left: auto;
            right: 10px;
            height: 32px;
            width: 32px;
            padding: 0;
            background-color: none;
            color: @white;
            border-radius: 5px;
            img {
                width: 1rem;
                height: 1rem;
            }
            button {
                background-color: @dark-button;
                border: none;
                border-radius: 5px;
                font-size: 1rem;
                height: 1.6rem;
                width: 1.6rem;
                &:hover {
                   background-color: @dark-button-hover;
                }
            }
        }
        .map-item {
            background-color: @dark-button;
            &:hover {
                background-color: @dark-button-hover;
            }
        }
        .map-type {
            top: 100px;
        }
        .ol-zoom {
            top: 132px;
            button {
                margin: 8px 0 !important;
            }
        }
        .map-reset {
            top: 220px;
        }
        .box-selection {
            right: 54px;
            top: 100px;
        }
        .polygon-selection {
            right: 54px;
            top: 140px;
        }
        .map-clear {
            right: 54px;
            top: 180px;
        }
        .polygon-edit {
            right: 54px;
            top: 220px;
        }
        .polygon-copy {
            right: 54px;
            top: 260px;
            .material-icons {
                font-size: 1rem;
            }
        }
        .ol-control {
            background-color: transparent;
            button {
                height: 32px;
                margin: 0;
                width: 32px;
            }
        }
        .ol-logo-only {
            margin-bottom: 0.5rem;
        }
        .ol-mouse-position {
            color: @coords;
            right: 0px;
            top: 60px;
            width: 140px;
        }
        .ol-scale-line {
            background-color: transparent;
            font-size: 1rem;
            height: 1rem;
            right: 160px;
            top: 60px;
            width: auto;
            .ol-scale-line-inner {
                border-color: @dark-button-hover;
                color: @dark-button-hover;
                font-size: 14px;
                font-weight: bold;
                height: 1rem;
            }
        }
    }
}
#map-layer {
    md-menu-item.active {
        background-color: @alert;
    }
}
#polygon-editor {
    width: 30%;
}
