<md-dialog id="databasket-dialog" aria-label="Edit databasket dialog">
    <h4>Edit Databasket</h4>
    <md-dialog-content>
        <div class="dialog-content-area">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="editableBasket.attributes.name" type="text">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Description</label>
                <textarea ng-model="editableBasket.attributes.description"></textarea>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="updateDatabasket(editableBasket)" ng-disabled="!editableBasket.attributes.name" class="md-primary">Save</md-button>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
