<article id="databasket-header">

    <md-button class="close toolbar-button md-secondary"
               ng-click="basketParams.selectedDatabasket = undefined"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <md-button id="update-databasket"
               class="save-button md-fab md-mini right"
               ng-click="refreshDatabasket()"
               aria-label="Update Databasket"
               uib-tooltip="Update Databasket"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
            <i class="material-icons">update</i>
    </md-button>

    <section id="databasket-title" class="row section-title">
        <div class="col-xs-10 title-text">
            <h2 ng-bind="basketParams.selectedDatabasket.name" />
        </div>
    </section>

    <section class="sub-title">
        <div ng-show="basketParams.selectedDatabasket.description" ng-bind="basketParams.selectedDatabasket.description" />
        <div ng-show="!basketParams.selectedDatabasket.description" ng-bind="'No Description'" />
    </section>

</article>

<article id="databasket-manage">

    <section class="row section-title">
        <div class="col-xs-6 title-text">
            <h3>{{item}} List</h3>
        </div>
        <div class="col-xs-6 title-button">
            <h3>
                <md-button class="right icon-button-accent toolbar-button md-secondary"
                           ng-click="clearDatabasket()"
                           has-permission="WRITE" permission-source="{{basketParams.selectedDatabasket}}"
                           aria-label="Clear {{item}}"
                           uib-tooltip="Clear {{item}}"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">remove_shopping_cart</i>
                </md-button>
                <md-button class="right icon-button-accent toolbar-button md-secondary"
                           ng-click="addItemsDialog($event)"
                           has-permission="WRITE" permission-source="{{basketParams.selectedDatabasket}}"
                           aria-label="Add {{item}}"
                           uib-tooltip="Add {{item}}"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">shopping_basket</i>
                </md-button>
            </h3>
        </div>
    </section>

    <section class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!basketParams.itemDisplayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="basketParams.itemDisplayFilters"
                       ng-click="toggleilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="basketParams.itemDisplayFilters">
                <input ng-model="itemSearch.searchText" type="text" placeholder="Search" aria-label="Item Search Filter">
            </md-input-container>

        </ul>
    </section>

    <section class="item-list">
        <md-list-item class="md-1-line" ng-repeat="file in basketParams.items | orderBy: 'filename' | filter: quickSearch">

            <div class="md-avatar" alt="access rights">
                <i class="material-icons">attach_file</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h4>{{file.filename ? file.filename : file.uri}}</h4>
            </div>

            <md-button class="toolbar-button icon-button-accent md-secondary"
                       ng-click="removeDatabasketItem(basketParams.items, file)"
                       has-permission="WRITE" permission-source="{{basketParams.selectedDatabasket}}"
                       aria-label="Remove"
                       uib-tooltip="Remove"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">clear</i>
            </md-button>

        </md-list-item>
    </section>

</article>

<article id="databasket-sharing" class="sharing-container" has-permission="ADMIN" permission-source="{{basketParams.selectedDatabasket}}">

    <section class="row section-title">
        <div class="col-xs-11 title-text">
            <h3>Sharing List</h3>
        </div>
        <div class="col-xs-1 title-button">
            <h3>
                <md-button class="toolbar-button icon-button-accent md-secondary"
                           ng-click="shareObjectDialog($event, basketParams.selectedDatabasket, 'databasket', basketParams.sharedGroups, 'BasketService', 'refreshSelectedBasket')"
                           has-permission="ADMIN" permission-source="{{basketParams.selectedDatabasket}}"
                           aria-label="Share"
                           uib-tooltip="Share"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">share</i>
                </md-button>
            </h3>
        </div>
    </section>

    <section class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleSharingFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!basketParams.sharedGroupsDisplayFilters"
                       ng-click="toggleSharingFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="basketParams.sharedGroupsDisplayFilters"
                       ng-click="toggleSharingFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="basketParams.sharedGroupsDisplayFilters">
                <input ng-model="basketParams.sharedGroupsSearchText" type="text" placeholder="Search" aria-label="Group Search Filter">
            </md-input-container>

        </ul>
    </section>

    <section class="groups-shared item-list">

         <md-list-item class="md-1-line" ng-repeat="ace in basketParams.sharedGroups | orderBy: 'group.name' | filter: shareQuickSearch">

            <div class="md-avatar" alt="access rights">
                <i class="material-icons">group</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h4 ng-bind="ace.group.name" />
            </div>

            <div class="md-secondary md-list-item-dropdown-label">
                <label>Permission</label>
            </div>

            <md-input-container class="md-block md-secondary md-list-item-dropdown" flex-gt-sm>
                <md-select ng-model="ace.permission"
                           ng-change="updateGroups(basketParams.selectedDatabasket, 'databasket', basketParams.sharedGroups, 'BasketService', 'refreshSelectedBasket')"
                           aria-label="Permission">
                    <md-option ng-repeat="permission in permissions" ng-value="permission">
                        {{permission}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeGroup(basketParams.selectedDatabasket, 'databasket', ace.group, basketParams.sharedGroups, 'BasketService', 'refreshSelectedBasket')"
                       aria-label="Remove"
                       uib-tooltip="Remove"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">clear</i>
            </md-button>

        </md-list-item>

    </section>

</article>
