<article id="job-header">

    <md-button class="close toolbar-button md-secondary"
               ng-click="jobParams.selectedJob = undefined"
               uib-tooltip="Close"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">close</i>
    </md-button>

    <md-button id="update-job"
               class="save-button md-fab md-mini right"
               ng-click="refreshJob()"
               aria-label="Update Job"
               uib-tooltip="Update Job"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
            <i class="material-icons">update</i>
    </md-button>

    <section id="job-title" class="row section-title">
        <div class="col-xs-10 title-text">
            <h2 ng-bind="'Job: ' + jobParams.selectedJob.id + ' - ' + jobParams.selectedJob.status" />
        </div>
    </section>

</article>

<article id="job-manage">

    <section id="job-overview" class="sub-title row">

        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'ID:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.extId" />
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Owner:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.owner.name" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Stage:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.stage" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Status:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.status" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Start Time:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.details.startTime | formatDateTime" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'End Time:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.details.endTime | formatDateTime" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Name:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.config._embedded.service.name" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-md-3 col-xl-2">
                <h5 ng-bind="'Description:'" />
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <p ng-bind="jobParams.selectedJob.config._embedded.service.description" />
            </div>
        </div>
    </section>

    <section id="job-details" ng-cloak>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

          <md-tab label="Output">
            <md-content id="job-outputs" class="md-padding job-details-tab">
                <table ng-show="jobParams.selectedJob.downloadLinks">
                    <tr ng-repeat="(key, file) in jobParams.selectedJob.downloadLinks">
                        <td>
                            <span ng-show="key === 0">Files</span>
                        </td>
                        <td ng-bind="key" />
                        <td class="download">
                            <a ng-href="{{file}}" target="_blank">
                                <i class="material-icons"
                                   aria-label="Download"
                                   uib-tooltip="Download"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                                    file_download
                                </i>
                            </a>
                        </td>
                    </tr>
                </table>
                <div ng-show="!jobParams.selectedJob.outputs" class="note">
                    No output files to display.
                </div>
            </md-content>
          </md-tab>

          <md-tab label="Input">
            <md-content id="job-inputs" class="md-padding job-details-tab">
                <table>
                    <tr ng-repeat="(key, value) in jobParams.selectedJob.config.inputs">
                        <td ng-bind="key" />
                        <td>
                            <div ng-repeat="link in value">
                                <div ng-if="!link.includes('ftp')" class="col-sm-12" ng-bind="link" />
                                <div ng-if="link.includes('ftp')">
                                    <div ng-repeat="file in splitInputFiles(link)">
                                        <a href="file" ng-bind="file" />
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </md-content>
          </md-tab>

          <md-tab label="Logs">
            <md-content id="job-log" class="md-padding job-details-tab ftep-log">
                <table>
                    <tr>
                        <th>Timestamp</th>
                        <th>Message</th>
                    </tr>
                    <tr ng-repeat="message in jobParams.selectedJob.logs">
                        <td class="job-timestamp" ng-bind="message.timestamp" />
                        <td>
                            <pre class="job-message" ng-bind-html="message.message | nl2br" />
                        </td>
                    </tr>
                </table>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </section>

</article>

<article id="job-sharing" class="sharing-container" has-permission="ADMIN" permission-source="{{jobParams.selectedJob}}">

    <section class="row section-title">
        <div class="col-xs-11 title-text">
            <h3>Sharing List</h3>
        </div>
        <div class="col-xs-1 title-button">
            <h3>
                <md-button class="toolbar-button icon-button-accent md-secondary"
                           ng-click="shareObjectDialog($event, jobParams.selectedJob, 'job', jobParams.sharedGroups, 'JobService', 'refreshSelectedJob')"
                           has-permission="ADMIN" permission-source="{{jobParams.selectedJob}}"
                           aria-label="Share"
                           uib-tooltip="Share"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">share</i>
                </md-button>
            </h3>
        </div>
    </section>

    <section class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-11" ng-click="toggleSharingFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-1 expander">
                    <i class="material-icons"
                       ng-show="!jobParams.sharedGroupsDisplayFilters"
                       ng-click="toggleShareFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="jobParams.sharedGroupsDisplayFilters"
                       ng-click="toggleShareFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="jobParams.sharedGroupsDisplayFilters">
                <input ng-model="jobParams.sharedGroupsSearchText" type="text" placeholder="Search" aria-label="Group Search Filter">
            </md-input-container>

        </ul>
    </section>

    <section class="groups-shared item-list">

         <md-list-item class="md-1-line" ng-repeat="ace in jobParams.sharedGroups | orderBy: 'group.name' | filter: quickSharingSearch">

            <div class="md-avatar" alt="access rights">
                <i class="material-icons">group</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h4 ng-bind="ace.group.name" />
            </div>

            <div class="md-secondary md-list-item-dropdown-label">
                <label>Permission</label>
            </div>

            <md-input-container class="md-block md-secondary md-list-item-dropdown" flex-gt-sm>
                <md-select ng-model="ace.permission"
                           ng-change="updateGroups(jobParams.selectedJob, 'job', jobParams.sharedGroups, 'JobService', 'refreshSelectedJob')"
                           aria-label="Permission">
                    <md-option ng-repeat="permission in permissions" ng-value="permission">
                        {{permission}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-button class="toolbar-button md-secondary"
                       ng-click="removeGroup(jobParams.selectedJob, 'job', ace.group, jobParams.sharedGroups, 'JobService', 'refreshSelectedJob')"
                       aria-label="Remove"
                       uib-tooltip="Remove"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">clear</i>
            </md-button>

        </md-list-item>

    </section>

</article>
