<md-tabs id="manage-tabs" md-selected="selectedTab">
    <md-tab>
        <md-tab-label>
            <i class="material-icons">group</i> Groups
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div class="tab-content"
                     ng-if="selectedTab === 0"
                     ng-include ng-controller="CommunityGroupsContainerCtrl"
                     src="'views/community/manage/groups/groupscontainer.html'" />
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <i class="material-icons">folder_special</i> Projects
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div class="tab-content"
                     ng-if="selectedTab === 1"
                     ng-include ng-controller="CommunityProjectsContainerCtrl"
                     src="'views/community/manage/projects/projectscontainer.html'" />
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <i class="material-icons">shopping_basket</i> Databaskets
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div class="tab-content"
                     ng-if="selectedTab === 2"
                     ng-include ng-controller="CommunityDatabasketsContainerCtrl"
                     src="'views/community/manage/databaskets/databasketscontainer.html'" />
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <i class="material-icons">assignment</i> Jobs
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div class="tab-content"
                     ng-if="selectedTab === 3"
                     ng-include ng-controller="CommunityJobsContainerCtrl"
                     src="'views/community/manage/jobs/jobscontainer.html'" />
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <i class="material-icons">settings_remote</i> Services
        </md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <div class="tab-content"
                     ng-if="selectedTab === 4"
                     ng-include ng-controller="CommunityServicesContainerCtrl"
                     src="'views/community/manage/services/servicescontainer.html'" />
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>

