<md-toolbar md-scroll-shrink class="sidebar-subheader">
    <div class="md-toolbar-tools">
        <div class="col-xs-12">
            <span>Search</span>
        </div>
    </div>
</md-toolbar>

<section id="sidebar-list">
    <div class="row">
        <div class="col-xs-12">
            <p class="file-length">(Found {{ filesParams.pagingData.page.totalElements ? filesParams.pagingData.page.totalElements : '0'  }} files)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form novalidate>

                <md-subheader>
                    <i class="material-icons">search</i>
                    <label>Search by keyword</label>
                </md-subheader>

                <md-input-container>
                    <input type="text" ng-model="filesParams.params.filter" ng-change="inputChange()" aria-label="Search by keyword" placeholder="Enter a search term" />
                </md-input-container>

                <md-subheader>
                    <i class="material-icons">folder</i>
                    <label>File type</label>
                </md-subheader>

                <md-input-container>

                    <md-select ng-model="filesParams.params.type" ng-change="inputChange()" aria-label="File Type Select">
                        <md-option value="OUTPUT_PRODUCT">Output products</md-option>
                        <md-option value="REFERENCE_DATA">Reference data</md-option>
                    </md-select>
                </md-input-container>

                <md-subheader>
                    <i class="material-icons">person</i>
                    <label>Ownership</label>
                </md-subheader>

                <md-radio-group ng-model="filesParams.params.ownership" ng-change="inputChange()" aria-label="Ownership radio group">
                    <md-radio-button value="findByFilterOnly">All</md-radio-button>
                    <md-radio-button value="findByFilterAndOwner">Mine</md-radio-button>
                    <md-radio-button value="findByFilterAndNotOwner">Shared</md-radio-button>
                </md-radio-group>

                <section>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 no-padding">
                            <md-subheader>
                                <label>Minimum File  (GB)</label>
                            </md-subheader>
                            <md-input-container>
                                <input type="number" ng-model="filesParams.params.filesizemin" ng-change="inputChange()" aria-label="Minimum file size" />GB
                            </md-input-container>
                        </div>
                        <div class="col-lg-6 col-md-12 no-padding">
                            <md-subheader>
                                <label>Maximum File Size (GB)</label>
                            </md-subheader>

                            <md-input-container>
                                <input type="number" ng-model="filesParams.params.filesizemax" ng-change="inputChange()" aria-label="Maximum file size" />GB
                            </md-input-container>
                        </div>
                    </div>
                </section>

            </form>
        </div>
    </div>
</section>
