<md-toolbar md-scroll-shrink class="sidebar-subheader">
    <div class="md-toolbar-tools">
        <div class="col-xs-12">
            <span>Upload</span>
        </div>
    </div>
</md-toolbar>

<form id="refDataForm" name="refDataForm" class="col-md-12 no-padding">

    <div class="row drop-box-container">
        <div class="col-md-12 no-padding">
            <md-input-container md-no-float>
                <div class="drop-box"
                     required
                     ng-model="newReferenceFile.file"
                     ngf-drop
                     ngf-select
                     ngf-change="validateFile(newReferenceFile.file); populateFileType(newReferenceFile.file)"
                     ngf-drag-over-class="'dragover'"
                     ngf-multiple="false"
                     ngf-allow-dir="false">
                    Drop a file here or click to upload
                </div>
            </md-input-container>
            <div ng-if="newReferenceFile.file">
                <h4 ng-if="uploadValid == 'Valid'" ng-bind="newReferenceFile.file.name" />
                <h4 ng-if="uploadValid != 'Valid'" ng-bind="newReferenceFile.file.name + ' - ' + uploadValid" class="error" />
            </div>
        </div>

        <div class="col-md-12 no-padding" ng-if="filesParams.progressPercentage > 0">
            <div class="progress">
                <div class="progress-bar"
                     role="progressbar"
                     aria-valuenow="{{filesParams.progressPercentage}}"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     style="width:{{filesParams.progressPercentage}}%"
                     ng-class="(filesParams.uploadStatus == 'failed') ? 'progress-bar-danger' : 'progress-bar-success'">
                    <span ng-if="filesParams.uploadStatus == 'pending'">{{filesParams.progressPercentage -1}}% {{filesParams.uploadMessage}}</span>
                    <span ng-if="filesParams.uploadStatus == 'complete'">Complete</span>
                    <span ng-if="filesParams.uploadStatus == 'failed'">Error - {{filesParams.uploadMessage}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-12 no-padding" layout-gt-sm="row">
            <md-input-container>
                <label>File type</label>
                <md-select ng-model="newReferenceFile.filetype" required ng-change="toggleEnableAutoDetectGeometry()">
                    <md-option ng-repeat="type in types" ng-value="type">{{type}}</md-option>
                </md-select>
            </md-input-container>

            <md-checkbox ng-model="newReferenceFile.autoDetectGeometry" aria-label="Auto-detect geometry" ng-disabled="newReferenceFile.autoDetectDisabled">
                Auto-detect geometry
            </md-checkbox>
        </div>

        <div class="col-md-12 no-padding">
            <md-input-container md-no-float>
                <input ng-required="!newReferenceFile.autoDetectGeometry" ng-model="newReferenceFile.geometry" type="text" placeholder="Enter a geometry" aria-label="Enter a geometry" ng-disabled="newReferenceFile.autoDetectGeometry">
                <div class="hint" ng-show="true">Geometry *</div>
            </md-input-container>
        </div>
    </div>

    <md-button id="uploadButton"
               class="icon-button md-icon-button md-fab md-mini btn-success"
               type="submit"
               ng-disabled="refDataForm.$invalid || uploadValid != 'Valid'"
               aria-label="Upload"
               ng-click="addReferenceFile()">
        <i class="material-icons">cloud_upload</i>
    </md-button>

</form>
