<div id="user-references" class="col-md-8 no-padding">
    <div class="row no-margin">
        <md-subheader class="md-accent"><h4>My reference data</h4></md-subheader>
        <!-- TODO -->
    </div>
</div>

<form id="refDataForm" name="refDataForm" class="col-md-4">
        <div class="row no-margin">
            <md-subheader class="md-accent"><h4>Add reference data</h4></md-subheader>
        </div>
        <div class="row no-margin form-fields">
            <div class="col-md-12">
                <md-input-container md-no-float>
                    <div ngf-drop ngf-select ng-model="newReference.file" class="drop-box" required
                        ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false">Drop a file here or click to upload</div>
                </md-input-container>
                <h4>{{newReference.file.name}}</h4>
            </div>

            <div class="col-md-12">
                 <md-input-container md-no-float>
                     <input ng-model="newReference.geometry" type="text" placeholder="Geometry">
                     <div class="hint" ng-show="true">Geometry</div>
                 </md-input-container>
            </div>

            <div class="col-md-12">
                 <md-input-container md-no-float>
                     <input ng-model="newReference.description" type="text" placeholder="Description">
                     <div class="hint" ng-show="true">Description</div>
                 </md-input-container>
            </div>
        </div>

        <md-button id="referenceSubmithButton"
                   class="md-icon-button md-fab md-mini btn-success"
                   type="submit"
                   form="refDataForm"
                   ng-disabled="refDataForm.$invalid"
                   aria-label="Submit"
                   ng-click="addReferenceFile()">
            <i class="material-icons">file_upload</i>
        </md-button>
    </form>