<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="accordion-toggle"
                     tabindex="0"
                     ng-click="toggleOpen()"
                     uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </div>
            </div>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>

<uib-accordion>
    <div uib-accordion-group
         id="projects"
         class="panel-default"
         template-url="group-template.html"
         open="projectShow">

        <uib-accordion-heading class="project-heading">
            <div class="row no-margin panel-heading-container" ng-click="toggleProjectShow()">

                <div class="col-xs-8 no-padding project-title heading-item">
                    <h2 class="left">{{projectParams.selectedProject.name}}</h2>
                    <i class="material-icons expand-icon"
                       uib-tooltip="View More"
                       tooltip-placement="right"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">{{projectShowIcon}}</i>
                </div>

                <div class="col-xs-1 no-padding heading-item">
                    <md-button class="toolbar-button"
                               ng-click="createProjectDialog($event); $event.stopPropagation()"
                               aria-label="Create New Project"
                               uib-tooltip="Create New Project"
                               tooltip-placement="right"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">add_square</i>
                    </md-button>
                </div>

                <div class="col-xs-1 no-padding heading-item" />

                <div class="col-xs-1 no-padding heading-item">
                    <md-button class="toolbar-button right toolbar-right"
                               ng-click="hideSidebarArea(); $event.stopPropagation()"
                               aria-label="Close Sidebar"
                               uib-tooltip="Close"
                               tooltip-placement="right"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>

            </div>
        </uib-accordion-heading>

        <section class="filter-list">
            <ul class="list">

                <div class="row list-group filter-list-title">

                    <div class="col-xs-11" ng-click="projectParams.displayFilters = !projectParams.displayFilters">
                        <label class="md-accent">Filters</label>
                    </div>

                    <div class="col-xs-1 expander">
                        <i class="material-icons"
                           ng-show="!projectParams.displayFilters"
                           ng-click="toggleFilters()"
                           aria-label="Show Filters"
                           uib-tooltip="Show Filters"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                            expand_less
                        </i>
                        <i class="material-icons"
                           ng-show="projectParams.displayFilters"
                           ng-click="toggleFilters()"
                           aria-label="Hide Filters"
                           uib-tooltip="Hide Filters"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                            expand_more
                        </i>
                    </div>
                </div>

                <md-input-container md-no-float ng-show="projectParams.displayFilters">
                    <input ng-model="projectParams.searchText" type="text" placeholder="Search" ng-keyup="filter()">
                </md-input-container>

                <div class="row filter-radiobutton" ng-show="projectParams.displayFilters">
                    <md-radio-group ng-model="projectParams.selectedOwnershipFilter" ng-change="filter()">
                        <div ng-repeat="ownershipFilter in projectOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                            <md-radio-button ng-value="ownershipFilter">
                                {{ownershipFilter.name}}
                            </md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
            </ul>
        </section>

        <ul class="list-group project-list">
            <li class="list-group-item project-item"
                ng-repeat="project in projectParams.projects"
                ng-click="selectProject(project)"
                ng-class="{active: project.name === projectParams.selectedProject.name}">

                <div class="row project-item-row">

                    <div class="col-xs-8 no-padding project-item-col">

                        <div class="project-name-container">
                            <span class="selectable project-name">{{project.name}}</span>
                        </div>

                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">
                        <md-button class="toolbar-button md-secondary"
                                aria-label="Project Info"
                                uib-popover-template="'views/common/templates/projectinfo.tmpl.html'"
                                popover-placement="right"
                                popover-trigger="'mouseenter'"
                                popover-append-to-body="true">
                            <i class="material-icons">info_outline</i>
                        </md-button>
                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">

                        <md-button class="toolbar-button"
                                   ng-click="shareObjectDialog($event, project, 'project', 'ProjectService', 'refreshSelectedProject')"
                                   has-permission="ADMIN" permission-source="{{project}}"
                                   aria-label="Share Project"
                                   uib-tooltip="Share"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <i class="material-icons">share</i>
                        </md-button>
                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">

                        <md-button class="toolbar-button"
                                   ng-click="updateProject($event, project)"
                                   has-permission="WRITE" permission-source="{{project}}"
                                   aria-label="Edit Project"
                                   uib-tooltip="Edit"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <i class="material-icons">edit</i>
                        </md-button>
                    </div>

                </div>
            </li>
        </ul>

        <div id="paging" ftep-paging="{{projectParams.pagingData}}"></div>

    </div>
</uib-accordion>
