<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="accordion-toggle"
                     tabindex="0"
                     ng-click="toggleOpen()"
                     uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </div>
            </div>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>

<uib-accordion>
    <div uib-accordion-group
         id="projects"
         class="panel-default"
         template-url="group-template.html"
         open="projectShow">

        <uib-accordion-heading class="project-heading">
            <div class="row panel-heading-container" ng-click="toggleProjectShow()">

                <div class="col-xs-8 no-padding project-title heading-item">
                    <h2 class="left">{{activeProject.attributes.name}}</h2>
                    <i class="material-icons expand-icon"
                       uib-tooltip="View More"
                       tooltip-placement="right"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">{{projectShowIcon}}</i>
                </div>

                <div class="col-xs-1 no-padding heading-item">
                    <md-button class="toolbar-button"
                               ng-click="createProjectDialog($event)"
                               aria-label="Create New Project"
                               uib-tooltip="Create New Project"
                               tooltip-placement="right"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">add_square</i>
                    </md-button>
                </div>

                <div class="col-xs-1 no-padding heading-item" />

                <div class="col-xs-1 no-padding heading-item">
                    <md-button class="toolbar-button right toolbar-right"
                               ng-click="hideSidebarArea()"
                               aria-label="Close Sidebar"
                               uib-tooltip="Close"
                               tooltip-placement="right"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">close</i>
                    </md-button>
                </div>

            </div>
        </uib-accordion-heading>

        <ul class="list-group project-list">
            <li class="list-group-item project-item"
                ng-repeat="project in projects | orderBy: 'attributes.name'"
                ng-click="setActiveProject(project)"
                ng-dblclick="cacheProject(project); projectEdit = true"
                ng-class="{active:$first}">
                <div class="row project-item-row">
                    <div class="col-xs-8 project-item-col">

                        <div class="project-name-container" ng-show="!projectEdit || project.id == 0">
                            <span class="selectable project-name">{{project.attributes.name}}</span>
                        </div>

                        <div class="row no-padding project-edit" ng-show="projectEdit && project.id > 0">
                            <div class="col-xs-8 no-padding project-item-col">
                                <div class="input-group">
                                    <input type="text"
                                           class="form-control project-rename"
                                           ng-keyup="projectEdit = updateProject($event.keyCode == 13, project)"
                                           ng-model="project.attributes.name">
                                </div>
                            </div>

                            <div class="col-xs-4 no-padding project-item-col">
                                <md-button class="toolbar-button"
                                           ng-click="project=getProjectCache(project); projectEdit = !projectEdit"
                                           uib-tooltip="Cancel"
                                           tooltip-placement="top"
                                           tooltip-trigger="mouseenter"
                                           tooltip-append-to-body="true">
                                   <i class="material-icons">close</i>
                                </md-button>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">

                        <md-button class="toolbar-button"
                                   ng-click="shareObjectDialog($event, project)"
                                   aria-label="Share Project"
                                   uib-tooltip="Share"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <i class="material-icons">share</i>
                        </md-button>
                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">

                        <md-button class="toolbar-button"
                                   ng-click="cacheProject(project); projectEdit=!projectEdit"
                                   aria-label="Edit Project Name"
                                   uib-tooltip="Edit"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <i class="material-icons">edit</i>
                        </md-button>
                    </div>

                    <div class="col-xs-1 icon-button-container project-item-col" ng-show="project.id > 0">
                        <md-button class="toolbar-button"
                                   ng-click="removeProject(project)"
                                   aria-label="Delete Project"
                                   uib-tooltip="Delete"
                                   tooltip-placement="top"
                                   tooltip-trigger="mouseenter"
                                   tooltip-append-to-body="true">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </div>

                    <div class="col-xs-1 no-padding project-item-col" />

                </div>
            </li>
        </ul>

    </div>
</uib-accordion>
