<div id="search-panel" class="panel panel-default">

    <md-toolbar md-scroll-shrink class="sidebar-subheader">
        <div class="md-toolbar-tools">

            <div class="col-xs-10 no-padding">
                <span>Search</span>
            </div>
            <div class="col-xs-2 no-padding">
                <md-button id="searchButton"
                           class="md-icon-button md-fab md-mini btn-success"
                           ng-show="!showDataSources"
                           type="submit"
                           form="searchForm"
                           ng-disabled="searchForm.$invalid"
                           aria-label="Search">
                    <i class="material-icons">search</i>
                </md-button>
            </div>

        </div>
    </md-toolbar>

    <div class="panel-body scrollme" ng-scrollbar is-bar-shown="flag" rebuild-on="rebuild:scrollbar">

        <div class="row">
            <md-subheader class="md-accent md-subheader-top" ng-show="showDataSources">Select a data source:</md-subheader>
        </div>

        <md-list id="datasource-list" class="datasources" ng-show="showDataSources">
            <md-list-item class="md-2-line"
                          ng-repeat="datasource in dataSources"
                          ng-click="selectDataSource(datasource); refreshSlider()"
                          ng-value="datasource.id">
                <md-icon class="material-icons md-24">{{datasource.icon}}</md-icon>
                <div class="md-list-item-text">
                    <h3>{{datasource.name}}</h3>
                    <p>{{datasource.description}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

        <md-list id="active-datasource" class="datasources" ng-show="!showDataSources">
            <md-list-item class="md-2-line" ng-click="null" ng-value="{{selectedSource.id}}">
                <md-icon class="material-icons md-24">{{selectedSource.icon}}</md-icon>
                <div class="md-list-item-text">
                    <h3>{{selectedSource.name}}</h3>
                    <p>{{selectedSource.description}}</p>
                </div>
                <md-button class="md-icon-button" ng-click="closeDataSource()">
                    <md-icon class="md-default-theme material-icons" >close</md-icon>
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>

        <form id="searchForm" name="searchForm" ng-show="!showDataSources" ng-submit="search()">

            <div class="row">
                <md-subheader class="md-accent">Select a date range</md-subheader>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <md-subheader class="md-accent">
                        <label for="Start Date">Start Date</label>
                    </md-subheader>
                </div>

                <div class="col-md-6">
                    <md-datepicker ng-required="true"
                                   ng-model="searchParameters.startTime"
                                   ng-change="updateSlider()"
                                   md-placeholder="Start date"
                                   md-min-date="minDate"
                                   md-max-date="maxDate"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <md-subheader class="md-accent">
                        <label for="Start Date">End Date</label>
                    </md-subheader>
                </div>

                <div class="col-md-6">
                    <md-datepicker ng-required="true"
                                   ng-model="searchParameters.endTime"
                                   ng-change="updateSlider()"
                                   md-placeholder="End date"
                                   md-min-date="minDate"
                                   md-max-date="maxDate"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-1" />
                <div class="col-xs-10">
                    <rzslider id="timeSlider"
                              rz-slider-model="timeRangeSlider.minValue"
                              rz-slider-high="timeRangeSlider.maxValue"
                              rz-slider-options="timeRangeSlider.options" />
                </div>
                <div class="col-xs-1" />
            </div>

        <!-- TODO: Uncomment to replace radio buttons for checkboxes to allow multiple mission searches -->
        <!--<div class="row">
                <div class="col-xs-6">
                    <md-subheader class="md-accent md-subheader-title">Select a mission</md-subheader>
                </div>
                <div class="col-xs-6"  ng-show="missionNotSelected">
                    <md-subheader class="error-text">No mission selected!</md-subheader>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <md-checkbox aria-label="Select All"
                                 ng-checked="isChecked()"
                                 md-indeterminate="isIndeterminate()"
                                 ng-click="toggleAll(); updateMissionParameters()">
                        <span ng-if="isChecked()">Des</span><span ng-if="!isChecked()">S</span>elect All
                    </md-checkbox>
                </div>
            </div>

            <div class="row">
               <div class="col-xs-6" ng-repeat="mission in missions" ng-required="true">
                    <md-checkbox ng-checked="exists(mission, selected)"
                                 ng-click="toggle(mission, selected); updateMissionParameters()"
                                 ng-required="missionValidator()">
                       {{mission.name}}
                    </md-checkbox>
                </div>
            </div> -->

            <!-- TODO: Remove when ready to replace radio buttons with checkboxes -->
            <div class="row">
                <div class="col-xs-6">
                    <md-subheader class="md-accent md-subheader-title">Select a mission</md-subheader>
                </div>
            </div>

            <div class="row">
                <md-radio-group ng-model="searchform.selected_mission">
                    <div class="col-xs-6" ng-repeat="mission in missions">
                        <md-radio-button ng-required="missionValidator()"
                                         ng-click="updateMission(mission, selected)"
                                         ng-model="mission.name"
                                         value="{{mission.name}}"
                                         aria-label="{{mission.name}}">
                            {{mission.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <!-- End remove  -->

            <div class="polarisation-container" ng-show="showPolar">

                <div class="row">
                    <md-subheader class="md-accent">Polarisation</md-subheader>
                </div>

                <div class="row">
                   <div class="col-md-12">
                        <md-select ng-model="searchParameters.mission.polarisation" placeholder="Select a Polarisation (Optional)">
                            <md-option ng-value="pol" ng-repeat="pol in polarisations">{{pol.label}}</md-option>
                        </md-select>
                    </div>
                </div>

            </div>

            <div class="coverage-container" ng-show="showCoverage">

                <div class="row">
                    <md-subheader class="md-accent">Datasource</md-subheader>
                </div>

               <div class="row">
                   <div class="col-md-12">
                        <md-input-container md-no-float>
                            <input ng-model="searchParameters.mission.text" type="text" placeholder="FTEP (optional)">
                            <div class="hint" ng-show="true">Name of a datasource</div>
                        </md-input-container>
                   </div>
               </div>

                <div class="row">
                    <md-subheader class="md-accent">Cloud Coverage</md-subheader>
                </div>

                <div class="row">
                    <div class="col-xs-1" />
                    <div class="col-xs-10">
                           <rzslider id="cloudSlider"
                                     rz-slider-model="cloudRangeSlider.minValue"
                                     rz-slider-high="cloudRangeSlider.maxValue"
                                     rz-slider-options="cloudRangeSlider.options" />
                    </div>
                    <div class="col-xs-1" />
                </div>

            </div>

        </form>

    </div>

</div>
