<div id="search-panel" class="panel panel-default panel-container">

    <md-toolbar md-scroll-shrink class="sidebar-subheader">
        <div class="md-toolbar-tools">
            <div class="col-xs-12">
                <span>Search</span>
            </div>
        </div>
    </md-toolbar>

    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12">
                <md-subheader class="md-accent md-subheader-title">Catalogue</md-subheader>
            </div>
        </div>

        <form id="explore-search-form" name="explorerSearchForm">

            <div ng-include src="'views/common/templates/searchfields.tmpl.html'"></div>

            <md-button id="searchButton"
                       class="icon-button md-icon-button md-fab md-mini btn-success"
                       ng-if="searchParams.selectedCatalog"
                       type="submit"
                       ng-disabled="explorerSearchForm.$invalid"
                       aria-label="Search"
                       ng-click="displayTab(bottomNavTabs.RESULTS, false); search()">
                <i class="material-icons">search</i>
            </md-button>

        </form>

    </div>
</div>
