<div id="services" class="panel panel-default">

    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <div class="col-xs-12">
                <span>Services</span>
            </div>
        </div>
    </md-toolbar>

    <section class="filter-list">
       <div class="row">
            <div class="col-md-12">
                <md-input-container md-no-float>
                    <input ng-model="serviceParams.searchText" type="text" placeholder="Search Services" ng-keyup="filter()" aria-label="Service Search Filter">
                </md-input-container>
            </div>
       </div>

       <div class="row filter-radiobutton">
           <md-radio-group ng-model="serviceParams.selectedOwnershipFilter" ng-change="filter()">
               <div ng-repeat="ownershipFilter in serviceOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                   <md-radio-button ng-value="ownershipFilter">
                       {{ownershipFilter.name}}
                   </md-radio-button>
               </div>
           </md-radio-group>
       </div>
    </section>

    <section class="panel-body">

            <div class="item-list list">

                <md-list-item class="md-2-line"
                              ng-repeat="service in serviceParams.services"
                              ng-click="selectService(service)">

                    <div class="service-type">
                        {{service.type.substring(0,1)}}
                    </div>

                    <div class="md-list-item-text" layout="column">
                        <h3>{{service.name}}</h3>
                        <p>{{getShortDesc(service.description)}}</p>
                    </div>

                    <md-button class="toolbar-button md-secondary"
                                aria-label="Service Info"
                                uib-popover-template="'views/common/templates/serviceinfo.tmpl.html'"
                                popover-placement="right"
                                popover-trigger="'mouseenter'"
                                popover-append-to-body="true">
                        <i class="material-icons">info_outline</i>
                    </md-button>

                </md-list-item>

                <div id="paging" ftep-paging="{{serviceParams.pagingData}}"></div>

            </div>

    </section>

</div>
