<div id="workspace-panel" class="panel panel-default">

    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <div class="col-xs-12">
                <span>Workspace</span>
            </div>
        </div>
    </md-toolbar>

    <div ng-if="!selectedService">
        <h4 class="workspace-header" ng-hide="isWpsLoading">No selected service</h4>
        <div class="note">Please select a service from the service panel first.</div>
    </div>

    <h4 class="workspace-header" ng-if="selectedService">{{selectedService.attributes.name}}</h4>

    <div class="scrollme" ng-scrollbar is-bar-shown="flag" rebuild-on="rebuild:scrollbar">
        <div class="scrollbar-contents panel-body">

            <div ng-show="isWpsLoading">loading...</div>

            <div ng-if="selectedService" ng-hide="isWpsLoading">

                <div id="wps_{{serviceDescription.Identifier1}}">

                    <div class="row">
                        <div class="col-md-12">
                            <h4 ng-bind="serviceDescription.Title"></h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label class="service-desc" ng-bind="serviceDescription.Abstract"></label>
                        </div>
                    </div>

                    <div class="service-sub-section">

                        <div class="service-field" ng-repeat="fieldDesc in serviceDescription.DataInputs.Input">

                            <div class="row" ng-show="fieldDesc.optional">
                                <div class="col-md-12">
                                    {{fieldDesc.Identifier.__text}}
                                    <input class="optional-checkbox" type="checkbox" ng-model="optionalInputs[fieldDesc.Identifier.__text]" />
                                    <span class="glyphicon glyphicon-info-sign info-hover"
                                          uib-tooltip="{{fieldDesc.Abstract.__text}}"
                                          tooltip-placement="right"
                                          tooltip-trigger="mouseenter"
                                          tooltip-append-to-body="true">
                                    </span>
                                </div>
                            </div>

                            <div ng-show="fieldDesc.optional == false || optionalInputs[fieldDesc.Identifier.__text] == true">

                                <div class="row">
                                    <div class="col-md-12">
                                        <span ng-hide="fieldDesc.optional">{{fieldDesc.Identifier.__text}} - </span>{{fieldDesc.Title.__text}}
                                        <span class="glyphicon glyphicon-info-sign info-hover"
                                          uib-tooltip="{{fieldDesc.Abstract.__text}}"
                                          tooltip-placement="right"
                                          tooltip-trigger="mouseenter"
                                          tooltip-append-to-body="true">
                                    </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input class="form-control" type="{{getInputType(fieldDesc)}}" ng-model="inputValues[fieldDesc.Identifier.__text]" dnd-list="dropLists[fieldDesc.Identifier.__text]" dnd-drop="onDrop(item, fieldDesc.Identifier.__text)" />
                                    </div>
                                </div>

                                <div class="row">
                                    <ul class="dropzone-list">
                                        <li class="drop-list-item"
                                            ng-repeat="item in dropLists[fieldDesc.Identifier.__text]"
                                            uib-tooltip="{{item}}"
                                            tooltip-placement="top"
                                            tooltip-trigger="mouseenter"
                                            tooltip-append-to-body="true">
                                            {{getShortName(item)}}
                                            <span class="glyphicon glyphicon-remove drop-item-delete"
                                                  ng-click="removeSelectedItem(fieldDesc.Identifier.__text, item)">
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <md-button class="launch-button"
                           ng-hide="isWpsLoading"
                           ng-click="launchProcessing(); displayTab('JOB')">
                    Execute / Launch
                </md-button>

                <div class="gray" ng-if="info">{{info}}</div>

            </div>

        </div>
    </div>

</div>
