<div id="workspace-panel" class="panel panel-default">

    <md-toolbar md-scroll-shrink class="sidebar-subheader">
        <div class="md-toolbar-tools">
            <div class="col-xs-12">
                <span>Workspace</span>
            </div>
        </div>
    </md-toolbar>

    <div class="panel-body">

        <section ng-if="!serviceParams.selectedService">
            <div class="row top-title service-header">
                <md-subheader class="md-subheader-top service-title" ng-hide="isWorkspaceLoading">
                     No Selected Service
                </md-subheader>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="note">Please select a service from the service panel first.</div>
                </div>
            </div>
        </section>

        <div class="info" ng-show="isWpsLoading">Loading...</div>

        <div ng-if="serviceParams.selectedService" ng-hide="isWorkspaceLoading">

            <section class="workspace-header">

                <div class="row service-header">
                    <md-subheader class="md-subheader-top service-title">
                        {{serviceParams.selectedService.name}}
                    </md-subheader>
                </div>

                <div class="row service-description-title">
                    <div class="col-md-12">
                        <h4 ng-bind="serviceParams.selectedService.serviceDescriptor.title"></h4>
                    </div>
                </div>

                <div class="row service-description">
                    <div class="col-md-12">
                        <h5 ng-bind="serviceParams.selectedService.serviceDescriptor.description"></h5>
                    </div>
                </div>

            </section>

            <section class="workspace-content item-list">

                <form id="serviceForm" name="serviceForm">

                    <div class="service-field" ng-repeat="fieldDesc in serviceParams.selectedService.serviceDescriptor.dataInputs">

                        <div class="input-container">

                            <div class="row input-header">
                                <md-subheader class="md-accent">
                                    <span uib-tooltip="{{fieldDesc.title}}"
                                        tooltip-placement="top"
                                        tooltip-trigger="mouseenter"
                                        tooltip-append-to-body="true">{{fieldDesc.title}}</span>
                                    <span class="required-asterisk" ng-show="fieldDesc.minOccurs > 0">*</span>

                                    <md-checkbox ng-model="serviceParams.parallelParameters[fieldDesc.id]"
                                                 aria-label="Enable Parallel Processing" class="workspace-header-checkbox"
                                                 ng-if="fieldDesc.parallelParameter"
                                                 uib-tooltip="If checked, this Job will execute in 'parallel' mode. Each value of this parameter will result in its own Sub-Job, in which the other parameters are kept constant. The results may be viewed individually or as a group from the parent Job."
                                                 tooltip-placement="top"
                                                 tooltip-trigger="mouseenter"
                                                 tooltip-append-to-body="true">
                                        Enable Parallel Processing
                                    </md-checkbox>

                                <button type="button input-button"
                                        class="btn"
                                        ng-show="fieldDesc.id == 'aoi'"
                                        ng-click="pastePolygon(fieldDesc.id)"
                                        aria-label="Copy From Map"
                                        uib-tooltip="Copy From Map"
                                        tooltip-placement="right"
                                        tooltip-trigger="mouseenter"
                                        tooltip-append-to-body="true">
                                    <i class="material-icons">content_copy</i>
                                </button>

                                </md-subheader>
                            </div>

                            <div class="row input-item">
                               <div class="col-md-12 no-padding">
                                   <div ng-if="fieldDesc.dataReference">
                                       <input ng-show="false" type="{{fieldDesc.defaultAttrs.dataType}}"
                                              ng-model="serviceParams.inputValues[fieldDesc.id]"
                                              ng-init="serviceParams.inputValues[fieldDesc.id] = getDefaultValue(fieldDesc)"
                                              ng-required="fieldDesc.minOccurs > 0"
                                              aria-label="hidden"
                                              name="{{ fieldDesc.id }}">
                                        <md-input-container md-no-float>
                                            <input id="{{ fieldDesc.id }}"
                                                   ng-model="inputVal"
                                                   type="{{fieldDesc.defaultAttrs.dataType}}"
                                                   dnd-list="serviceParams.inputValues[fieldDesc.id]"
                                                   dnd-drop="onDrop(item, fieldDesc.id)"
                                                   aria-label="{{fieldDesc.id}}">
                                            <md-icon style="display:inline-block;">
                                                <md-button class="toolbar-button md-secondary add-input-value-button" ng-click="addItem(fieldDesc.id, inputVal); inputVal=''">
                                                    <i class="material-icons">add</i>
                                                </md-button>
                                            </md-icon>
                                            <div class="hint" ng-show="true">{{fieldDesc.description}}</div>
                                        </md-input-container>
                                   </div>

                                   <div ng-if="!fieldDesc.dataReference && fieldDesc.defaultAttrs.dataType === 'string' && (!fieldDesc.defaultAttrs.allowedValues || fieldDesc.defaultAttrs.allowedValues === '')">
                                       <md-input-container md-no-float>
                                           <input id="{{ fieldDesc.id }}" name="{{ fieldDesc.id }}"
                                                  ng-model="serviceParams.inputValues[fieldDesc.id]"
                                                  ng-init="serviceParams.inputValues[fieldDesc.id] = getDefaultValue(fieldDesc)"
                                                  type="{{fieldDesc.defaultAttrs.dataType}}"
                                                  ng-required="{{fieldDesc.minOccurs > 0}}"
                                                  aria-label="{{fieldDesc.title}}">
                                           <div class="hint" ng-show="true">{{fieldDesc.description}}</div>
                                       </md-input-container>
                                   </div>
                                   <md-input-container  ng-if="fieldDesc.defaultAttrs.dataType !== 'string' || (fieldDesc.defaultAttrs.allowedValues && fieldDesc.defaultAttrs.allowedValues !== '')">
                                       <md-select ng-model="serviceParams.inputValues[fieldDesc.id]"
                                                  ng-init="serviceParams.inputValues[fieldDesc.id] = getDefaultValue(fieldDesc).toString()"
                                                  default-attrs="{{fieldDesc.defaultAttrs}}"
                                                  ng-required="{{fieldDesc.minOccurs > 0}}"
                                                  description="{{fieldDesc.description}}"
                                                  aria-label="{{fieldDesc.id}}">
                                           <md-option ng-repeat="attr in fieldDesc.defaultAttrs.allowedValues.split(',')" value="{{attr}}" >
                                               {{attr}}
                                           </md-option>
                                       </md-select>
                                       <div class="hint">{{fieldDesc.description}}</div>
                                   </md-input-container>
                               </div>
                           </div>

                            <md-list class="drag-list-item" ng-if="fieldDesc.dataReference === true">
                                <md-list-item class="md-2-line" ng-repeat="item in serviceParams.inputValues[fieldDesc.id]" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <div class="md-list-item-text">
                                        <p><small>{{item}}</small></p>
                                    </div>
                                    <md-button class="md-secondary">
                                        <i class="material-icons" ng-click="removeSelectedItem(fieldDesc.id, item)">close</i>
                                    </md-button>
                                </md-list-item>
                            </md-list>

                        </div>
                    </div>

                   <div class="service-field">
                        <div class="input-container">
                            <div class="row input-header">
                                <md-subheader class="md-accent">
                                    <span uib-tooltip="Label"
                                        tooltip-placement="top"
                                        tooltip-trigger="mouseenter"
                                        tooltip-append-to-body="true">Label</span>
                                </md-subheader>
                            </div>
                            <div class="row input-item">
                               <div class="col-md-12 no-padding">
                                    <md-input-container md-no-float>
                                        <input ng-model="serviceParams.label"
                                               type="string"
                                               aria-label="Label">
                                        <div class="hint" ng-show="true">Optional tag for identifying this job</div>
                                     </md-input-container>
                               </div>
                           </div>
                       </div>
                   </div>

                    <md-button id="launch-button"
                               class="icon-button md-icon-button md-fab md-mini btn-success"
                               form="serviceForm"
                               ng-disabled="serviceForm.$invalid"
                               ng-hide="isWorkspaceLoading"
                               aria-label="Launch"
                               ng-click="launchProcessing($event)"
                               uib-tooltip="Launch"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">play_arrow</i>
                    </md-button>

                </form>

            </section>

        </div>

    </div>

</div>
