<div id="workspace-panel" class="panel panel-default">

    <md-toolbar md-scroll-shrink class="sidebar-subheader">
        <div class="md-toolbar-tools">
            <div class="col-xs-12">
                <span>Workspace</span>
                <md-checkbox ng-if="serviceParams.selectedService.easyModeServiceDescriptor.dataInputs"
                             ng-model="serviceParams.config.advancedMode"
                             class="workspace-mode-toggle"
                             aria-label="Advanced Mode Selection" class="workspace-header-checkbox"
                             uib-tooltip="{{ serviceParams.config.advancedMode ? 'Advanced Mode Enabled' : 'Enable Advanced Mode' }}"
                             tooltip-placement="top"
                             tooltip-trigger="mouseenter"
                             tooltip-append-to-body="true">Advanced Mode
                </md-checkbox>
            </div>
        </div>
    </md-toolbar>

    <div class="panel-body">

        <section ng-if="!serviceParams.selectedService">
            <div class="row top-title service-header">
                <md-subheader class="md-subheader-top service-title">
                     No Selected Service
                </md-subheader>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="note">Please select a service from the service panel first.</div>
                </div>
            </div>
        </section>

        <div class="info" ng-show="isWpsLoading">Loading...</div>

        <div ng-if="serviceParams.selectedService">

            <section class="workspace-header">

                <div class="row service-header">
                    <md-subheader class="md-subheader-top service-title">
                        {{serviceParams.selectedService.name}}
                    </md-subheader>
                </div>

                <div class="row service-description-title">
                    <div class="col-md-12">
                        <h4 ng-bind="serviceParams.selectedService.serviceDescriptor.title"></h4>
                    </div>
                </div>

                <div class="row service-description">
                    <div class="col-md-12">
                        <h5 ng-bind="serviceParams.selectedService.serviceDescriptor.description"></h5>
                    </div>
                </div>

            </section>

            <section class="workspace-content item-list">

                <form id="serviceForm" name="serviceForm">

                    
                    <md-input-container class="row" ng-if="serviceParams.selectedService.type !== 'APPLICATION'">
                        <div class="col-xs-12">
                            <md-subheader class="md-accent md-subheader-title">
                                <span>Processor running mode</span>
                            </md-subheader>
                        </div>
                        <div class="col-xs-12">
                            <md-select ng-model="serviceParams.runMode" aria-label="Run mode" ng-change="onRunModeChange()">
                                <md-option ng-repeat="mode in runModes" ng-value="mode.id">
                                    {{mode.name}}
                                </md-option>
                            </md-select>
                        </div>
                    </md-input-container>
    
    
                    <md-input-container class="row" ng-if="serviceParams.runMode === runModes.SYSTEMATIC.id">
                        <div class="col-xs-12">
                            <md-subheader class="md-accent md-subheader-title">
                                <span>Data input parameter</span>
                            </md-subheader>
                        </div>
                        <div class="col-xs-12">
                            <md-select ng-model="serviceParams.systematicParameter" aria-label="Data input parameter">
                                <md-option ng-repeat="input in serviceParams.selectedService.serviceDescriptor.dataInputs" ng-value="input.id">
                                    {{input.title}}
                                </md-option>
                            </md-select>
                        </div>
                    </md-input-container>
    
    
                    <div ng-if="serviceParams.config.advancedMode || !serviceParams.selectedService.easyModeServiceDescriptor.dataInputs" 
                         class="service-field"
                         ng-repeat="fieldDesc in serviceParams.selectedService.serviceDescriptor.dataInputs"
                         ng-include src="'views/common/templates/workspacefields.tmpl.html'">
                    </div>

                    <div ng-if="!serviceParams.config.advancedMode  && serviceParams.selectedService.easyModeServiceDescriptor.dataInputs"
                         class="service-field"
                         ng-repeat="fieldDesc in serviceParams.selectedService.easyModeServiceDescriptor.dataInputs"
                         ng-include src="'views/common/templates/workspacefields.tmpl.html'">
                    </div>

                    <div class="service-field">
                        <div class="input-container">
                            <div class="row input-header">
                                <md-subheader class="md-accent">
                                    <span uib-tooltip="Label"
                                          tooltip-placement="top"
                                          tooltip-trigger="mouseenter"
                                          tooltip-append-to-body="true">Label</span>
                                </md-subheader>
                            </div>
                            <div class="row input-item">
                                <div class="col-md-12 no-padding">
                                    <md-input-container md-no-float>
                                        <input ng-model="serviceParams.config.label"
                                               type="string"
                                               aria-label="Label">
                                        <div class="hint" ng-show="true">Optional tag for identifying this job</div>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <md-button id="launch-button"
                               class="icon-button md-icon-button md-fab md-mini btn-success"
                               form="serviceForm"
                               ng-disabled="serviceForm.$invalid"
                               aria-label="Launch"
                               ng-click="launchProcessing($event)"
                               uib-tooltip="Launch"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">play_arrow</i>
                    </md-button>

                    <dynamic-form form-config="searchForm.config" api="searchForm.api" form-data="searchForm.data" ng-if="serviceParams.runMode === runModes.SYSTEMATIC.id"></dynamic-form>

                </form>

            </section>

        </div>

    </div>

</div>
