<md-button id="save-service"
           class="save-button md-fab md-mini right"
           ng-click="updateService()"
           ng-disabled="serviceForm.$invalid"
           aria-label="Save Service"
           uib-tooltip="Save Service"
           tooltip-placement="top"
           tooltip-trigger="mouseenter"
           tooltip-append-to-body="true">
        <i class="material-icons">save</i>
</md-button>

<form id="service-form" name="serviceForm">

    <section id="service-header" class="row">
        <div class="service-field col-md-4 no-padding">
            <md-input-container md-no-float>
                <label>File Name</label>
                <input ng-model="serviceParams.selectedService.name" type="text" placeholder="Name*" required>
            </md-input-container>
        </div>
        <div class="service-field col-md-4 no-padding">
            <md-input-container md-no-float>
                <label>Docker Tag</label>
                <input ng-model="serviceParams.selectedService.dockerTag" type="text" placeholder="Docker Tag*" required>
            </md-input-container>
        </div>
        <div class="col-md-12 service-field no-padding">
            <md-input-container md-no-float class="service-description">
                <label>Description</label>
                <input ng-model="serviceParams.selectedService.description" type="text" placeholder="Description">
            </md-input-container>
        </div>
    </section>

    <md-tabs id="editor-tabs" md-selected="1">
         <md-tab ng-repeat="file in serviceParams.selectedService.files">
            <md-tab-label>
                {{file.filename}}
                <md-button class="tab-button"
                           ng-click="deleteFileDialog($event, file)"
                           ng-hide="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'"
                           aria-label="Delete File"
                           uib-tooltip="Delete File"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                    <i class="material-icons">close</i>
                </md-button>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                    <div class="tab-content">
                        <md-input-container class="executable" md-no-float ng-hide="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'">
                            <md-checkbox ng-model="file.executable" aria-label="Executable">
                                Executable
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container md-no-float class="md-block file-editor">
                            <textarea ng-model="file.content" md-select-on-focus placeholder="Add file content.." rows="14"></textarea>
                        </md-input-container>

                    </div>
                </md-content>
            </md-tab-body>
        </md-tab>
        <md-tab ng-click="createFileDialog($event)">
            <md-tab-label>
                <md-button class="tab-button add-button"
                   aria-label="Add File"
                   uib-tooltip="Add File"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">
                    <i class="material-icons">add</i>
                </md-button>
            </md-tab-label>
            <md-tab-body>
                <md-content class="md-padding">
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>

</form>
