<md-button id="save-service"
           class="save-button md-fab md-mini right"
           ng-click="updateService()"
           ng-disabled="serviceForm.$invalid"
           aria-label="Save Service"
           uib-tooltip="Save Service"
           tooltip-placement="top"
           tooltip-trigger="mouseenter"
           tooltip-append-to-body="true">
        <i class="material-icons">save</i>
</md-button>

<form id="service-form" name="serviceForm">

    <section id="service-header" class="row">
        <div class="service-field col-md-2 no-padding">
            <md-input-container md-no-float>
                <label>Service Name</label>
                <input ng-model="serviceParams.selectedService.name" type="text" placeholder="Name*" required>
            </md-input-container>
        </div>
        <div class="service-field col-md-2 no-padding">
            <md-input-container md-no-float>
                <label>Docker Tag</label>
                <input ng-model="serviceParams.selectedService.dockerTag" type="text" placeholder="Docker Tag*" required>
            </md-input-container>
        </div>
        <div class="col-md-7 service-field no-padding">
            <md-input-container id="service-description" md-no-float>
                <label>Description</label>
                <input ng-model="serviceParams.selectedService.description" type="text" placeholder="Description">
            </md-input-container>
        </div>
        <div class="col-md-1 service-field no-padding">
        </div>
    </section>

    <section>
        <ul id="editor-area-list">
            <li ng-class="{active: serviceParams.activeArea === formArea}" ng-repeat="formArea in serviceForms" ng-click="serviceParams.activeArea = formArea">
                {{formArea.title | uppercase}}
            </li>
        </ul>
    </section>

    <section id="editor-tabs" ng-show="serviceParams.activeArea === serviceForms.files">
        <md-tabs md-selected="1">
             <md-tab ng-repeat="file in serviceParams.selectedService.files">
                <md-tab-label>
                    {{file.filename}}
                    <md-button class="tab-button"
                               ng-click="deleteFileDialog($event, file)"
                               ng-hide="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'"
                               aria-label="Delete File"
                               uib-tooltip="Delete File"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">close</i>
                    </md-button>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                        <div class="tab-content">
                            <md-input-container class="executable" md-no-float>
                                <md-checkbox ng-model="file.executable" aria-label="Executable" ng-disabled="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'">
                                    Executable
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container md-no-float class="md-block file-editor">
                                <textarea ng-model="file.content" md-select-on-focus placeholder="Add file content.." rows="14"></textarea>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="createFileDialog($event)">
                <md-tab-label>
                    <md-button class="tab-button add-button"
                       aria-label="Add File"
                       uib-tooltip="Add File"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        <i class="material-icons">add</i>
                    </md-button>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </section>

    <section class="field-definitions" ng-repeat="key in constants.serviceFields" ng-show="serviceParams.activeArea === serviceForms[key]">
        <div class="row header">
            <div class="col-md-2">Id</div>
            <div class="col-md-2">Title</div>
            <div class="col-md-3">Description</div>
            <div class="col-md-2">Type</div>
            <div class="col-md-1">Min Occurs</div>
            <div class="col-md-1">Max Occurs</div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" ng-repeat="input in serviceParams.selectedService.serviceDescriptor[key]">
            <div class="col-md-2">
                <md-input-container md-no-float>
                    <input ng-model="input.id" type="text" placeholder="Field id*" required/>
                    <span class="error-message" ng-show="isValidFieldId(input, key) === false">Field id must be unique!</span>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container md-no-float>
                    <textarea ng-model="input.title" placeholder="Field title*" required/>
                </md-input-container>
            </div>
            <div class="col-md-3">
                <md-input-container md-no-float>
                    <textarea ng-model="input.description" placeholder="Field description"/>
                </md-input-container>
            </div>
            <div class="col-md-2">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-select ng-model="input.defaultAttr.dataType" required>
                        <md-option ng-repeat="type in constants.fieldTypes" ng-value="type" ng-selected="$first">
                            {{type.type}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-1">
                <md-input-container md-no-float>
                    <input ng-model="input.minOccurs" type="number" min="0" placeholder="Min Occurs"/>
                </md-input-container>
            </div>
            <div class="col-md-1">
                <md-input-container md-no-float>
                    <input ng-model="input.maxOccurs" type="number" min="0" placeholder="Max Occurs"/>
                </md-input-container>
            </div>
            <div class="col-md-1">
                <md-button ng-click="removeRow(serviceParams.selectedService.serviceDescriptor[key], input)"
                   class="remove-button"
                   aria-label="Remove Row"
                   uib-tooltip="Remove Row"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">
                    <i class="material-icons">remove</i>
                </md-button>
            </div>
        </div>
        <md-button ng-click="addNewRow(key)"
                   class="add-button"
                   aria-label="Add New Row"
                   uib-tooltip="Add New Row"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">
            <i class="material-icons">add_box</i>
        </md-button>
    </section>

</form>
