<md-button class="close toolbar-button md-secondary"
           ng-click="serviceParams.selectedService = undefined"
           uib-tooltip="Close"
           tooltip-placement="top"
           tooltip-trigger="mouseenter"
           tooltip-append-to-body="true">
    <i class="material-icons">close</i>
</md-button>

<md-button id="save-service"
           class="save-button md-fab md-mini right"
           ng-click="updateService()"
           ng-disabled="serviceForm.$invalid"
           aria-label="Save Service"
           uib-tooltip="Save Service"
           tooltip-placement="top"
           tooltip-trigger="mouseenter"
           tooltip-append-to-body="true">
        <i class="material-icons">save</i>
</md-button>

<form id="service-form" name="serviceForm">

    <section id="service-header">
        <div class="row">
            <div class="service-field col-md-2 no-padding">
                <md-input-container md-no-float>
                    <label>Service Name</label>
                    <input ng-model="serviceParams.selectedService.name" type="text" placeholder="Name*" required>
                </md-input-container>
            </div>
            <div class="service-field col-md-2 no-padding">
                <md-input-container md-no-float>
                    <label>Docker Tag</label>
                    <input ng-model="serviceParams.selectedService.dockerTag" type="text" placeholder="Docker Tag" disabled>
                </md-input-container>
            </div>
            <div class="col-md-7 service-field no-padding">
                <md-input-container id="service-description" md-no-float>
                    <label>Description</label>
                    <input ng-model="serviceParams.selectedService.description" type="text" placeholder="Description">
                </md-input-container>
            </div>
            <div class="col-md-1 service-field no-padding">
            </div>
        </div>
        <div class="row">
            <div class="service-field col-md-2 no-padding">
                <md-input-container md-no-float>
                    <label>Version</label>
                    <input ng-model="serviceParams.selectedService.serviceDescriptor.version" type="text" placeholder="Version">
                </md-input-container>
            </div>
            <div class="service-field col-md-2 no-padding">
                <md-input-container md-no-float>
                    <label>Service Type</label>
                    <input ng-model="serviceParams.selectedService.serviceDescriptor.serviceType" type="text" placeholder="Service Type">
                </md-input-container>
            </div>
            <div class="col-md-7 service-field no-padding">
                <md-input-container id="service-description" md-no-float>
                    <label>Summary</label>
                    <input ng-model="serviceParams.selectedService.serviceDescriptor.title" type="text" placeholder="Summary">
                </md-input-container>
            </div>
            <div class="col-md-1 service-field no-padding">
            </div>
        </div>
    </section>

    <section>
        <ul id="editor-area-list">
            <li ng-class="{active: serviceParams.activeArea === formArea}" ng-repeat="formArea in serviceForms" ng-click="serviceParams.activeArea = formArea">
                {{formArea.title | uppercase}}
            </li>
        </ul>
    </section>

    <section id="editor-tabs" ng-show="serviceParams.activeArea === serviceForms.files">
        <md-tabs md-selected="1">
             <md-tab ng-repeat="file in serviceParams.selectedService.files" ng-click="selectDefaultMode(file)">
                <md-tab-label>
                    {{file.filename}}
                    <md-button class="tab-button"
                               ng-click="deleteFileDialog($event, file)"
                               ng-hide="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'"
                               aria-label="Delete File"
                               uib-tooltip="Delete File"
                               tooltip-placement="top"
                               tooltip-trigger="mouseenter"
                               tooltip-append-to-body="true">
                        <i class="material-icons">close</i>
                    </md-button>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                        <div class="tab-content">
                            <md-input-container md-no-float class="md-block file-editor">

                                <div class="row file-settings">
                                        <label class="input-label">Executable:</label>
                                        <md-checkbox class="executable"
                                                     ng-model="file.executable"
                                                     aria-label="Executable"
                                                     ng-disabled="file.filename === 'Dockerfile' || file.filename === 'workflow.sh'">
                                        </md-checkbox>
                                </div>

                                <textarea class="file-contents"
                                      ng-model="file.content"
                                      md-select-on-focus
                                      placeholder="Add file content..">Loading...</textarea >

                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="createFileDialog($event)">
                <md-tab-label>
                    <md-button class="tab-button add-button"
                       aria-label="Add File"
                       uib-tooltip="Add File"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        <i class="material-icons">add</i>
                    </md-button>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </section>

    <section class="field-definitions" ng-repeat="key in constants.serviceFields" ng-show="serviceParams.activeArea === serviceForms[key]">
        <div class="row header">
            <div class="col-md-2 no-padding">Id</div>
            <div class="col-md-2 no-padding">Title</div>
            <div class="col-md-3 no-padding">Description</div>
            <div class="col-md-2 no-padding">Type</div>
            <div class="col-md-1 no-padding">Min Occurs</div>
            <div class="col-md-1 no-padding">Max Occurs</div>
            <div class="col-md-1 no-padding"></div>
        </div>
        <div class="row" ng-repeat="input in serviceParams.selectedService.serviceDescriptor[key]">
            <div class="col-md-2 no-padding">
                <md-input-container md-no-float>
                    <input ng-model="input.id" type="text" placeholder="Field id*" required/>
                    <span class="error-message" ng-show="isValidFieldId(input, key) === false">Field id must be unique!</span>
                </md-input-container>
            </div>
            <div class="col-md-2 no-padding">
                <md-input-container md-no-float>
                    <textarea ng-model="input.title" placeholder="Field title*" required/>
                </md-input-container>
            </div>
            <div class="col-md-3 no-padding">
                <md-input-container md-no-float>
                    <textarea ng-model="input.description" placeholder="Field description"/>
                </md-input-container>
            </div>
            <div class="col-md-2">
                    <div class="col-md-10 no-padding">
                        <md-input-container class="md-block" flex-gt-sm ng-if="input.data === 'LITERAL'">
                            <md-select ng-model="input.defaultAttrs.dataType" required>
                                <md-option ng-repeat="type in constants.literalTypes" ng-value="type.dataType" ng-selected="$first">
                                    {{type.dataType}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm ng-if="input.data === 'COMPLEX'">
                            <input ng-model="input.defaultAttrs.mimeType" type="text" placeholder="mimeType" required/>
                        </md-input-container>
                    </div>
                    <div class="col-md-2 no-padding">
                       <md-button ng-click="editTypeDialog($event, input, constants)"
                           class="type-button"
                           aria-label="More"
                           uib-tooltip="More"
                           tooltip-trigger="mouseenter"
                           tooltip-append-to-body="true">
                            <i class="material-icons">edit</i>
                        </md-button>
                    </div>
            </div>
            <div class="col-md-1 no-padding">
                <md-input-container md-no-float>
                    <input ng-model="input.minOccurs" type="number" min="0" placeholder="Min Occurs"/>
                </md-input-container>
            </div>
            <div class="col-md-1 no-padding">
                <md-input-container md-no-float>
                    <input ng-model="input.maxOccurs" type="number" min="0" placeholder="Max Occurs"/>
                </md-input-container>
            </div>
            <div class="col-md-1 no-padding centre">
                <md-button ng-click="removeRow(serviceParams.selectedService.serviceDescriptor[key], input)"
                   class="remove-button"
                   aria-label="Remove Row"
                   uib-tooltip="Remove Row"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">
                    <i class="material-icons">remove</i>
                </md-button>
            </div>
        </div>
        <md-button ng-click="addNewRow(key)"
                   class="add-button"
                   aria-label="Add New Row"
                   uib-tooltip="Add New Row"
                   tooltip-trigger="mouseenter"
                   tooltip-append-to-body="true">
            <i class="material-icons">add_box</i>
        </md-button>
    </section>

</form>
