<div class="row content-container" ng-controller="ServiceCtrl">

    <article id="services"
             class="col-md-4 col-xl-3 col-xxl-2 no-padding left-container"
             media-show="gt-sm" media-show-on="{{serviceParams.selectedService == undefined}}"
             ng-include src="'views/developer/services/services.html'" />

    <article id="service-editor"
             class="col-md-8 col-xl-9 col-xxl-10 right-container"
             ng-include src="'views/developer/services/editor.html'"
             ng-if="serviceParams.selectedService" />
</div>
