<div class="tab-content-container row" ng-controller="CommunityProjectsCtrl">

    <article id="projects-container"
             class="col-md-4 col-xl-3 col-xxl-2 no-padding left-container"
             ng-include src="'views/community/common/projects/projects.html'" />

    <article id="project-manage-container"
             class="col-md-8 col-xl-9 col-xxl-10 right-container"
             ng-include ng-controller="CommunityManageProjectCtrl"
             src="'views/community/manage/projects/project.html'"
             ng-if="projectParams.selectedProject && navInfo.activeSideNav === 0"/>

    <article id="project-share-container"
             class="col-md-8 col-xl-9 col-xxl-10 right-container"
             ng-include ng-controller="CommunityShareProjectCtrl"
             src="'views/community/share/projects/project.html'"
             ng-if="projectParams.selectedProject && navInfo.activeSideNav === 1" />
</div>
