<section id="sidebar-list">

    <div class="filter-list">
        <ul class="list">

            <div class="row list-group filter-list-title">

                <div class="col-xs-10" ng-click="toggleFilters()">
                    <label class="md-accent">Filters</label>
                </div>

                <div class="col-xs-2 expander">
                    <i class="material-icons"
                       ng-show="!projectParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Show Filters"
                       uib-tooltip="Show Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_less
                    </i>
                    <i class="material-icons"
                       ng-show="projectParams.displayFilters"
                       ng-click="toggleFilters()"
                       aria-label="Hide Filters"
                       uib-tooltip="Hide Filters"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                        expand_more
                    </i>
                </div>

            </div>

            <md-input-container md-no-float ng-show="projectParams.displayFilters">
                <input ng-model="projectParams.searchText" type="text" placeholder="Search" ng-keyup="filter()">
            </md-input-container>

            <div class="row filter-radiobutton" ng-show="projectParams.displayFilters">
                <md-radio-group ng-model="projectParams.selectedOwnershipFilter" ng-change="filter()">
                    <div ng-repeat="ownershipFilter in projectOwnershipFilters" class="col-md-12 col-lg-4 no-padding">
                        <md-radio-button ng-value="ownershipFilter">
                            {{ownershipFilter.name}}
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>

        </ul>
    </div>

    <div class="row" ng-if="!projectParams.projects.length > 0">
        <div class="col-md-12 no-padding">
            <div class="note">No projects found. To add a project use the + button below.</div>
        </div>
    </div>

    <div class="item-list list" ng-if="projectParams.projects.length > 0">
        <md-list-item class="md-3-line"
                      ng-repeat="(key, project) in projectParams.projects"
                      ng-click="selectProject(project)"
                      ng-class="{active: project.id == projectParams.selectedProject.id}">

            <div class="md-avatar" ng-show="navInfo.activeSideNav === 1">
                <i class="material-icons" aria-label="Share">share</i>
            </div>

            <div class="md-list-item-text" layout="column">
                <h3 class="selectable" ng-bind="project.name" />
                <span><b>Owner:</b> <span ng-bind="project.owner.name" /></span>
                <span><b>Items:</b> <span ng-bind="project.size" /></span>
            </div>

            <md-button class="toolbar-button md-secondary"
                       aria-label="Project Info"
                       uib-popover-template="'views/common/templates/projectinfo.tmpl.html'"
                       popover-placement="right"
                       popover-trigger="'mouseenter'"
                       popover-append-to-body="true">
                <i class="material-icons">info_outline</i>
            </md-button>

            <md-button class="toolbar-button md-secondary"
                       ng-show="navInfo.activeSideNav === 0"
                       ng-click="editItemDialog($event, project)"
                       has-permission="WRITE" permission-source="{{project}}"
                       aria-label="Edit"
                       uib-tooltip="Edit"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                       tooltip-append-to-body="true">
                <i class="material-icons">create</i>
            </md-button>

        </md-list-item>

        <div id="paging" ftep-paging="{{projectParams.pagingData}}"></div>

    </div>

</section>

<section id="create-project">
    <md-button id="create-project-button"
               class="icon-button md-icon-button md-fab md-mini"
               ng-click="createItemDialog($event)"
               aria-label="Create New {{item}}"
               uib-tooltip="Create New {{item}}"
               tooltip-placement="top"
               tooltip-trigger="mouseenter"
               tooltip-append-to-body="true">
        <i class="material-icons">add</i>
    </md-button>
</section>
